{% extends "menu.html" %}
{% block content %}
<section class="mbr-section mbr-after-navbar" id="form1-5" style="background-color: rgb(255, 255, 255); padding-top: 120px; padding-bottom: 120px;">
    <div class="mbr-section mbr-section__container mbr-section__container--middle">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-xs-center">
                    <h3 class="mbr-section-title display-2">Ambiente Principal</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="mbr-section mbr-section-nopadding">
        <div class="container">
                    <form action="{{action}}" method="post" id="fabric_env_form">
                        {% csrf_token %}
                        <div class="row form-group">
                            <h1 class="mbr-section-subtitle display-4 text-xs-center">Nome do Ambiente</h1>
                            <div class="col-xs-12 col-md-4">
                                <select id="id_select_divisaodc" name="select_divisaodc" class="form-control input-lg">
                                    <option selected="selected" disabled>Select Divisão DC</option>
                                    {% for item in env_dc %}
                                    <option value="{{item.id}}">{{item.nome}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-xs-12 col-md-4">
                                <select id="id_select_env_log" name="select_env_log" class="form-control input-lg">
                                    <option selected="selected" disabled>Select Ambiente Lógico</option>
                                    {% for item in env_logic %}
                                    <option value="{{item.id}}">{{item.nome}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-xs-12 col-md-4">
                                <select id="id_select_env_l3" name="select_env_l3" class="form-control input-lg">
                                    <option selected="selected" disabled>Select Ambiente L3</option>
                                    {% for item in env_l3 %}
                                    <option value="{{item.id}}">{{item.nome}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row form-group">
                            <h1 class="mbr-section-subtitle display-4 text-xs-center">ACL</h1>
                            <div class="col-xs-12 col-md-4">
                                <label class="form-control-label">Template V4</label>
                                <input type="text" class="form-control" name="envtemplateaclv4" data-form-field="fabric_envtemplateacl" id="fabric_form_template" placeholder="Template.txt">
                            </div>
                            <div class="col-xs-12 col-md-4">
                                <label class="form-control-label">Template V6</label>
                                <input type="text" class="form-control" name="envtemplateaclv6" data-form-field="fabric_envtemplateacl" id="fabric_form_template" placeholder="Template.txt">
                            </div>
                            <div class="col-xs-12 col-md-4">
                                <label class="form-control-label">Path</label>
                                <input type="text" class="form-control" name="envpathacl" data-form-field="fabric_envpathacl" id="fabric_form_acl" placeholder="BEACL">
                            </div>
                        </div>
                        <div class="row form-group">
                            <h1 class="mbr-section-subtitle display-4 text-xs-center">Filtros</h1>
                            <div class="col-xs-12 col-md-4">
                                <label class="form-control-label">Filtro</label>
                                <select id="id_select_filter" name="select_filter" class="form-control input-lg">
                                    <option selected="selected" disabled>Select Filter</option>
                                    {% for item in filters %}
                                    <option value="{{item.id}}">{{item.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-xs-12 col-md-4">
                                <label class="form-control-label">VRF<span class="form-asterisk">*</span></label>
                                <select id="id_select_vrf" name="select_vrf" class="form-control input-lg">
                                    <option selected="selected" disabled>Select VRF</option>
                                    {% for item in vrfs %}
                                    <option value="{{item}}">{{item.vrf}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-xs-12 col-md-2">
                                <label class="form-control-label" for="form1-5-name">Vlans Min</label>
                                <input type="text" class="form-control" name="vlanmin" data-form-field="fabric_vlanname" id="fabric_form_vlans" placeholder="1">
                            </div>
                            <div class="col-xs-12 col-md-2">
                                <label class="form-control-label" for="form1-5-name">Máx</label>
                                <input type="text" class="form-control" name="vlanmax" data-form-field="fabric_vlanname" id="fabric_form_vlans" placeholder="4096">
                            </div>
                        </div>
                        <div class="row form-group">
                            <h1 class="mbr-section-subtitle display-4 text-xs-center">CIDR</h1>
                            <div class="col-xs-12 col-md-5">
                                <label class="form-control-label" for="form1-5-name">Bloco IPv4</label>
                                <input type="text" class="form-control" name="ipv4range" data-form-field="fabric_ipv4range" id="fabric_form_v4" placeholder="0.0.0.0/22">
                            </div>
                            <div class="col-xs-12 col-md-3">
                                <label class="form-control-label" for="form1-5-name">Prefixo</label>
                                <input type="text" class="form-control" name="prefixv4" data-form-field="fabric_prefixv4" id="fabric_form_pfxv4" placeholder="24">
                            </div>
                            <div class="col-xs-12 col-md-4">
                                <label class="form-control-label" for="form1-5-name">Tipo de rede</label>
                                <select id="id_env_type" name="env_type" class="form-control input-lg">
                                    <option selected="selected" disabled>Select o Tipo da Rede</option>
                                    {% for item in net_type_list %}
                                    <option value="{{item.id}}">{{item.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-xs-12 col-md-5">
                                <label class="form-control-label" for="form1-5-name">Bloco IPv6 </label>
                                <input type="text" class="form-control" name="ipv6range" data-form-field="fabric_ipv6range" id="fabric_form_v6" placeholder="2001:0db8:cafe::/118">
                            </div>
                            <div class="col-xs-12 col-md-3">
                                <label class="form-control-label" for="form1-5-name">Prefixo</label>
                                <input type="text" class="form-control" name="prefixv6" data-form-field="fabric_prefixv6" id="fabric_form_pfxv6" placeholder="120">
                            </div>
                        </div>
                        <br><br><br><br>
                        <div class="text-xs-center">
                            <a class="btn btn-danger-outline btn-danger" href="{% url fabric.cadastro fabric_id %}">Voltar</a>
                            <button type="submit" class="btn btn-success-outline btn-success"> + </button>
                            <a class="btn btn-success-outline btn-success" href="{% url fabric.bgp fabric_id %}">Continuar</a>
                        </div>
                    </form>

        </div>
    </div>
</section>
{% endblock %}
