{% extends "menu.html" %}

{% block content %}
<section class="mbr-section mbr-after-navbar" id="form1-5" style="background-color: rgb(255, 255, 255); padding-top: 120px; padding-bottom: 120px;">
    <div class="mbr-section mbr-section-nopadding">
        <div class="container">
                    <form action="{{action}}" method="post" id="fabric_env_form">
                        {% csrf_token %}
                        <div class="row form-group">
                            <h3 class="mbr-section-title display-4 text-xs-center">
                                <p>Redes Externas ao Rack</p>
                                <p>SPINE - LEAF</p>
                            </h3>
                        </div>
                        <div class="row form-group">
                            <div class="col-xs-12 col-md-5">
                                <label class="form-control-label" for="fabric_form_v4">CIDR Ipv4 por Fabric</label>
                                <input type="text" class="form-control" name="ipv4range" id="fabric_form_v4"
                                       data-form-field="fabric_ipv4range" placeholder="0.0.0.0/22">
                            </div>
                            <div class="col-xs-12 col-md-3">
                                <label class="form-control-label" for="fabric_form_pfxv4">Mascara da rede por Spine</label>
                                <input type="number" class="form-control" name="prefixv4" id="fabric_form_pfxv4"
                                       data-form-field="fabric_prefixv4" placeholder="24">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-xs-12 col-md-5">
                                <label class="form-control-label" for="fabric_form_v6">CIDR Ipv6 por Fabric</label>
                                <input type="text" class="form-control" name="ipv6range" id="fabric_form_v6"
                                       data-form-field="fabric_ipv6range" placeholder="2001:0db8:cafe::/118">
                            </div>
                            <div class="col-xs-12 col-md-3">
                                <label class="form-control-label" for="fabric_form_pfxv6">Mascara da rede por Spine</label>
                                <input type="number" class="form-control" name="prefixv6" id="fabric_form_pfxv6"
                                       data-form-field="fabric_prefixv6" placeholder="120">
                            </div>
                        </div>
                        <div class="row form-group">
                            <p class="form-control-label">Range de Vlans por Ambiente por Fabric (Valor mínimo - Valor máximo)</p>
                            <div class="col-xs-12 col-md-3">
                                <label class="form-control-label" for="vlanminspnbe_id">BE</label>
                                <input type="number" class="form-control" name="vlanminspnbe" data-form-field="fabric_vlanname"
                                       id="vlanminspnbe_id" placeholder="1">
                            </div>
                            <div class="col-xs-12 col-md-3">
                                <label class="form-control-label" for="vlanmaxspnbe_id">BE</label>
                                <input type="number" class="form-control" name="vlanmaxspnbe" data-form-field="fabric_vlanname"
                                       id="vlanmaxspnbe_id" placeholder="4096">
                            </div>
                            <div class="col-xs-12 col-md-3">
                                <label class="form-control-label" for="vlanminspnfe_id">FE</label>
                                <input type="number" class="form-control" name="vlanminspnfe" data-form-field="fabric_vlanname"
                                       id="vlanminspnfe_id" placeholder="1">
                            </div>
                            <div class="col-xs-12 col-md-3">
                                <label class="form-control-label" for="vlanmaxspnfe_id">FE</label>
                                <input type="number" class="form-control" name="vlanmaxspnfe" data-form-field="fabric_vlanname"
                                       id="vlanmaxspnfe_id" placeholder="4096">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-xs-12 col-md-3">
                                <label class="form-control-label" for="vlanminspnbo_id">BO</label>
                                <input type="number" class="form-control" name="vlanminspnbo" data-form-field="fabric_vlanname"
                                       id="vlanminspnbo_id" placeholder="1">
                            </div>
                            <div class="col-xs-12 col-md-3">
                                <label class="form-control-label" for="vlanmaxspnbo_id">BO</label>
                                <input type="number" class="form-control" name="vlanmaxspnbo" data-form-field="fabric_vlanname"
                                       id="vlanmaxspnbo_id" placeholder="4096">
                            </div>
                            <div class="col-xs-12 col-md-3">
                                <label class="form-control-label" for="vlanminspnboca_id">BOCA</label>
                                <input type="number" class="form-control" name="vlanminspnboca" data-form-field="fabric_vlanname"
                                       id="vlanminspnboca_id" placeholder="1">
                            </div>
                            <div class="col-xs-12 col-md-3">
                                <label class="form-control-label" for="vlanmaxspnboca_id">BOCA</label>
                                <input type="number" class="form-control" name="vlanmaxspnboca" data-form-field="fabric_vlanname"
                                       id="vlanmaxspnboca_id" placeholder="4096">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-xs-12 col-md-3">
                                <label class="form-control-label" for="vlanminspnbocab_id">BOCA-B</label>
                                <input type="number" class="form-control" name="vlanminspnbocab" data-form-field="fabric_vlanname"
                                       id="vlanminspnbocab_id" placeholder="1">
                            </div>
                            <div class="col-xs-12 col-md-3">
                                <label class="form-control-label" for="vlanmaxspnbocab_id">BOCA-B</label>
                                <input type="number" class="form-control" name="vlanmaxspnbocab" data-form-field="fabric_vlanname"
                                       id="vlanmaxspnbocab_id" placeholder="4096">
                            </div>
                        </div>
                        <br><br><br>
                        <div class="row form-group">
                            <h3 class="mbr-section-title display-4 text-xs-center">
                                <p>Redes Internas ao Rack</p>
                                <p>LEAF - LEAF</p>
                            </h3>
                        </div>
                        <div class="row form-group">
                            <div class="col-xs-12 col-md-5">
                                <label class="form-control-label" for="fabric_form_v4lflf">CIDR Ipv4 por Fabric</label>
                                <input type="text" class="form-control" name="ipv4rangelflf" id="fabric_form_v4lflf"
                                       data-form-field="fabric_ipv4range" placeholder="0.0.0.0/22">
                            </div>
                            <div class="col-xs-12 col-md-3">
                                <label class="form-control-label" for="fabric_form_pfxv4lflf">Mascara da rede por Rack</label>
                                <input type="number" class="form-control" name="prefixv4lflf" id="fabric_form_pfxv4lflf"
                                       data-form-field="fabric_prefixv4" placeholder="31">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-xs-12 col-md-5">
                                <label class="form-control-label" for="fabric_form_v6lflf">CIDR Ipv6 por Fabric</label>
                                <input type="text" class="form-control" name="ipv6rangelflf" id="fabric_form_v6lflf"
                                       data-form-field="fabric_ipv6range" placeholder="2001:0db8:cafe::/118">
                            </div>
                            <div class="col-xs-12 col-md-3">
                                <label class="form-control-label" for="fabric_form_pfxv6lflf">Mascara da rede por Rack</label>
                                <input type="number" class="form-control" name="prefixv6lflf" id="fabric_form_pfxv6lflf"
                                       data-form-field="fabric_prefixv6" placeholder="127">
                            </div>
                        </div>
                        <div class="row form-group">
                            <p class="form-control-label">Número da Vlan por Ambiente por Fabric</p>
                            <div class="col-xs-12 col-md-2">
                                <label class="form-control-label" for="vlanminlflfbe_id">BE</label>
                                <input type="number" class="form-control" name="vlanminlflfbe" data-form-field="fabric_vlanname"
                                       id="vlanminlflfbe_id" placeholder="1">
                            </div>
                            <div class="col-xs-12 col-md-2">
                                <label class="form-control-label" for="vlanminlflffe_id">FE</label>
                                <input type="number" class="form-control" name="vlanminlflffe" data-form-field="fabric_vlanname"
                                       id="vlanminlflffe_id" placeholder="2">
                            </div>
                            <div class="col-xs-12 col-md-2">
                                <label class="form-control-label" for="vlanminlflfbo_id">BO</label>
                                <input type="number" class="form-control" name="vlanminlflfbo" data-form-field="fabric_vlanname"
                                       id="vlanminlflfbo_id" placeholder="3">
                            </div>
                            <div class="col-xs-12 col-md-2">
                                <label class="form-control-label" for="vlanminlflfboca_id">BOCA</label>
                                <input type="number" class="form-control" name="vlanminlflfboca" data-form-field="fabric_vlanname"
                                       id="vlanminlflfboca_id" placeholder="4">
                            </div>
                            <div class="col-xs-12 col-md-2">
                                <label class="form-control-label" for="vlanminlflfbocab_id">BOCA-B</label>
                                <input type="number" class="form-control" name="vlanminlflfbocab" data-form-field="fabric_vlanname"
                                       id="vlanminlflfbocab_id" placeholder="5">
                            </div>
                        </div>
                        <br><br><br>
                        <div class="row form-group">
                            <h1 class="mbr-section-title display-4 text-xs-center">
                                <p>Rede Internas do Rack (BE)</p>
                                <p>Servidores/VMs</p>
                            </h1>
                        </div>
                        <div class="row form-group">
                            <div class="col-xs-12 col-md-5">
                                <label class="form-control-label" for="ipv4rangeint_id">CIDR Ipv4 por Fabric</label>
                                <input type="text" class="form-control" name="ipv4rangeint" id="ipv4rangeint_id"
                                       data-form-field="fabric_ipv4range" placeholder="0.0.0.0/22">
                            </div>
                            <div class="col-xs-12 col-md-3">
                                <label class="form-control-label" for="prefixv4int_id">Mascara da rede por Rack</label>
                                <input type="number" class="form-control" name="prefixv4int" id="prefixv4int_id"
                                       data-form-field="fabric_prefixv4" placeholder="24">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-xs-12 col-md-5">
                                <label class="form-control-label" for="ipv6rangeint_id">CIDR Ipv6 por Fabric</label>
                                <input type="text" class="form-control" name="ipv6rangeint" id="ipv6rangeint_id"
                                       data-form-field="fabric_ipv6range" placeholder="2001:0db8:cafe::/118">
                            </div>
                            <div class="col-xs-12 col-md-3">
                                <label class="form-control-label" for="prefixv6int_int">Mascara da rede por Rack</label>
                                <input type="number" class="form-control" name="prefixv6int" id="prefixv6int_int"
                                       data-form-field="fabric_prefixv6" placeholder="120">
                            </div>
                        </div>
                        <div class="row form-group">
                            <p class="mbr-section-subtitle display-4">Mascara das redes e Range de Vlans por Rack:</p>
                            <p class="form-control-label">BE</p>
                            <div class="col-xs-12 col-md-3">
                                <label class="form-control-label" for="prefixv4intbe_id">Mascara v4</label>
                                <input type="number" class="form-control" name="prefixv4intbe" id="prefixv4intbe_id"
                                       data-form-field="fabric_prefixv4" placeholder="24">
                            </div>
                            <div class="col-xs-12 col-md-3">
                                <label class="form-control-label" for="prefixv6intbe_id">Mascara v6</label>
                                <input type="number" class="form-control" name="prefixv6intbe" id="prefixv6intbe_id"
                                       data-form-field="fabric_prefixv4" placeholder="24">
                            </div>
                            <div class="col-xs-12 col-md-3">
                                <label class="form-control-label" for="vlanminintbe_id">Vlan mín</label>
                                <input type="number" class="form-control" name="vlanminintbe" data-form-field="fabric_vlanname"
                                       id="vlanminintbe_id" placeholder="1">
                            </div>
                            <div class="col-xs-12 col-md-3">
                                <label class="form-control-label" for="vlanmaxintbe_id">Vlan máx</label>
                                <input type="number" class="form-control" name="vlanmaxintbe" data-form-field="fabric_vlanname"
                                       id="vlanmaxintbe_id" placeholder="4096">
                            </div>
                        </div>
                        <div class="row form-group">
                            <p class="form-control-label">BEFE</p>
                            <div class="col-xs-12 col-md-3">
                                <label class="form-control-label" for="prefixv4intbefe_id">Mascara v4</label>
                                <input type="number" class="form-control" name="prefixv4intbefe" id="prefixv4intbefe_id"
                                       data-form-field="fabric_prefixv4" placeholder="24">
                            </div>
                            <div class="col-xs-12 col-md-3">
                                <label class="form-control-label" for="prefixv6intbefe_id">Mascara v6</label>
                                <input type="number" class="form-control" name="prefixv6intbefe" id="prefixv6intbefe_id"
                                       data-form-field="fabric_prefixv4" placeholder="24">
                            </div>
                            <div class="col-xs-12 col-md-3">
                                <label class="form-control-label" for="vlanminintbefe_id">Vlan mín</label>
                                <input type="number" class="form-control" name="vlanminintbefe" data-form-field="fabric_vlanname"
                                       id="vlanminintbefe_id" placeholder="1">
                            </div>
                            <div class="col-xs-12 col-md-3">
                                <label class="form-control-label" for="vlanmaxintbefe_id">Vlan máx</label>
                                <input type="number" class="form-control" name="vlanmaxintbefe" data-form-field="fabric_vlanname"
                                       id="vlanmaxintbefe_id" placeholder="4096">
                            </div>
                        </div>
                        <div class="row form-group">
                            <p class="form-control-label">BEBORDA</p>
                            <div class="col-xs-12 col-md-3">
                                <label class="form-control-label" for="prefixv4intbebo_id">Mascara v4</label>
                                <input type="number" class="form-control" name="prefixv4intbebo" id="prefixv4intbebo_id"
                                       data-form-field="fabric_prefixv4" placeholder="24">
                            </div>
                            <div class="col-xs-12 col-md-3">
                                <label class="form-control-label" for="prefixv6intbebo_id">Mascara v6</label>
                                <input type="number" class="form-control" name="prefixv6intbebo" id="prefixv6intbebo_id"
                                       data-form-field="fabric_prefixv4" placeholder="24">
                            </div>
                            <div class="col-xs-12 col-md-3">
                                <label class="form-control-label" for="vlanminintbebo_id">Vlan mín</label>
                                <input type="number" class="form-control" name="vlanminintbebo" data-form-field="fabric_vlanname"
                                       id="vlanminintbebo_id" placeholder="1">
                            </div>
                            <div class="col-xs-12 col-md-3">
                                <label class="form-control-label" for="vlanmaxintbebo_id">Vlan máx</label>
                                <input type="number" class="form-control" name="vlanmaxintbebo" data-form-field="fabric_vlanname"
                                       id="vlanmaxintbebo_id" placeholder="4096">
                            </div>
                        </div>
                        <div class="row form-group">
                            <p class="form-control-label">BECACHOS</p>
                            <div class="col-xs-12 col-md-3">
                                <label class="form-control-label" for="prefixv4intbeca_id">Mascara v4</label>
                                <input type="number" class="form-control" name="prefixv4intbeca" id="prefixv4intbeca_id"
                                       data-form-field="fabric_prefixv4" placeholder="24">
                            </div>
                            <div class="col-xs-12 col-md-3">
                                <label class="form-control-label" for="prefixv6intbeca_id">Mascara v6</label>
                                <input type="number" class="form-control" name="prefixv6intbeca" id="prefixv6intbeca_id"
                                       data-form-field="fabric_prefixv4" placeholder="24">
                            </div>
                            <div class="col-xs-12 col-md-3">
                                <label class="form-control-label" for="vlanminintbeca_id">Vlan mín</label>
                                <input type="number" class="form-control" name="vlanminintbeca" data-form-field="fabric_vlanname"
                                       id="vlanminintbeca_id" placeholder="1">
                            </div>
                            <div class="col-xs-12 col-md-3">
                                <label class="form-control-label" for="vlanmaxintbeca_id">Vlan máx</label>
                                <input type="number" class="form-control" name="vlanmaxintbeca" data-form-field="fabric_vlanname"
                                       id="vlanmaxintbeca_id" placeholder="4096">
                            </div>
                        </div>
                        <br><br><br>
                        <div class="row form-group">
                            <h1 class="mbr-section-title display-4 text-xs-center">
                                <p>Rede de Gerencia/ILOs Servidores</p>
                            </h1>
                        </div>
                        <div class="row form-group">
                            <div class="col-xs-12 col-md-5">
                                <label class="form-control-label" for="prefixv4oob_id">CIDR Ipv4 por Fabric</label>
                                <input type="text" class="form-control" name="ipv4rangeoob" id="ipv4rangeoob_id"
                                       data-form-field="fabric_ipv4range" placeholder="0.0.0.0/22">
                            </div>
                            <div class="col-xs-12 col-md-3">
                                <label class="form-control-label" for="prefixv4oob_id">Mascara por Rack</label>
                                <input type="number" class="form-control" name="prefixv4oob" id="prefixv4oob_id"
                                       data-form-field="fabric_prefixv4" placeholder="24">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-xs-12 col-md-3">
                                <label class="form-control-label" for="vlanminoob_id">Vlan mín</label>
                                <input type="number" class="form-control" name="vlanminoob" data-form-field="fabric_vlanname"
                                       id="vlanminoob_id" placeholder="1">
                            </div>
                            <div class="col-xs-12 col-md-3">
                                <label class="form-control-label" for="vlanmaxoob_id">Vlan máx</label>
                                <input type="number" class="form-control" name="vlanmaxoob" data-form-field="fabric_vlanname"
                                       id="vlanmaxoob_id" placeholder="4096">
                            </div>
                        </div>
                        <br><br><br><br>
                        <div class="text-xs-center">
                            <a class="btn btn-danger-outline btn-danger" href="{% url fabric.cadastro fabric_id %}">Voltar</a>
                            <button type="submit" class="btn btn-success-outline btn-success">Continuar</button>
                        </div>
                    </form>

        </div>
    </div>
</section>
{% endblock %}
