{% extends "menu.html" %}
{% block content %}
<section class="mbr-section mbr-after-navbar" id="form1-5" style="background-color: rgb(255, 255, 255); padding-top: 120px; padding-bottom: 120px;">
    <div class="mbr-section mbr-section__container mbr-section__container--middle">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-xs-center">
                    <h3 class="mbr-section-title display-2">BGP</h3>

                </div>
            </div>
        </div>
    </div>
    <div class="mbr-section mbr-section-nopadding">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-lg-10 col-lg-offset-1">
                    <form action="{% url dcroom.bgp %}" method="post" id="dcroom_bgp_form">
                        {% csrf_token %}
                        <div class="row row-sm-offset">
                            <div class="col-xs-12 col-md-4">
                                <div class="form-group">
                                    <label class="form-control-label" for="form1-5-phone">AS<span class="form-asterisk">*</span></label>
                                    <input type="text" class="form-control" name="dcroomas" data-form-field="dcroom_as" id="dcroom_form_as">
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-4">
                                <div class="form-group">
                                    <label class="form-control-label" for="form1-5-name">Range v4<span class="form-asterisk">*</span></label>
                                    <input type="text" class="form-control" name="dcroomrede" data-form-field="dcroom_rede" id="dcroom_form_rede">
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-4">
                                <div class="form-group">
                                    <label class="form-control-label" for="form1-5-name">Range v6<span class="form-asterisk">*</span></label>
                                    <input type="text" class="form-control" name="dcroomredev6" data-form-field="dcroom_redev6" id="dcroom_form_redev6">
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-4">
                                <div class="form-group">
                                    <label class="form-control-label" for="form1-5-phone">AS Spine<span class="form-asterisk">*</span></label>
                                    <input type="text" class="form-control" name="dcroomasspn" data-form-field="dcroom_asspn" id="dcroom_form_asspn">
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-4">
                                <div class="form-group">
                                    <label class="form-control-label" for="form1-5-name">Range v4<span class="form-asterisk">*</span></label>
                                    <input type="text" class="form-control" name="dcroomredespn" data-form-field="dcroom_redespn" id="dcroom_form_redespn">
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-4">
                                <div class="form-group">
                                    <label class="form-control-label" for="form1-5-name">Range v6<span class="form-asterisk">*</span></label>
                                    <input type="text" class="form-control" name="dcroomredev6spn" data-form-field="dcroom_redev6spn" id="dcroom_form_redev6spn">
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-4">
                                <div class="form-group">
                                    <label class="form-control-label" for="form1-5-phone">AS Leaf<span class="form-asterisk">*</span></label>
                                    <input type="text" class="form-control" name="dcroomaslf" data-form-field="dcroom_aslf" id="dcroom_form_aslf">
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-4">
                                <div class="form-group">
                                    <label class="form-control-label" for="form1-5-name">Range v4<span class="form-asterisk">*</span></label>
                                    <input type="text" class="form-control" name="dcroomredelf" data-form-field="dcroom_redelf" id="dcroom_form_redelf">
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-4">
                                <div class="form-group">
                                    <label class="form-control-label" for="form1-5-name">Range v6<span class="form-asterisk">*</span></label>
                                    <input type="text" class="form-control" name="dcroomredev6lf" data-form-field="dcroom_redev6lf" id="dcroom_form_redev6lf">
                                </div>
                            </div>
                        </div>
                        <br><br><br><br>
                        <div class="text-xs-center">
                            <a class="btn btn-danger-outline btn-danger" href="{% url dcroom.cadastro %}">Voltar</a>
                            <button type="submit" class="btn btn-success-outline btn-success"> <span class="mbri-plus mbr-iconfont mbr-iconfont-btn"></span></button>
                            <a class="btn btn-success-outline btn-success" href="{% url dc.cadastro %}">Próximo</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
