{% extends "menu.html" %}
{% block content %}
<section class="mbr-section mbr-after-navbar" id="form1-5" style="background-color: rgb(255, 255, 255); padding-top: 120px; padding-bottom: 120px;">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-xs-center">
                <h3 class="mbr-section-title display-2">Configuração</h3>
            </div>
        </div>
    </div>
    <div class="mbr-section mbr-section-nopadding">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-lg-10">
                    <form action="{{action}}" method="post" id="dcroom_bgp_form">
                        {% csrf_token %}
                        <div class="row row-sm-offset">
                            <h1 class="mbr-section-subtitle display-4 text-xs-center">BGP</h1>
                            <div class="col-xs-12 col-md-4">
                                <div class="form-group">
                                    <label class="form-control-label" for="form1-5-phone">ASN MPLS<span class="form-asterisk">*</span></label>
                                    <input type="text" class="form-control" name="fabricasnmpls" data-form-field="fabric_asn_mpls" id="id_fabric_asn_mpls">
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-4">
                                <div class="form-group">
                                    <label class="form-control-label" for="form1-5-name">ASN base Spines<span class="form-asterisk">*</span></label>
                                    <input type="text" class="form-control" name="fabricasnspn" data-form-field="fabric_asn_spn" id="id_fabric_asn_spn">
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-4">
                                <div class="form-group">
                                    <label class="form-control-label" for="form1-5-name">ASN base Leafs<span class="form-asterisk">*</span></label>
                                    <input type="text" class="form-control" name="fabricasnlfs" data-form-field="fabric_asn_lfs" id="id_fabric_asn_lfs">
                                </div>
                            </div>
                        </div>
                        <div class="row row-sm-offset">
                            <h1 class="mbr-section-subtitle display-4 text-xs-center">VLT</h1>
                            <div class="col-xs-12 col-md-3">
                                <div class="form-group">
                                    <label class="form-control-label" for="form1-5-phone">Id VLT Leaf 01<span class="form-asterisk">*</span></label>
                                    <input type="text" class="form-control" name="fabricvlt01" data-form-field="fabric_vlt_01" id="id_fabric_vlt_01">
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-3">
                                <div class="form-group">
                                    <label class="form-control-label" for="form1-5-name">Priority Leaf 01<span class="form-asterisk">*</span></label>
                                    <input type="text" class="form-control" name="fabricpriority01" data-form-field="fabric_priority_01" id="id_fabric_priority_01">
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-3">
                                <div class="form-group">
                                    <label class="form-control-label" for="form1-5-name">Id VLT Leaf 02<span class="form-asterisk">*</span></label>
                                    <input type="text" class="form-control" name="fabricvlt02" data-form-field="fabric_vlt_02" id="id_fabric_vlt_02">
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-3">
                                <div class="form-group">
                                    <label class="form-control-label" for="form1-5-name">Priority Leaf 02<span class="form-asterisk">*</span></label>
                                    <input type="text" class="form-control" name="fabricpriority02" data-form-field="fabric_priority_02" id="id_fabric_priority_02">
                                </div>
                            </div>
                        </div>
                        <div class="row row-sm-offset">
                            <h1 class="mbr-section-subtitle display-4 text-xs-center">GERÊNCIA</h1>
                            <div class="col-xs-12 col-md-8">
                                <div class="form-group">
                                    <label class="form-control-label" for="form1-5-phone">Rede Gerencia Telecom<span class="form-asterisk">*</span></label>
                                    <input type="text" class="form-control" name="gerenciatelecom" data-form-field="fabric_ger_telecom" id="id_fabric_ger_telecom">
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-4">
                                <div class="form-group">
                                    <label class="form-control-label" for="form1-5-name">Numero da Vlan<span class="form-asterisk">*</span></label>
                                    <input type="text" class="form-control" name="gerenciavlan" data-form-field="fabric_ger_vlan" id="id_fabric_ger_vlan">
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-8">
                                <div class="form-group">
                                    <label class="form-control-label" for="form1-5-phone">Rede Gerencia Monitoração<span class="form-asterisk">*</span></label>
                                    <input type="text" class="form-control" name="gerenciamonitoracao" data-form-field="fabric_ger_monit" id="id_fabric_ger_monit">
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-4">
                                <div class="form-group">
                                    <label class="form-control-label" for="form1-5-name">Numero da Vlan<span class="form-asterisk">*</span></label>
                                    <input type="text" class="form-control" name="gerenciamonitvlan" data-form-field="fabric_ger_monit_vlan" id="id_fabric_ger_monit_vlan">
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-8">
                                <div class="form-group">
                                    <label class="form-control-label" for="form1-5-phone">Equipamentos do NOC<span class="form-asterisk">*</span></label>
                                    <input type="text" class="form-control" name="gerencianoc" data-form-field="fabric_ger_noc" id="id_fabric_ger_noc">
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-4">
                                <div class="form-group">
                                    <label class="form-control-label" for="form1-5-name">Numero da Vlan<span class="form-asterisk">*</span></label>
                                    <input type="text" class="form-control" name="gerencianocvlan" data-form-field="dcroom_redelf" id="dcroom_form_redelf">
                                </div>
                            </div>
                        </div>
                        <br><br><br><br>
                        <div class="text-xs-center">
                            <a class="btn btn-danger-outline btn-danger" href="{% url fabric.ambiente fabric_id %}">Voltar</a>
                            <button type="submit" class="btn btn-success-outline btn-success" >Salvar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
