{% extends "menu.html" %}
{% block content %}
<section class="mbr-section mbr-after-navbar" id="form1-5" style="background-color: rgb(255, 255, 255); padding-top: 120px; padding-bottom: 120px;">
    <div class="mbr-section mbr-section__container mbr-section__container--middle">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-xs-center">
                    <h3 class="mbr-section-title display-2">RANGES</h3>

                </div>
            </div>
        </div>
    </div>
    <div class="mbr-section mbr-section-nopadding">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-lg-10 col-lg-offset-1">
                    <form action="{% url dcroom.vlans %}" method="post" id="dcroom_vlans_form">
                        {% csrf_token %}
                        <div class="row row-sm-offset">
                            <div class="col-xs-12 col-md-12">
                                <div class="form-group">
                                    <label class="form-control-label" for="form1-5-phone">Nome do Ambiente<span class="form-asterisk">*</span></label>
                                    <input type="text" class="form-control" name="dcroomspn" data-form-field="dcroom_spn" id="dcroom_form_spn">
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-4">
                                <div class="form-group">
                                    <label class="form-control-label" for="form1-5-phone">Vlans<span class="form-asterisk">*</span></label>
                                    <input type="text" class="form-control" name="dcroomspn" data-form-field="dcroom_spn" id="dcroom_form_spn">
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-4">
                                <div class="form-group">
                                    <label class="form-control-label" for="form1-5-name">CIDR IPv4<span class="form-asterisk">*</span></label>
                                    <input type="text" class="form-control" name="dcroomrck" data-form-field="dcroom_rck" id="dcroom_form_rck">
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-4">
                                <div class="form-group">
                                    <label class="form-control-label" for="form1-5-phone">CIDR IPv6<span class="form-asterisk">*</span></label>
                                    <input type="text" class="form-control" name="dcroomlfs" data-form-field="dcroom_lfs" id="dcroom_form_lfs">
                                </div>
                            </div>
                        </div>
                        <br><br><br><br>
                        <div class="text-xs-center">
                            <a class="btn btn-danger-outline btn-danger" href="{% url dcroom.cadastro 0 %}">Voltar</a>
                            <button type="submit" class="btn btn-success-outline btn-success"> <span class="mbri-plus mbr-iconfont mbr-iconfont-btn"></span></button>
                            <a class="btn btn-success-outline btn-success" href="{% url dcroom.bgp %}">Próximo</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
