ipdb_env/
test_venv/
*.pyc
*.orig
*.log
*.pyc
.pydevproject
org.eclipse.core.resources.prefs
Documentation/_build/*
**/ACLS/*
*.idea
.vagrant*
.DS_STORE
build
GloboNetworkAPI-client-python/*
.settings/
.project/
venv/
