		{% include "block-rules/rules-js-css.html" %}
		
		<div class="ui-widget-content form-content">
			<div class="half-screen">
					{% for field in form_env %}
				<div style="width: 300px">
					<label for="{{ field.auto_id }}">{{ field.label_tag }}{% if field.field.required %}<span style="color: red;">*</span>{% endif %}</label>
				</div>
				{{ field }}
				<p id="error">
				{% if field.errors %}
					{% for error in field.errors %}
						{{ error|escape }}
					{% endfor %}
				{% endif %}
				</p>
			{% endfor %}
			
				{% for field in form %}
					<div>
						<div><label for="{{ field.auto_id }}">{{ field.label_tag }}{% if field.field.required %}<span style="color: red;">*</span>{% endif %}</label></div>
						{{ field }}
						<p id="error">
						{% if field.errors %} 
							{% for error in field.errors %}
								{{ error|escape }}
							{% endfor %}
						{% endif %}
						</p>
					</div>
				{% endfor %}
			
		<div id="sortable">	
			{% for content in contents %}
				<div class="sorting">
					<div style="width: 315px">
						<label for="{{ field.auto_id }}">{{ content.content.label_tag }}{% if content.content.required %}<span style="color: red;">*</span>{% endif %}</label>
						<a style="float:right" class="new_block_up" title="Adicionar em cima" href="javascript:;"><span class="ui-icon ui-icon-plus"></span></a>
						<a style="float:right" class="remove_block" href="javascript:;"><span class="ui-icon ui-icon-trash"></span></a>
					</div>
					{{content.content}}
					{{content.rule_content}}
					<div style="width: 315px">
						<a style="float:right" class="new_block_down" title="Adicionar em baixo" href="javascript:;"><span class="ui-icon ui-icon-plus"></span></a>
					</div>
					<p id="error">
					{% if content.content.errors %}
						{% for error in content.content.errors %}
							{{ error|escape }}
						{% endfor %}
					{% endif %}
					</p>
				<br></div>
			{% endfor %}
		</div>
				
			</div>
			<div class="half-screen blocks">
				Blocos disponíveis:<br><br>
				<div>
					{% for block in blocks %}
					<div class="block">
						<input type="checkbox" value="{{ block.id }}" name="blocks">
						<textarea class="readonly" cols="40" rows="10" readonly=readonly>{{ block.content }}</textarea>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
		<div class="separator spacer"></div>
	
		<div class="buttons-l ui-widget-header">
			<button id="btn_sav" type="submit">Gravar</button>
			<button id="btn_can" type="button">Cancelar</button>
		</div>