{% extends "template.html" %}

{% load util %}

{% block title %}[LDAP - Sudoers - Listagem]{% endblock %}

{% block header %}
<script type="text/javascript">
$(document).ready(function() {
	
	oTable = $("#sudoer_list").dataTable({
		"aaSorting": [],
		"bJQueryUI": true,
		"sPaginationType": "full_numbers",
		"iDisplayLength": {% max_results %},
		"aoColumnDefs": [{ "bSortable": false, "aTargets": [ 0, 3 ] }]
	});
	
	$("#checkAll").click( function() {
		if ($(this).attr('checked')) {
			$(":checkbox").attr("checked", true);
		} else {
			$(":checkbox").attr("checked", false);
		}
	});
	
	$(".fg-button").live("click", function(){
		$(":checkbox").attr("checked", false);
		$(":checkbox", oTable.fnGetHiddenNodes()).attr("checked", false);
		$("#checkAll").attr("checked", false);
	});
	
	$("#page_tab").tabs();
	
	$("#tool").buttonset();
	
	$("#btn_new").button({ icons: {primary: "ui-icon-document"} }).click(function(){
		location.href = "{% url ldap.sudoer.form %}";
	});
	
	{% has_perm ADMINISTRATION True None %}
	{% if has_perm %}
	$("#btn_del").button({ icons: {primary: "ui-icon-trash"} }).click(function(){
		if (confirm('Deseja realmente excluir o(s) Sudoer(s) selecionado(s)?')){ 
			var data = getSelectionData(oTable);
			$("#id_ids").val(data).parent().submit();
		}
	});
	{% endif %}
	
	$("#btn_ref").button({ icons: {primary: "ui-icon-refresh"} }).click(function(){
		location.reload();
	});
	
	$(".btn_edit").button({ icons: {primary: "ui-icon-pencil"}, text: false });
	
	$(".expand").live("click", function() {
		id = $(this).attr("lang");
		if ($(".expandable_" + id).css("max-height") != "999999px") {
			$(".expandable_" + id).css("max-height", "999999px");
			$("div[lang=" + id + "]").css("background", "url(/media/img/min.png) transparent bottom center no-repeat");
		} else {
			$(".expandable_" + id).css("max-height", "52px");
			$("div[lang=" + id + "]").css("background", "url(/media/img/max.png) transparent bottom center no-repeat");
		}
	});
	
})
</script>
{% endblock %}

{% block content %}
<div id="page_tab">
	<ul>
		<li><span class="ui-icon ui-icon-triangle-1-e page_tab_icon"></span><a href="#tabs-1">Listagem de Sudoers do LDAP</a></li>
	</ul>
	<div id="tabs-1">
		<div class="buttons">
			<button id="btn_ref" title="Atualizar dados da listagem">Atualizar</button>
			<span id="tool">
			<button id="btn_new">Novo Registro</button>
			{% has_perm SCRIPT_MANAGEMENT True None %}
			{% if has_perm %}
			<button id="btn_del">Excluir</button>
			{% endif %}
			</span>
		</div>
		{% has_perm ADMINISTRATION True None %}
		{% if has_perm %}
		<form id="delete_form" method="post" action="{% url ldap.sudoer.delete %}" style="visibility: hidden;">
			{% csrf_token %}
			{% for field in form %}
				{{ field }}
			{% endfor %}
		</form>
		{% endif %}
		<table id="sudoer_list">
			<thead>
				<tr>
					<th><input id="checkAll" type="checkbox" /></th>
					<th class="ids">Nome</th>
					<th>Comando</th>
					<th></th>
				</tr>
			</thead>
			<tbody class="text_center">
				{% for sudoer in sudoers %}
				<tr>
					<td style="width: 47px;" ><input type="checkbox" name="selection" value="{{ sudoer.cn }}" /></td>
					<td>{{ sudoer.cn }}</td>
					<td>
						<div class="text_center">
							{% if sudoer.is_more %}<div class="expandable expandable_{{sudoer.cn|escapejs}}">{% endif %}
							<table style="width: 100%;">
								{% for command in sudoer.sudoCommand %}<tr><td>{{command}}</td></tr>{% endfor %}
							</table>
							{% if sudoer.is_more %}</div><div class="expand" lang="{{ sudoer.cn|escapejs }}"/>{% endif %}
						</div>
					</td>
					<td style="width: 47px;"><a href="{% url ldap.sudoer.edit sudoer.cn  %}" style="width: 20px; height: 20px;" class="btn_edit">Editar</a></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}