{% extends "template.html" %}

{% load util %}

{% block title %}[Pool - Cadastro]{% endblock %}

{% block header %}
<script type="text/javascript">

    function verifyWeight() {
        if ( $("#id_balancing").val() != null &&  $("#id_balancing").val().toLowerCase() == "weighted".toLowerCase()){
            $('.weighted').show();
        }else{
            $('.weighted').hide();
        }
    }

    function check_port_vip(element){
		if(element.parent().parent().next().attr('name') == 'ports_vip'){
			is_valid = true;

			if (port_vip != element.val()){
				$("input[name=ports_vip]").each(function(){
					if ($(this).val() == element.val()){
						is_valid = false;
					}
				});
			}

			if (element.val() == "" && port_vip != ""){
				element.val(port_vip);
				alert('Deve-se preencher todos os campos de portas.');
				return false;
			}


			if (!is_valid){
				element.val(port_vip);
				alert('Porta Vip já cadastrada.');
				return false;
			}

			return true;
		}
		return true;
	}

    function update_port_vips(element){
            if(element.parent().parent().next().attr('name') == 'ports_vip'){
                new_port_vip = element.val();

                $("input[name=ports_vip_reals]").each(function(){
                      if ($(this).val() == port_vip){
                          if (new_port_vip == ''){
                              $(this).val('-');
                          }else{
                              $(this).val(new_port_vip);
                          }
                          $(this).parent().find('label').text(new_port_vip);
                      }
                  });
            }
    }

    $(document).ready(function() {

        var obj_btn_sav = $("#btn_sav");
        var obj_btn_can = $("#btn_can");
        var obj_btn_new_port = $("#btn_new_port");
        var obj_btn_new_real = $("#btn_new_real");
        var obj_btn_new_expect = $("#btn_new_expect");


        obj_btn_sav.button({icons: {primary: "ui-icon-disk"}});
        obj_btn_can.button({icons: {primary: "ui-icon-cancel"}});
        obj_btn_new_port.button({icons: {primary: "ui-icon-disk"}});
        obj_btn_new_real.button({icons: {primary: "ui-icon-disk"}});
        obj_btn_new_expect.button({ icons: {primary: "ui-icon-disk"} });

        $("#id_equip_name, #btn_new_real").prop('disabled', 'disabled');

        $("#page_tab").tabs();
        $('.editable').editableTable();
        $("textarea").maxlength();

        obj_btn_can.click(function(){
            location.href = "{% url pool.list %}";
        });

        obj_btn_new_port.live("click", function(){
            $('#table_ports tbody').append("<tr class='remove_port'><td><label class='editable'></label> <input type='hidden' name='ports_vip' value='-'></td><td><label class='editable'></label> <input type='hidden' name='ports_real' value='-'></td><td><span class='ui-icon ui-icon-closethick' style='cursor: pointer;'></span></td></tr>");
            $('.editable').editableTable();
        });

        obj_btn_new_real.live("click", function(){
            var val_equip_name = $.trim($('#id_equip_name').val());
            if ( val_equip_name != '' ) {
                $.ajax({
                    data: { id_environment: $('#id_environment').val(), equip_name: val_equip_name, token: $("#id_token").val() },
                    url: "{% url pool.modal.ips.ajax %}",
                    success: function(data, textStatus, xhr) {
                        if(data.message && data.status == "error"){
                            addMessage(data);
                        }else{
                            $('#content-ip').html(data);
                            $("#dialog_ip").dialog("open");
                            $('#messages').animate({ opacity: 'toggle', height: 'toggle' }, "hide");
                        }
                    },
                    error: function(data, textStatus, xhr) {
                        response = JSON.parse(data.responseText);
                        addMessage(response);
                    }
                });
            }else{
                addMessage({message: 'Por favor, informe o nome do equipamento.', status: 'error'});
            }
        });

        $("#dialog_ip").dialog({
            height: 600,
            width: 1000,
            modal: true,
            autoOpen: false,
            draggable: false,
            resizable: true,
            buttons: {
                "Voltar": function() {
                    $(this).dialog("close");
                }
            }
        });


        $(".numbersOnly").live('focusout', function(){
            this_element = $(this);
            $(this).next().click(function(){
                if (!check_port_vip(this_element)){
                    return false;
                }
                update_port_vips(this_element);
            });
        });

        $('.numbersOnly').live("keydown", function(e){
            if(e.keyCode == 9 || e.keyCode == 13){
                if (!check_port_vip($(this))){
                    e.preventDefault();
                    label = $(this).parent().parent().parent().next().find('.editable');
                      label.click();
                    return false;
                }else{
                        update_port_vips($(this));
                    label = $(this).parent().parent().parent().next().find('.editable');
                      $(this).next().click();
                      label.click();
                      return false;
                }
            }
        }).live("keyup", function(e){
              $(this).val($(this).val().replace(/[^0-9]+/g,''));
        });

        $('#table_ports tbody tr span').live("click", function(){

            port_vip_value = $(this).parents().find('input=[name=ports_vip]').val();

            if (confirm('Deseja realmente excluir a(s) Portas selecionada(s)?')){

                $("input[name=ports_vip_reals]").each(function(){
                    if ($(this).val() == port_vip_value){
                        $(this).parents(".remove_port").remove();
                    }
                });

                $(this).parents(".remove_port").remove();
                return false;
            }
        });

        $('#table_real tbody tr span').die("click");
        $('#table_real tbody tr span').live("click", function(e){
            if (confirm('Deseja realmente excluir o(s) Real selecionado(s)?')){
            $(this).parents(".remove_port").remove();
            return false;
            }
        });

        obj_btn_new_expect.click(function(){
            var expect_string = $.trim($('#expect_string').val());
            var id_environment = $('#id_environment').val();
            var id_token = $("#id_token").val();

            if(expect_string) {
                $.ajax({
                        data: { 'expect_string': expect_string, 'id_environment': id_environment, token:id_token },
                        url: "{% url pool.add.healthcheck.expect %}",
                        success: function(data, xhr) {

                            $('#msg_new_health_check').fadeIn(1000);
                            $("#id_expect").append('<option value="'+data['expect_string']+'">'+data['expect_string']+'</option>');
                            $("#msg_new_health_check").html('<td></td><td style="color: #0073EA;font-weight: bold;padding-left: 5px;">'+data['mensagem']+'</td>');
                            $("#msg_new_health_check").delay(15000).fadeOut('slow');
                            $("#id_expect option:last").attr('selected', 'selected');
                            $("#btn_new_expect").button({ icons: {primary: "ui-icon-disk"} });
                            $("#expect_string").val('');
                        }
                    });
            }
        });

        $("body").on("change", "#id_environment", function() {
            $('#id_healthcheck').html('<option value=""> - </option>');

            var environmentId = this.value;

            if (environmentId != ''){
                $("#id_equip_name, #btn_new_real").prop('disabled', false);
                var tokenId = $("#id_token").val();
                $.ajax({
                    url: "{% url pool.ajax.get.opcoes.pool.by.ambiente %}",

                    data: {
                        'id_environment': environmentId,
                        'token': tokenId
                    },
                    success: function(data, textStatus, xhr) {

                        $('#id_healthcheck').empty().select2(select2_basic);
                        if(xhr.status == 200) {
                            for (var i = 0; i < data.length; i++) {
                                if(data[i]['type'] == 'HealthCheck'){
                                    $('#id_healthcheck').append('<option value="' + data[i]['name'] + '">' + data[i]['name'] + '</option>');
                                }
                            }
                        }
                        else if(xhr.status == 203){
                           alert(data);
                        }
                    }
                });
            }else{
                $("#id_equip_name, #btn_new_real").prop('disabled', true);
            }
        });

        $("#id_balancing").live("change", function(){
            if ( $(this).val().toLowerCase() == "weighted".toLowerCase())
                $('.weighted').show();
            else{
                $('input[name=weight]').val('0');
                $("label[for=weighted]").text('Click para editar.');
                $('.weighted').hide();
            }
        });

        var env_val = $("#id_environment").val();
        if (env_val != '' ){
            $("#id_equip_name, #btn_new_real").prop('disabled', '');
        }

        autocomplete("{% url equipment.autocomplete.ajax %}", true, "id_equip_name", false);

        verifyWeight();
    });
</script>
{% endblock %}

{% block content %}
<div id="page_tab">
    <ul>
        <li><span class="ui-icon ui-icon-triangle-1-e page_tab_icon"></span><a href="#tabs-1">{{label_tab}}</a></li>
    </ul>

    <div id="dialog_ip">
        <div id="content-ip"></div>
    </div>

    <div id="tabs-1">
        <form id="add_form" method="post" action="{{action}}">
            {% csrf_token %}

            {{ form.id }}

            <div id="fields" class="ui-widget-content">
                <div style="margin-top:20px">
                    {% for field in form_pool %}
                    <div>
                        <div>
                            <label for="{{ field.auto_id }}">{{ field.label_tag }}{% if field.field.required %}<span style="color: red;">*</span>{% endif %}</label>
                        </div>
                        {{ field }}
                        {% if field.errors %}
                        <p id="error">
                            {% for error in field.errors %}
                                {{ error|escape }}
                            {% endfor %}
                        </p>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
                <div style="margin-top:20px;" id="table_healthcheck" class="bordasimples">
                    {% for field in form_healthcheck %}
                    <div>
                        <div>
                            <label for="{{ field.auto_id }}">{{ field.label_tag }}{% if field.field.required %}<span style="color: red;">*</span>{% endif %}</label>
                        </div>
                        {{ field }}
                        {% if field.errors %}
                        <p id="error">
                            {% for error in field.errors %}
                                {{ error|escape }}
                            {% endfor %}
                        </p>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>

                <div style="margin-top:20px">
                    <table  class="bordasimples" >
                        <tr>
                            <td>Buscar novo</td>
                            <td style="margin-left: 5px;">
                                <input id="id_equip_name" type="text" name="equip_name" maxlength="100" style="width:250px" />
                            </td>
                            <td>
                                <input type="button" id="btn_new_real" value="Adicionar Novo Real" />
                            </td>
                        </tr>
                        <tr id="error_real_server">
                        </tr>
                        <tr>
                            <td colspan="3">&nbsp</td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <table id="table_real" class="bordasimplesReal">
                                    <thead>
                                        <tr>
                                            <td>Nome do Real</td>
                                            <td>IP do Real</td>
                                            <td>Prioridade</td>
                                            <td class="weighted">Peso do Real</td>
                                            <td>Porta Real</td>
                                            <td style="width: 20px;"></td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for field in pool_members %}
                                        <tr class='remove_port'>
                                            <td>
                                                <label>{% if field.nome_equipamento != "-" %}{{field.nome_equipamento}}{% endif %}</label>
                                                <input type='hidden' name='equip' value='{{field.nome_equipamento}}' />
                                                <input type='hidden' name='id_equip' value='{{field.id_equip}}' />
                                            </td>
                                            <td>
                                                <label>{% if field.ip != "-" %}{{field.ip}}{% endif %}</label>
                                                <input type='hidden' name='ip' value='{{field.ip}}'>
                                                <input type='hidden' name='id_ip' value='{{field.id_ip}}'>
                                            </td>
                                            <td>
                                                <label class='editable'>{% if field.priority != "-" %}{{field.priority}}{% endif %}</label>
                                                <input type='hidden' name='priority' value='{{field.priority}}'>
                                            </td>
                                            <td class='weighted'>
                                                <label class='editable'>{% if field.weight != "-" %}{{field.weight}}{% endif %}</label>
                                                <input type='hidden' name='weight' value='{{field.weight}}'>
                                            </td>
                                            <td>
                                                <label class="editable" style="" title="Click para editar.">{% if field.port_real != "-" %}{{field.port_real}}{%endif%}</label>
                                                <input type="hidden" value="{{field.port_real}}" name="ports_real_reals">
                                                    {% if not is_copy %}
                                                        <input type='hidden' name='id_pool_member' value='{{field.id}}' />
                                                    {% else %}
                                                        <input type='hidden' name='id_pool_member' value='' />
                                                    {% endif %}
                                                <input type='hidden' name='member_status' value='{{field.member_status}}' />
                                            </td>
                                            <td>
                                                <span class='ui-icon ui-icon-closethick' style="cursor: pointer;"></span>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <p id="error">{{reals_error}}</p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">&nbsp</td>
                        </tr>
                    </table>
                </div>
            </div>
            <br>

            <div class="separator spacer"></div>

            <div class="buttons-l ui-widget-header">
                <button id="btn_sav" type="submit">Gravar</button>
                <button id="btn_can" type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-primary">Cancelar</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
