{% load util %}
<table id="tablePoolMembers" class="tablePoolMembers bordasimplesReal">
<thead>
    <tr>
        <th colspan="6">

            <span id="removePool" class="ui-icon ui-icon-closethick" style="cursor:pointer;float:right;"></span>

            {% if not server_pool.pool_created %}
                <span id="editPool" class="ui-icon ui-icon-pencil" style="cursor:pointer;float:right;"></span>
            {%endif%}

            <b>{{ server_pool.identifier }}</b>
            <input name="idsPool" id="idsPool" type="hidden" value="{{ server_pool.id }}"/>
            <input name="ports_vip" id="ports_vip" type="hidden" value='{{ server_pool.port_vip }}'/>
            <input name="vip_port_id" id="vip_port_id" type="hidden" value='{{server_pool.port_vip_id}}'/>

        </th>
    </tr>
</thead>
<tbody>
<tr>
    <td>Nome do Real</td>
    <td>Ip do Real</td>
    <td>Porta VIP</td>
    <td>Porta Real</td>
    <td>Prioridade</td>
</tr>
{% for pool_member in server_pool_members %}
<tr>
    <td>{{ pool_member.equipment_name }}</td>
    <td>{%if pool_member.ip %}{{ pool_member.ip.ip_formated }}{%else%}{{ pool_member.ipv6.ip_formated }}{% endif %}</td>
    {% if server_pool.port_vip %}
        <td>
            <label class='portVip editable'>{{ server_pool.port_vip }}</label>
        </td>
    {% else %}
        <td>
            <label class='portVip editable'></label>
        </td>
    {% endif %}
    <td>{{ pool_member.port_real }}</td>
    <td>{{ pool_member.priority }}</td>
</tr>
{% endfor %}
</tbody>
</table>