{% load util %}
<table id="tablePoolMembers" class="tablePoolMembers bordasimplesReal">
<thead>
	<tr>
		<th colspan="6">
			<span id="removePool" class="ui-icon ui-icon-closethick" style="cursor: pointer; float: right;"></span>
			<b>{{ server_pool.identifier }}</b>
			<input name="idsPool" type="hidden" value="{{ server_pool.id }}"/>
		<th>
	</tr>
</thead>
<tbody>
<tr>
	<td>Identificador</td>
	<td>Priority</td>
	<td>Port Real</td>
    <td>Limit</td>
    <td>HealthCheck</td>
    <td>Porta VIP</td>
</tr>
{% for pool_member in server_pool_members %}
<tr>
	<td>{{ pool_member.identifier }}</td>
	<td>{{ pool_member.priority }}</td>
	<td>{{ pool_member.port_real }}</td>
	<td>{{ pool_member.limit }}</td>
	<td>{{ pool_member.healthcheck.healthcheck_type|default:"" }}</td>
    <td class="portVip"></td>
</tr>
{% endfor %}
</tbody>
</table>