{% extends "template.html" %}

{% load util %}

{% block title %}[Pool - Listagem]{% endblock %}

{% block header %}
<script type="text/javascript">
$(document).ready(function() {

	oTable = $("#poolDatatable").dataTable({
		"sAjaxSource": "{% url pool.datatable %}",
		"bServerSide": true,
		"aaSorting": [[ 1, "asc" ]],
		"bAutoWidth": false,
		"bJQueryUI": true,
		"bFilter": false,
		"sPaginationType": "full_numbers",
		"iDisplayLength": {% max_results %},
		"aoColumnDefs": [
		    { "bSortable": false, "aTargets": [ 0, 4, 6] }
		 ],
		"fnServerData": function ( sSource, aoData, fnCallback, oSettings ) {

			var filterPool = $("input[name^=filterPool]").val().trim();

			 aoData["pEnvironment"] = $("select#id_environment").val();
			 if (filterPool!==""){
                aoData["sSearch"] = filterPool;
               }
			 oSettings.jqXHR = $.ajax({
			   "dataType": 'json',
			   "type": "GET",
			   "url": sSource,
			   "data": aoData,
			   "success": fnCallback,
			   "error": function(error){
			   		message = jQuery.parseJSON(error.responseText);
			   		addMessage(message);
			   }
			 }).done(function() {
				 $(".btn_edit").button({ icons: {primary: "ui-icon-pencil"}, text: false });
				 $(".btn_manager").button({ icons: {primary: "ui-icon-wrench"}, text: false });
			 });
	    }
	
	});
	
	$('#filterPool').bind('keyup', function(e){
        if(e.which == 13 || e.keyCode == 13){
            $('#btn_search').click();
        }
	});

	$("#btn_search").button({ icons: {primary: "ui-icon-search"} }).live("click", function(event){
		event.preventDefault();
		$("#poolDatatable").dataTable().fnDraw();
	});
	
	$("#checkAll").click( function() {
		if ($(this).attr('checked')) {
			$(":checkbox").attr("checked", true);
		} else {
			$(":checkbox").attr("checked", false);
		}
	});
	
	$(".fg-button").live("click", function(){
		$(":checkbox").attr("checked", false);
		$(":checkbox", oTable.fnGetHiddenNodes()).attr("checked", false);
		$("#checkAll").attr("checked", false);
	});

	$("#page_tab").tabs();
	
	$("#tool").buttonset();

	{% has_perm POOL_MANAGEMENT True None %}	
	{% with has_perm as has_perm_pool_management_write %}

	{% has_perm POOL_ALTER_SCRIPT True None %}
	{% with has_perm as has_perm_pool_script_alter_write %}

	{% if has_perm_pool_management_write and has_perm_pool_script_alter_write %}
		$("#btn_new").button({ icons: {primary: "ui-icon-document"} }).click(function(){
			location.href = "{% url pool.add.form %}";
		});
		
		$("#btn_del").button({ icons: {primary: "ui-icon-trash"} }).click(function(){
			if (confirm('Deseja realmente excluir o(s) Pool(s) selecionado(s)?')){
				var data = getSelectionData(oTable);
				$("#id_ids").val(data).parent().submit();
			}
		});
	{% endif %}

	{% endwith %}
	{% endwith %}
	
	{% has_perm POOL_REMOVE_SCRIPT True None %}
	{% if has_perm %}
	/** Bind Events With Pool Script Remove Permissions */
		$("#btn_remove").button({ icons: {primary: "ui-icon-circle-close"} }).click(function(){
			if (confirm('Deseja realmente remover o(s) Pool(s) selecionado(s)?')){ 
				var data = getSelectionData(oTable);
				$('#delete_form').attr('action','{% url pool.remove %}');
				$("#id_ids").val(data).parent().submit();
			}
		});
	{% endif %}
	
	{% has_perm POOL_CREATE_SCRIPT True None %}
	{% if has_perm %}
	$("#btn_create").button({ icons: {primary: "ui-icon-power"} }).click(function(){
		if (confirm('Deseja realmente criar o(s) Pool(s) selecionado(s) ?')){
			var data = getSelectionData(oTable);
			$('#delete_form').attr('action','{% url pool.create %}');
			$("#id_ids").val(data).parent().submit();
		}
	});
	{% endif %}
	
	$("#btn_ref").button({ icons: {primary: "ui-icon-refresh"} }).click(function(){
		location.reload();
	});
	
	$("#accordion").accordion({ autoHeight: false });
	
})
</script>

<style>
input {
	padding: 4px 0px !important;
}
#searchForm th {
	padding: 2px;
    text-align: center !important;
    background: url("/media/css/globo/images/ui-bg_highlight-soft_80_dddddd_1x100.png") repeat-x scroll 50% 50% #DDDDDD;
}
#searchForm tbody td {
    text-align: center !important;
	background-color: #F6F6F6;
}
.ui-accordion .ui-accordion-content {
	padding: 5px !important;
}
</style>
{% endblock %}

{% block content %}
<div id="page_tab">
	<ul>
		<li><span class="ui-icon ui-icon-triangle-1-e page_tab_icon"></span><a href="#tabs-1">Listagem de Pool</a></li>
	</ul>
	<div id="tabs-1">
		
		<div id="accordion">
			<h3><a href="#">Filtro por Ambiente</a></h3>
			<div>
                <table id="searchForm" style="width: 100%">
                    <thead>
                    <tr>
                        <th>Identificador - Porta Padrão - Healthcheck</th>
                        <th>Ambiente</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input name="filterPool" id="filterPool" type="text" style="width: 300px"></td>
                            <td>{{ search_form.environment }}</td>
                            <td><button id="btn_search" type="submit">Pesquisar</button></td>
                        </tr>
                    </tbody>


                </table>

			</div>
		</div>
		
		<div class="buttons">
			<button id="btn_ref" title="Atualizar dados da listagem">Atualizar</button>
			<span id="tool">
				<!-- check permissions to render <Novo Registro> -->
				{% has_perm POOL_MANAGEMENT True None %}	
				{% with has_perm as has_perm_pool_management_write %}
				{% has_perm POOL_ALTER_SCRIPT True None %}
				{% with has_perm as has_perm_pool_script_alter_write %}
				
				{% if has_perm_pool_management_write and has_perm_pool_script_alter_write %}
					<button id="btn_new">Novo Registro</button>
				{% endif %}
				
				{% endwith %}
				{% endwith %}
				<!-- /check permissions to render <Novo Registro> -->

				{% has_perm POOL_CREATE_SCRIPT True None %}
				{% if has_perm %}
					<button id="btn_create">Criar Pool</button>
				{% endif %}

				{% has_perm POOL_REMOVE_SCRIPT True None %}
				{% if has_perm %}
					<button id="btn_remove">Remover Pool</button>
				{% endif %}
				
				<!-- check permissions to render button <Excluir> -->
				{% has_perm POOL_MANAGEMENT True None %}	
				{% with has_perm as has_perm_pool_management_write %}
				{% has_perm POOL_ALTER_SCRIPT True None %}
				{% with has_perm as has_perm_pool_script_alter_write %}
				
				{% if has_perm_pool_management_write and has_perm_pool_script_alter_write %}
					<button id="btn_del">Excluir</button>
				{% endif %}
				
				{% endwith %}
				{% endwith %}
				<!-- /check permissions to render button <Excluir> -->
			</span>

		</div>

		<form id="delete_form" method="post" action="{% url pool.delete %}" style="visibility: hidden;">
			{% csrf_token %}
			{% for field in form %}
				{{ field }}
			{% endfor %}
		</form>

		
		<table id="poolDatatable">
			<col width="3%" />
			<col width="30%" />
			<col width="10%" />
			<col width="15%" />
			<col width="30%" />
			<col width="5%" />
			<col width="3%" />
			<thead>
				<tr>
					<th><input id="checkAll" type="checkbox" /></th>
					<th>Identificador</th>
					<th>Porta Padrão</th>
					<th>Heathcheck</th>
					<th>Ambiente</th>
					<th>Criado</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				
			</tbody>
		</table>
	</div>
</div>
{% endblock %}