{% extends "menu.html" %}

{% load util %}

{% block title %}[Pool - Listagem]{% endblock %}

{% block header %}
<script type="text/javascript">
var checkbox = false;

$(document).ready(function() {
    oTable = $("#pool_list").dataTable({
        "sAjaxSource": "{% url pool.datatable.new %}",
        "bServerSide": true,
        "bAutoWidth": false,
        "bJQueryUI": true,
        "bFilter": false,
        "sPaginationType": "full_numbers",
        "iDisplayLength": {% max_results %},
        "aoColumnDefs": [{"bSortable": false, "aTargets": [0, 4, 6]}],
        "fnServerData": function(sSource, aoData, fnCallback, oSettings) {
            var filterPool = $("input[name^=filterPool]").val().trim();
            //var filterPool = "";
            aoData["pEnvironment"] = $("select#id_environment").val();
            // aoData["pEnvironment"] = "0";
            if (filterPool!==""){
                aoData["sSearch"] = filterPool;
            }
            oSettings.jqXHR = $.ajax({
                "dataType": 'json',
                "type": "GET",
                "url": sSource,
                "data": aoData,
                "success": fnCallback,
                "error": function(error){
                    message = jQuery.parseJSON(error.responseText);
                    addMessage(message);
                }
            }).done(function() {
                $(".btn_edit").button(
                    { icons: {primary: "ui-icon-pencil"}, text: false }
                );
                $(".btn_manager").button(
                    { icons: {primary: "ui-icon-wrench"}, text: false }
                );
            });
        }
    });

    $("#btn_search").click( function(event){
		event.preventDefault();
		$("#pool_list").dataTable().fnDraw();
	});

    $("#checkAll").click( function() {
        $(":checkbox").prop("checked", $("#checkAll").is(':checked'));
        console.log("clicked: ", $("#checkAll").is(':checked'));
    });

    {% has_perm POOL_MANAGEMENT True None %}
	{% with has_perm as has_perm_pool_management_write %}

	{% has_perm POOL_ALTER_SCRIPT True None %}
	{% with has_perm as has_perm_pool_script_alter_write %}

	{% if has_perm_pool_management_write and has_perm_pool_script_alter_write %}
    $("#btn_new").click(function(){
        location.href = "{% url pool.add.form %}";
    });

    $("#btn_del").click(function(){
        if (confirm('Deseja realmente excluir o(s) Pool(s) selecionado(s)?')){
            var data = getSelectionData(oTable);
            $("#id_ids").val(data).parent().submit();
        }
    });
	{% endif %}

	{% endwith %}
	{% endwith %}

	{% has_perm POOL_REMOVE_SCRIPT True None %}
	{% if has_perm %}
	/** Bind Events With Pool Script Remove Permissions */
    $("#btn_remove").click(function(){
        if (confirm('Deseja realmente remover o(s) Pool(s) selecionado(s)?')){
            var data = getSelectionData(oTable);
            $('#delete_form').attr('action','{% url pool.remove.new %}');
            $("#id_ids").val(data).parent().submit();
        }
    });
	{% endif %}

	{% has_perm POOL_CREATE_SCRIPT True None %}
	{% if has_perm %}
	$("#btn_create").click(function(){
		if (confirm('Deseja realmente criar o(s) Pool(s) selecionado(s) ?')){
			var data = getSelectionData(oTable);
			$('#delete_form').attr('action','{% url pool.create.new %}');
			$("#id_ids").val(data).parent().submit();
		}
	});
	{% endif %}

	$("#btn_ref").click(function(){
		location.reload();
	});

});


</script>
{% endblock %}

{% block content %}
<section class="mbr-section mbr-after-navbar" id="form1-5" style="background-color: rgb(255, 255, 255); padding-top: 120px; padding-bottom: 120px;">
    <div class="mbr-section mbr-section__container mbr-section__container--middle">
        <div class="container">
            <div class="row form-group">
                <h1 class="mbr-section-title display-2 text-xs-center">
                    <p>Server Pools</p>
                </h1>
            </div>
        </div>
        <div class="container">
            <div class="row form-group">
                <div id="accordion">
                    <h3><a href="#">Filtro por Ambiente</a></h3>
                    <div>
                        <table id="searchForm" style="width: 100%">
                            <thead>
                            <tr>
                                <th>Identificador - Porta Padrão - Healthcheck</th>
                                <th>Ambiente</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input name="filterPool" id="filterPool" type="text" style="width: 300px"></td>
                                    <td>{{ search_form.environment }}</td>

                                    <td>
                                        <button id="btn_search"
                                                class="btn btn-social-bottom btn-responsive"
                                                style="vertical-align: bottom; margin: 0px"
                                                type="submit">
                                                <i class="material-icons" style="color:#FFD17C;font-size:15px" title="Pesquisar">
                                           search</i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row form-group form-control-label">
                <div class="table-responsive">
                    <form id="delete_form" method="post" action="{% url pool.delete.new %}" style="visibility: hidden;">
                        {% csrf_token %}
                        {% for field in delete_form %}
                            {{ field }}
                        {% endfor %}
                    </form>

                    <table class="table table-hover" id="pool_list">
                        <thead>
                            <tr>
                                <th><input id="checkAll" type="checkbox" /></th>
                                <th>Identificador</th>
                                <th>Porta padrão</th>
                                <th>Healthcheck</th>
                                <th>Ambiente</th>
                                <th>Criado</th>
                                <th style="width: 17%">

                                    <button id="btn_ref"
                                       class="btn btn-social-bottom btn-responsive"
                                       style="vertical-align: bottom; margin: 0px"
                                        type="submit">
                                       <i class="material-icons"
                                          style="color:#FFD17C;font-size:15px"
                                       title="Atualizar dados da listagem">
                                           update
                                       </i>
                                    </button>

                                    {% has_perm POOL_MANAGEMENT True None %}
                                    {% with has_perm as has_perm_pool_management_write %}
                                    {% has_perm POOL_ALTER_SCRIPT True None %}
                                    {% with has_perm as has_perm_pool_script_alter_write %}

                                    {% if has_perm_pool_management_write and has_perm_pool_script_alter_write %}
                                    <button id="btn_new"
                                       class="btn btn-social-bottom btn-responsive"
                                       style="vertical-align: bottom; margin: 0px"
                                        type="submit">
                                       <i class="material-icons"
                                          style="color:#FFD17C;font-size:15px"
                                       title="Novo Registro">
                                           add
                                       </i>
                                    </button>
                                    {% endif %}

				                    {% endwith %}
				                    {% endwith %}

                                    {% has_perm POOL_CREATE_SCRIPT True None %}
				                    {% if has_perm %}
                                    <button id="btn_create"
                                       class="btn btn-social-bottom btn-responsive"
                                       style="vertical-align: bottom; margin: 0px"
                                        type="submit">
                                       <i class="material-icons"
                                          style="color:#FFD17C;font-size:15px"
                                       title="Deploy Pool">
                                           power_settings_new
                                       </i>
                                    </button>
                                    {% endif %}

                                    {% has_perm POOL_REMOVE_SCRIPT True None %}
				                    {% if has_perm %}
                                    <button id="btn_remove"
                                       class="btn btn-social-bottom btn-responsive"
                                       style="vertical-align: bottom; margin: 0px"
                                        type="submit">
                                       <i class="material-icons"
                                          style="color:#FFD17C;font-size:15px"
                                       title="Undeploy Pool">
                                            cancel
                                       </i>
                                    </button>
                                    {% endif %}

                                    {% has_perm POOL_MANAGEMENT True None %}
                                    {% with has_perm as has_perm_pool_management_write %}
                                    {% has_perm POOL_ALTER_SCRIPT True None %}
                                    {% with has_perm as has_perm_pool_script_alter_write %}

                                    {% if has_perm_pool_management_write and has_perm_pool_script_alter_write %}
                                    <button id="btn_del"
                                       class="btn btn-social-bottom btn-responsive"
                                       style="vertical-align: bottom; margin: 0px"
                                        type="submit">
                                       <i class="material-icons"
                                          style="color:#FFD17C;font-size:15px"
                                       title="Excluir Registro">
                                           delete
                                       </i>
                                    </button>
                                    {% endif %}

				                    {% endwith %}
				                    {% endwith %}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
            <br><br><br>
            <button id="up_env"
                    class="btn btn-info btn-responsive mbr-arrow-up"
                    style="vertical-align: bottom;"
                    href="#"
                    data-placement="left"
                    title="Click to return on the top page">
                <i class="material-icons"
                  style="color:#FFD17C;font-size:15px">
                   arrow_upward
                </i>
            </button>
        </div>
    </div>
</section>
{% endblock %}