<!--
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
{% extends "template.html" %}

{% load util %}

{% block title %}[Detalhes da Vlan]{% endblock %}

{% block header %}
<script type="text/javascript">
$(document).ready(function() {
	$("textarea").maxlength();
})
</script>
{% endblock %}

{% block content %}
<div id="page_tab" style="margin-left:10%; margin-right:10%;border:none">
	<div style="font-size: 40px;margin: 20px;border:none;">
		<p style="text-align: center;color: #7C6767">Vlan</p>
	</div>
	<div id="tabs-1">
		{% csrf_token %}
		<div id="fields" class="ui-widget-content" style="border:none;margin-bottom: 5%;">
			<table border="5">
				<tr>
					<td style="width: 150px"><label for="nome_ambiente">Nome do Ambiente</label></td>
					<td><label style="width: 350px;color: #0D84A5;text-align: center;" >{{vlan.ambiente}}</label></td>
				</tr>
				<tr>
					<td style="width: 150px"><label for="nome_ambiente">ID do Ambiente</label></td>
					<td><label style="width: 350px;color: #0D84A5;text-align: center;" >{{vlan.ambiente_id}}</label></td>
				</tr>
				<tr>
					<td><label for="nome_vlan">Nome da Vlan</label></td>
					<td><label style="width: 350px;color: #0D84A5;text-align: center;" >{% ifequal vlan.vxlan "True"%}(VXLAN){% endifequal%} {{vlan.nome}}</label></td>
				</tr>
				<tr>
					<td><label for="num_vlan">Número da Vlan</label></td>
					<td><label style="width: 350px;color: #0D84A5;text-align: center;" >{{vlan.num_vlan}}</label></td>
				</tr>
				<tr>
					<td><label for="acl_vlan">ACL's</label></td>
					<td><label style="width: 350px;color: #0D84A5;text-align: center;" >{{vlan.acl_file_name}}</label></td>
				</tr>
				<tr>
					<td><label for="sit_vlan">Situacao</label></td>
					{% if vlan.ativada == 'False'%}
					<td><label style="width: 350px;color: #FF7F00;text-align: center;" >Não Ativada</label></td>
					{% else %}
					<td><label style="width: 350px;color: #3B9C00;text-align: center;" >Ativada</label></td>
					{% endif %}
				</tr>
				<tr>
					<td><label for="desc_vlan">Descrição</label></td>
					<td><label style="width: 350px;color: #0D84A5;text-align: center;" >{{vlan.descricao}}</label></td>
				</tr>
			</table>
		</div>

		<div id="redes_vlan">
			{% include "vlan/list-vlan-net.html" %}
		</div>
		
	</div>
</div>
{% endblock %}