<!--
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
{% extends "template.html" %}

{% load util %}

{% block title %}[Vlan - Cadastro]{% endblock %}

{% block header %}


<script type="text/javascript">
$(document).ready(function() {
	
	$("#page_tab").tabs();
	
	$("#btn_sav").button({ icons: {primary: "ui-icon-disk"} });
	
	$("#btn_sav").click(function(){
		
		number = $.trim($("#id_number").val())
		id_environment = $.trim($("#id_environment").val())
		if( number != "" && id_environment != ""){
			$.ajax({
				//async: false,
				data: { number: number, id_environment: id_environment, is_number : 1, id_vlan : false },
				url: "{% url ajax.vlan.confirm %}",
				dataType: 'text',
				success: function(data) {
					if (data != ""){
						if(confirm(data)){
							$("#add_form").submit();			
						}else{
							return false;
						}
					}
					else{
						$("#add_form").submit();
					}
				}
			});
			return false;
		}else{
			$("#add_form").submit();
		}
		
	});
	
	$("#btn_can").button({ icons: {primary: "ui-icon-cancel"} }).click(function(){
		location.href = "{% url vlan.search.list %}";
	});
	
	$("#btn_suggest_v4").button().click(function() {
		ajax = true
		if ($("#id_name").val() == ""){
			alert("Digite um nome para a Vlan");
			ajax = false;}
		else {
			if ($("#id_environment").val() == 0){	
				alert("Selecione um ambiente");
				ajax = false;}}
		if (ajax){
		$.ajax({
			data: { nome: $("#id_name").val(), id_ambiente: $("#id_environment").val() },
			url: "{% url ajax.vlan.acl.file.name %}",
			dataType: 'text',
			success: function(data) {
				data = data.toUpperCase();
				$("#id_acl_file").val(data);
			}
		});
	}
	});
	
	$("#btn_suggest_v6").button().click(function() {
		ajax = true
		if ($("#id_name").val() == ""){
			alert("Digite um nome para a Vlan");
			ajax = false;
		} else {
			if ($("#id_environment").val() == 0){	
				alert("Selecione um ambiente");
				ajax = false;
			}
		}
		if (ajax){
			$.ajax({
				data: { nome: $("#id_name").val(), id_ambiente: $("#id_environment").val() },
				url: "{% url ajax.vlan.acl.file.name %}",
				dataType: 'text',
				success: function(data) {
					data = data.toUpperCase();
					$("#id_acl_file_v6").val(data);
				}
			});
		}
	});
	
	$("#id_name").keyup(function() {
	        var valor = $(this).val().replace(/[^0-9A-Za-z_-]+/g,'');
	        $(this).val(valor);
	 }); 
	
	$("#id_acl_file").keyup(function() {
        var valor = $(this).val().replace(/[^0-9A-Z_-]+/g,'');
        $(this).val(valor);
 	}); 
	
	$("#id_acl_file_v6").keyup(function() {
        var valor = $(this).val().replace(/[^0-9A-Z_-]+/g,'');
        $(this).val(valor);
 	}); 
	
   $("#id_name").mouseover(function() {
	   $(this).attr("title","Somente letras maiúsculas e minúsculas, números, '-' e '_' são permitidos.");
    });
    
    $("#id_acl_file").mouseover(function() {
    	$(this).attr("title","Somente letras maiúsculas, números, '-' e '_' são permitidos.");
   });
    
   $("#id_acl_file_v6").mouseover(function() {
	   $(this).attr("title","Somente letras maiúsculas, números, '-' e '_' são permitidos.");
   });

   get_environment_configuration_available();
   
   $('#id_environment').change(function() {
	   
	   $('#id_network_ipv4').val($('option:first', this).val());
	   $('#id_network_ipv6').val($('option:first', this).val());
	   
	   get_environment_configuration_available();
	   
	});
   
})

function get_environment_configuration_available() {
	
	var environment_id = $('#id_environment').val();
	
	$.ajax({
		data: {environment_id: environment_id},
		url: "{% url vlan.get.available.environment.configuration %}",
		method: 'GET',
		success: function(data) {
			
			data = $.parseJSON(data);
			
			var network_ipv4 = '';
			var network_ipv6 = '';
			
			if (data.available_environment_config_ipv4 == true) {
				$('#id_network_ipv4').parent().show();
			} else {
				$('#id_network_ipv4').parent().hide();
			}
			
			if (data.available_environment_config_ipv6 == true) {
				$('#id_network_ipv6').parent().show();
			} else {
				
				$('#id_network_ipv6').parent().hide();
			}
		},
		error: function(data) {
			
			console.log(data);
		}
	});
}

</script>
{% endblock %}

{% block content %}
<div id="page_tab">
	<ul>
		<li><span class="ui-icon ui-icon-triangle-1-e page_tab_icon"></span><a href="#tabs-1">Cadastro de Vlan</a></li>
	</ul>
	<div id="tabs-1">
	
		<form id="add_form" method="post" action="{% url vlan.form %}">
			{% csrf_token %}
			<div id="fields" class="ui-widget-content">
			{% for field in form %}
				<div>
					<div><label for="{{ field.auto_id }}">{{ field.label_tag }}{% if field.field.required %}<span style="color: red;">*</span>{% endif %}</label></div>
					
					{{ field }}
					
					{% if forloop.counter == 4 %}
					
					<button id="btn_suggest_v4" type="button">Sugerir nome do arquivo ACL</button>
					
					{% endif %}
					
					{% if forloop.counter == 5 %}
					
					<button id="btn_suggest_v6" type="button">Sugerir nome do arquivo ACL</button>
					
					{% endif %}
					
					<p id="error">
					{% if field.errors %} 
						{% for error in field.errors %}
							{{ error|escape }}
						{% endfor %}
					{% endif %}
					</p>
					
				</div>
			{% endfor %}
			
			<div class="separator spacer"></div>
			
			<div class="buttons-l ui-widget-header">
				<button id="btn_sav" type="submit">Gravar</button>
				<button id="btn_can" type="button">Cancelar</button>
			</div>
		</form>
	</div>
</div>
{% endblock %}
