<!--
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
{% load util %}
<script type="text/javascript">
$(document).ready(function() {
	
{% if connect_form %}
	$("#connect_form").submit(function(event) {
		event.preventDefault();
		url = "{% url equip.interface.connect id_interface front_or_back %}";
		form = $("#connect_form").serialize();
		$.ajax({
			url: url,
			data: form,
			type: "POST",
			complete: function(xhr, status) {
				if (xhr.status == "500") {
					$("#dialog-form").dialog("close");
					location.reload();
				} else if (xhr.status == "278" || xhr.status == "302") {
					$("#dialog-form").dialog("close");
					window.location = xhr.getResponseHeader('Location');
				} else if (xhr.status == "200") {
					$("#dialog-form").html(xhr.responseText);
				} else {
					$("#dialog-form").dialog("close");
				}
			}
		});
	});

	$("#dialog-form").dialog({
		width: 600,
		modal: true,
		autoOpen: false,
		draggable: false,
		resizable: false,
		buttons: [ 
		          { 
		        	  text: "Voltar",
		              id: "back",
		              click: function() { 
		              } 
		          },
		          { 
		        	  text: "Associar",
		        	  id: "ass",
		              click: function() { 
		  				$("#connect_form").submit();
		              } 
		          },
		          { 
		        	  text: "Cancelar",
		        	  id: "can",
		              click: function() { 
		            	  $(this).dialog("close");
		              } 
		          }
		      ]
	});	
	
	$(".ui-dialog-buttonset").attr("style","width: 578px;");
	$("#back").attr("style","float: left;");
	$("#ass").attr("style","float: right;");
	$("#can").attr("style","float: right;");
	
	$("#back").button({ icons: {primary: "ui-icon-arrowthick-1-w"} }
		).click(function(event) {
			event.preventDefault();
			url = "/equip-interface/connect/" + $(".connect").attr("href") + $(".connect").attr("lang")
			$.ajax({
				url: url,
				type: "GET",
				complete: function(xhr, status) {
					if (xhr.status == "500") {
						$("#dialog-form").dialog("close");
						location.reload();
					} else if (xhr.status == "278" || xhr.status == "302") {
						$("#dialog-form").dialog("close");
						window.location = xhr.getResponseHeader('Location');
					} else if (xhr.status == "200") {
						$("#dialog-form").html(xhr.responseText);
						$("#dialog-form").dialog("open");
					} else {
						$("#dialog-form").dialog("close");
					}
				}
			});
		});	
	
	$("#btn_can").button({ icons: {primary: "ui-icon-cancel"} }).click(function() {
		location.href = "{% url interface.list %}?search_equipment={{ equip_name }}";
	});	
	
	
	
	
{% else %}

	$("#dialog-form").dialog({
		width: 600,
		modal: true,
		autoOpen: false,
		draggable: false,
		resizable: false,
		buttons: {
			"Associar": function() {
				$("#connect_form").submit();
			},
			"Cancelar": function() {
				$(this).dialog("close");
			}
		}
	});
	$("#search_form").submit(function(event) {
		event.preventDefault();
		url = "{% url equip.interface.connect id_interface front_or_back %}";
		form = $("#search_form").serialize();
		$.ajax({
			url: url,
			data: form,
			type: "GET",
			complete: function(xhr, status) {
				if (xhr.status == "500") {
					$("#dialog-form").dialog("close");
					location.reload();
				} else if (xhr.status == "278" || xhr.status == "302") {
					$("#dialog-form").dialog("close");
					window.location = xhr.getResponseHeader('Location');
				} else if (xhr.status == "200") {
					$("#dialog-form").html(xhr.responseText);
					$("#dialog-form").dialog("open");
				} else {
					$("#dialog-form").dialog("close");
				}
			}
		});
	});
	autocomplete("{% url equipment.autocomplete.ajax %}", true, "id_equip_name", false);
	$("#btn_search").button({ icons: {primary: "ui-icon-check"} }).click(function(){ $("#search_form").submit(); });
{% endif %}
	
});
</script>
{% if messages %}{% for message in messages %}<div class='ui-widget error-messages'>
	<div id="messagesError" style="padding: 4px;{% if connect_form %} margin: 10px 20px 5px 20px;  {% else %} margin: 10px 185px 5px 79px; {% endif %}" class="{% if message.tags == 'error'%}ui-state-error{% else %}ui-state-highlight{% endif %} ui-corner-all {{ message.tags }}">
		<span class="ui-icon"></span>
		{{ message }}
	</div>
</div>{% endfor %}{% endif %}
<div{% if not connect_form %} style="text-align: center;"{% endif %}>
	{% if connect_form %}<div>
	<form id="connect_form" action="{% url equip.interface.connect id_interface front_or_back %}">
		<div style="float: left;">
		{% csrf_token %}
		{% for field in connect_form %}
			{% if field.is_hidden %}
				{{ field }}
			{% else %}<div>
				{% if forloop.counter = 1 %}<div><b>Selecione uma interface:</b></div>{% endif %}
				{% if forloop.counter = 1 %}<div>Front:</div>{% endif %}{% if forloop.counter = 2 %}{% ifequal equipment.id_tipo_equipamento '8' %}<div>Back:</div>{% endifequal %}{% endif %}
				{{ field }}
				<p id="error">
				{% if field.errors %} 
					{% for error in field.errors %}
						{{ error|escape }}
					{% endfor %}
				{% endif %}
				</p>
			</div>
			{% endif %}
		{% endfor %}
		</div>
	</form>
	<img src="{{ MEDIA_URL }}/img/{% ifequal equipment.id_tipo_equipamento '8' %}patch{% else %}serv{% endifequal %}.png" style="height: {% ifequal equipment.id_tipo_equipamento '8' %}28{% else %}74{% endifequal %}px; float: left; margin-top: {% ifequal equipment.id_tipo_equipamento '8' %}40{% else %}0{% endifequal %}px; margin-left: 10px;" />
	<a style="float: left; margin-top: {% ifequal equipment.id_tipo_equipamento '8' %}45{% else %}25{% endifequal %}px; margin-left: 10px;" href="{% url interface.list %}?search_equipment={{ connect_form.equip_name.value }}">{{ connect_form.equip_name.value }}</a>
	<div style="clear: left;"></div>
	</div>{% else %}<form id="search_form" action="{% url equip.interface.connect id_interface front_or_back %}">
		{% for field in search_form %}{{ field }}{% endfor %}
		<img id="loading-autocomplete" src="{{ MEDIA_URL }}/img/input-loading.gif" style="display: none;" />
		<button id="btn_search" type="submit">Selecionar</button>
		{% for field in search_form %}{% if field.errors %}<p id="error">
			{% for error in field.errors %}{{ error|escape }}{% endfor %}
		</p>{% endif %}{% endfor %}
	</form>{% endif %}
</div>