<!--
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
{% extends "template.html" %}

{% load util %}

{% block title %}[Interfaces do Equipamento - Listagem]{% endblock %}

{% block header %}
<script type="text/javascript">
$(document).ready(function() {
	
	oTable = $("#equip_interface_list").dataTable({
		"aaSorting": [],
		"bJQueryUI": true,
		"sPaginationType": "full_numbers",
		"iDisplayLength": {% max_results %},
		"aoColumnDefs": [{ "bSortable": false, "aTargets": [ 0, {% ifequal pp "1" %}7{% else %}6{% endifequal %} ] }]
	});
	
	$("#checkAll").click( function() {
		if ($(this).attr('checked')) {
			$(":checkbox").attr("checked", true);
		} else {
			$(":checkbox").attr("checked", false);
		}
	});
	
	$(".fg-button").live("click", function(){
		$(":checkbox").attr("checked", false);
		$(":checkbox", oTable.fnGetHiddenNodes()).attr("checked", false);
		$("#checkAll").attr("checked", false);
	});
	
	$("#page_tab").tabs();
	
	$("#accordion").accordion({ autoHeight: false });
	
	$("#btn_search").button({ icons: {primary: "ui-icon-search"} });
	
	$("#tool").buttonset();
	
	$("#btn_new").button({ icons: {primary: "ui-icon-document"} }).click(function(){
		equip = $("#id_equip_name").val();
		if (!isBlank(equip)) {
			url = "/equip-interface/add/" + equip;
			location.href = url;
		} else {
			return;
		}
	});
	
	$("#btn_add_several").button({ icons: {primary: "ui-icon-copy"} }).click(function(){
		equip = $("#id_equip_name").val();
		if (!isBlank(equip)) {
			url = "/equip-interface/addseveral/" + equip;
			location.href = url;
		} else {
			return;
		}
	});

	$("#btn_channel").button({ icons: {primary: "ui-icon-copy"} }).click(function(){
        if (confirm('Criar channel?')){
            var data = getSelectionData(oTable);
            $("#id_ids_channel").val(data).parent().submit();
        }
    });
	
	{% has_perm EQUIPMENT_MANAGEMENT True None %}
	{% if has_perm %}
	$("#btn_del").button({ icons: {primary: "ui-icon-trash"} }).click(function(){
		if (confirm('Deseja realmente excluir a(s) Interface(s) selecionada(s)?')){ 
			var data = getSelectionData(oTable);
			$("#id_ids").val(data).parent().submit();
		}
	});
	{% endif %}

	{% has_perm EQUIPMENT_MANAGEMENT True None %}
	{% if has_perm %}
	$("#btn_del_chan").button({ icons: {primary: "ui-icon-trash"} }).click(function(){
		if (confirm('Deseja realmente excluir o channel?')){
			var data = getSelectionData(oTable);
			$("#id_ids_chan").val(data).parent().submit();
		}
	});
	{% endif %}

	$("#btn_ref").button({ icons: {primary: "ui-icon-refresh"} }).click(function(){
		location.reload();
	});

	$(".btn_edit_channel").button({ icons: {primary: "ui-icon-pencil"}, text: false });

	$(".btn_edit_channel", oTable.fnGetHiddenNodes()).button({ icons: {primary: "ui-icon-pencil"}, text: false });

	$(".btn_edit").button({ icons: {primary: "ui-icon-pencil"}, text: false }).click(function(e) {
		e.preventDefault();
		url = "/equip-interface/edit/" + $("#id_equip_name").val() + "/" + $(this).attr("href");
		location.href = url;
	});

	$(".btn_edit", oTable.fnGetHiddenNodes()).button({ icons: {primary: "ui-icon-pencil"}, text: false }).click(function(e) {
		e.preventDefault();
		url = "/equip-interface/edit/" + $("#id_equip_name").val() + "/" + $(this).attr("href");
		location.href = url;
	});
	
	autocomplete("{% url equipment.autocomplete.ajax %}", true, "id_equip_name", false);
	
	$(".btn_equip").live("click", function() {
		$("#id_equip_name").val($(this).html());
		$("#search_form").submit();
	});
	
})
</script>
{% endblock %}

{% block content %}
<div id="page_tab">
	<ul>
		<li><span class="ui-icon ui-icon-triangle-1-e page_tab_icon"></span><a href="#tabs-1">Listagem das Interfaces do Equipamento</a></li>
	</ul>
	<div id="tabs-1">
		<div id="accordion">
			<h3><a href="#">Equipamento</a></h3>
			<div>
				<form id="search_form" method="get" action="{% url interface.list %}">
				{% csrf_token %}
				{% for field in search_form %}
					{{ field }}
				{% endfor %}
					<img id="loading-autocomplete" src="{{ MEDIA_URL }}/img/input-loading.gif" style="display: none;" />
					<button id="btn_search" type="submit">Pesquisar</button>
					{% for field in search_form %}
					{% if field.errors %}
					<p id="error">
						{% for error in field.errors %}
							{{ error|escape }}
						{% endfor %}
					</p>
					{% endif %}
					{% endfor %}
				</form>
			</div>
		</div>
		<div class="buttons">
			<button id="btn_ref" title="Atualizar dados da listagem">Atualizar</button>
			<span id="tool">
			<button id="btn_new">Novo Registro</button>
			<button id="btn_add_several">Adicionar Vários</button>
			<button id="btn_channel">Channel</button>
            <button id="btn_del_chan">Excluir Channel</button>
			{% has_perm EQUIPMENT_MANAGEMENT True None %}
			{% if has_perm %}
			<button id="btn_del">Excluir</button>
			{% endif %}
			</span>
		</div>
		{% has_perm EQUIPMENT_MANAGEMENT True None %}
		{% if has_perm %}
		<form id="delete_form" method="post" action="{% url equip.interface.delete %}" style="visibility: hidden;">
			{% csrf_token %}
			{% for field in del_form %}
				{{ field }}
			{% endfor %}
		</form>
		{% endif %}
		{% has_perm EQUIPMENT_MANAGEMENT True None %}
		{% if has_perm %}
		<form id="delete_chan_form" method="post" action="{% url delete.channel %}" style="visibility: hidden;">
			{% csrf_token %}
			{% for field in del_chan_form %}
				{{ field }}
			{% endfor %}
		</form>
		{% endif %}
		{% has_perm EQUIPMENT_MANAGEMENT True None %}
        {% if has_perm %}
        <form id="channel_form" method="post" action="{% url inserir.channel %}" style="visibility: hidden;">
            {% csrf_token %}
            {% for field in channel_form %}
                {{ field }}
            {% endfor %}
        </form>
        {% endif %}
		<table id="equip_interface_list">
            <col width="2%" />
            <col width="8%" />
            <col width="7%" />
            <col/>
            {% ifequal pp "1" %}<col/>{% endifequal %}
            <col width="7%" />
            <col width="5%" />
            <col width="7%" />
            <col width="3%" />
            <thead>
				<tr>
					<th><input id="checkAll" type="checkbox" /></th>
					<th>Interface</th>					
					<th>Channel</th>
					<th>Ligação de Front</th>
					{% ifequal pp "1" %}
					<th>Ligação de Back</th>
					{% endifequal %}
					<th>Descrição</th>
					<th>Protegida</th>
					<th>Tipo</th>
					<th>Vlan Nativa</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for interface in equip_interface %}
				<tr>
					<td class="text_center"><input type="checkbox" name="selection" value="{{ interface.id }}" /></td>
					<td>{{ interface.interface }}</td>
					<td>
						{% ifequal interface.channel None %}
						{% else %}
						{% ifequal interface.sw_router None %}
						{% else %}
						<a href="{% url equip.interface.edit.channel interface.channel equip_name %}" style="width: 20px; height: 20px;"
						   class="btn_edit_channel">Editar
						</a>
						{% endifequal %}
							{{ interface.channel }}
						{% endifequal %}
					</td>
					<td>
						<a class="btn_equip" href="#" style="color: royalblue;">
							{{ interface.nome_equip_l_front }}
						</a>
						{{ interface.nome_ligacao_front }}
					</td>
					{% ifequal pp "1" %}
					<td>
						<a class="btn_equip" href="#" style="color: royalblue;">
							{{ interface.nome_equip_l_back }}
						</a>
						{{ interface.nome_ligacao_back }}
					</td>
					{% endifequal %}
					<td>
						{% ifequal interface.channel None %}
						{% else %}
							{{ interface.descricao }}
						{% endifequal %}
					</td>
					<td>
						{% ifequal interface.protegida "True" %}
							Sim
						{% else %}
							Não
						{% endifequal %}
					</td>
					<td>
						{% ifequal interface.tipo None %}
						{% else %}
							{{ interface.tipo }}
						{% endifequal %}
					</td>
					<td>
						{% ifequal interface.vlan None %}
						{% else %}
							{{ interface.vlan }}
						{% endifequal %}
					</td>
					<td class="text_center">
						<a href="{{ interface.id }}" style="width: 20px; height: 20px;" class="btn_edit">
							Editar
						</a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}