<!--
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
{% extends "template.html" %}

{% load util %}

{% block title %}[Permissões Individuais de Objeto - Criação]{% endblock %}

{% block header %}
<script type="text/javascript">
var select2_basic = {
    placeholder: 'Selecione',
    allowClear: true, // Adds X image to clear select
    closeOnSelect: true, // Only applies to multiple selects. Closes the select upon selection.
    minimumResultsForSearch: 3 // Removes search when there are 3 or fewer options
};
$(document).ready(function() {

    $(".select2").select2(select2_basic);
	$("#page_tab").tabs();

	$("#btn_sav").button({ icons: {primary: "ui-icon-disk"} });

	$("#btn_can").button({ icons: {primary: "ui-icon-cancel"} }).click(function(){
		location.href = "{% url environment-vip.list %}";
	});

    $("select[name=type_obj]").change(function(){

        if($("select[name=type_obj]").val()!=0 && $("select[name=type_obj]").val()!=null){
            $("select[name=obj]").prop('disabled',false);

        }else{
            $("select[name=obj]").prop('disabled',true);

        }

	});

    autocomplete("{% url vip-request.list.ajax %}", false, "id_obj_name", false);
});
</script>
{% endblock %}

{% block content %}
<div id="page_tab">
	<ul>
		<li><span class="ui-icon ui-icon-triangle-1-e page_tab_icon"></span><a href="#tabs-1">Criação de Permissão Individual de Objeto</a></li>
	</ul>
	<div id="tabs-1">

        <div id="fields" class="ui-widget-content">
            <table>
                <tr>
                    <td style="width: 100px"><label for="nome_grupo">Grupo de Usuário</label></td>
                    <td><label style="width: 350px;color: blue;text-align: center;" >{{group_name}}</label></td>
                </tr>

                <tr>
                    <td style="width: 100px"><label for="tipo_objeto">Tipo dos Objetos</label></td>
                    <td><label style="width: 350px;color: blue;text-align: center;" >{{object_type}}</label></td>
                </tr>

            </table>
        </div>
        <div class="separator spacer"></div>

		<form id="edit_form" method="post" action="{% url user-group-individual-perms.create 9 1 %}">
			{% csrf_token %}
			<div id="fields" class="ui-widget-content">
			{% for field in form_individ_perms_group_user %}
				<div>
					<div><label for="{{ field.auto_id }}">{{ field.label_tag }}{% if field.field.required %}<span style="color: red;">*</span>{% endif %}</label></div>
					{{ field }}
					<p id="error">
					{% if field.errors %}
						{% for error in field.errors %}
							{{ error|escape }}
						{% endfor %}
					{% endif %}
					</p>
				</div>
			{% endfor %}
			</div>

			<div class="separator spacer"></div>

			<div class="buttons-l ui-widget-header">
				<button id="btn_sav" type="submit">Gravar</button>
				<button id="btn_can" type="button">Cancelar</button>
			</div>
		</form>
	</div>
</div>
{% endblock %}
