{% extends "template.html" %}

{% load util %}

{% block title %}[Grupos de Equipamentos - Listagem]{% endblock %}

{% block header %}
<script type="text/javascript">
$(document).ready(function() {
	
	oTable = $("#egrops_list").dataTable({
		"aaSorting": [],
		"bJQueryUI": true,
		"sPaginationType": "full_numbers",
		"iDisplayLength": {% max_results %},
		"aoColumnDefs": [{ "bSortable": false, "aTargets": [ 0, 2 ] }]
	});
	
	$("#checkAll").click( function() {
		if ($(this).attr('checked')) {
			$(":checkbox").attr("checked", true);
		} else {
			$(":checkbox").attr("checked", false);
		}
	});
	
	$(".fg-button").live("click", function(){
		$(":checkbox").attr("checked", false);
		$(":checkbox", oTable.fnGetHiddenNodes()).attr("checked", false);
		$("#checkAll").attr("checked", false);
	});
	
	$("#page_tab").tabs();
	
	$("#tool").buttonset();
	
	$("#btn_new").button({ icons: {primary: "ui-icon-document"} }).click(function(){
		location.href = "{% url group-equip.form %}";
	});
	
	{% has_perm ADMINISTRATION True None %}
	{% if has_perm %}
	$("#btn_del").button({ icons: {primary: "ui-icon-trash"} }).click(function(){
		if (confirm('Deseja realmente excluir o(s) Grupos de equipamentos selecionado(s)?')){ 
			var data = getSelectionData(oTable);
			$("#id_ids").val(data).parent().submit();
		}
	});
	{% endif %}
	
	$("#btn_ref").button({ icons: {primary: "ui-icon-refresh"} }).click(function(){
		location.reload();
	});
	
	$(".btn_edit").button({ icons: {primary: "ui-icon-pencil"}, text: false });
	$(".btn_edit", oTable.fnGetHiddenNodes()).button({ icons: {primary: "ui-icon-pencil"}, text: false });
	
	$("#egrops_list tbody tr").live("click", function(e) {
		if (!(e.target.nodeName == 'A' || e.target.nodeName == 'SPAN' || e.target.nodeName == 'INPUT' || (e.target.nodeName == 'DIV' && e.target.className == 'expand'))) {
			location.href = $(this).find(".table_id").attr("lang");
		}
	});
	
	
})
</script>
<style>
#egrops_list tbody tr {
	cursor: pointer;
}
</style>
{% endblock %}

{% block content %}
<div id="page_tab">
	<ul>
		<li><span class="ui-icon ui-icon-triangle-1-e page_tab_icon"></span><a href="#tabs-1">Listagem de Grupos de Equipamentos</a></li>
	</ul>
	<div id="tabs-1">
		<div class="buttons">
			<button id="btn_ref" title="Atualizar dados da listagem">Atualizar</button>
			<span id="tool">
			<button id="btn_new">Novo Registro</button>
			{% has_perm ADMINISTRATION True None %}
			{% if has_perm %}
			<button id="btn_del">Excluir</button>
			{% endif %}
			</span>
		</div>
		{% has_perm ADMINISTRATION True None %}
		{% if has_perm %}
		<form id="delete_form" method="post" action="{% url group-equip.delete %}" style="visibility: hidden;">
			{% csrf_token %}
			{% for field in form %}
				{{ field }}
			{% endfor %}
		</form>
		{% endif %}
		<table id="egrops_list">
			<thead>
				<tr>
					<th><input id="checkAll" type="checkbox" /></th>
					<th>Nome</th>					
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for egroup in grupo %}
				<tr>
					<td class="text_center table_id" lang="{% url equip-group.list egroup.id 0 %}"><input type="checkbox" name="selection" value="{{ egroup.id }}" /></td>
					<td class="text_center">{{ egroup.nome }}</td>
					<td class="text_center"><a href="{% url group-equip.edit egroup.id %}" style="width: 20px; height: 20px;" class="btn_edit">Editar</a></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}