<!--
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
{% load util %}
<script type="text/javascript">
$(document).ready(function() {

{% if connect_form %}

	$("#connect_form").submit(function(event) {
		event.preventDefault();
		url = "{% url interface.connect id_interface front_or_back %}";
		form = $("#connect_form").serialize();
		$.ajax({
			url: url,
			data: form,
			type: "POST",
			complete: function(xhr, status) {
				if (xhr.status == "500") {
					$("#dialog-form").dialog("close");
					location.reload();
				} else if (xhr.status == "278" || xhr.status == "302") {
					$("#dialog-form").dialog("close");
					window.location = xhr.getResponseHeader('Location');
				} else if (xhr.status == "200") {
					$("#dialog-form").html(xhr.responseText);
				} else {
					$("#dialog-form").dialog("close");
				}
			}
		});
	});

	$("#dialog-form").dialog({
		width: 600,
		modal: true,
		autoOpen: false,
		draggable: false,
		resizable: false,
		buttons: [
		          {
		        	  text: "Voltar",
		              id: "back",
		              click: function() {
		              }
		          },
		          {
		        	  text: "Associar",
		        	  id: "ass",
		              click: function() {
		  				$("#connect_form").submit();
		              }
		          },
		          {
		        	  text: "Cancelar",
		        	  id: "can",
		              click: function() {
		            	  $(this).dialog("close");
		              }
		          }
		      ]
	});

	$(".ui-dialog-buttonset").attr("style","width: 578px;");
	$("#back").attr("style","float: left;");
	$("#ass").attr("style","float: right;");
	$("#can").attr("style","float: right;");

	$("#back").click(function(event) {
			event.preventDefault();
			url = "/interface/connect/23206/1"
			$.ajax({
				url: url,
				type: "GET",
				complete: function(xhr, status) {
					if (xhr.status == "500") {
						$("#dialog-form").dialog("close");
						location.reload();
					} else if (xhr.status == "278" || xhr.status == "302") {
						$("#dialog-form").dialog("close");
						window.location = xhr.getResponseHeader('Location');
					} else if (xhr.status == "200") {
						$("#dialog-form").html(xhr.responseText);
						$("#dialog-form").dialog("open");
					} else {
						$("#dialog-form").dialog("close");
					}
				}
			});
		});

	$("#btn_can").button({ icons: {primary: "ui-icon-cancel"} }).click(function() {
		location.href = "{% url interface.list %}?search_equipment={{ equip_name }}";
	});

{% else %}
	$("#dialog-form").dialog({
		width: 600,
		modal: true,
		autoOpen: false,
		draggable: false,
		resizable: false,
		buttons: {
			"Associar": function() {
				$("#connect_form").submit();
			},
			"Cancelar": function() {
				$(this).dialog("close");
			}
		}
	});
	$("#search_form").submit(function(event) {
		event.preventDefault();
		url = "{% url interface.connect id_interface front_or_back %}";
		form = $("#search_form").serialize();
		$.ajax({
			url: url,
			data: form,
			type: "GET",
			complete: function(xhr, status) {
				if (xhr.status == "500") {
					$("#dialog-form").dialog("close");
					location.reload();
				} else if (xhr.status == "278" || xhr.status == "302") {
					$("#dialog-form").dialog("close");
					window.location = xhr.getResponseHeader('Location');
				} else if (xhr.status == "200") {
					$("#dialog-form").html(xhr.responseText);
					$("#dialog-form").dialog("open");
				} else {
					$("#dialog-form").dialog("close");
				}
			}
		});
	});
	autocomplete("{% url equipment.autocomplete.ajax %}", true, "id_equip_name", false);
	$("#btn_search").button({ icons: {primary: "ui-icon-check"} }).click(function(){ $("#search_form").submit(); });
{% endif %}
});
</script>

<p id="error">
    {% if field.errors %}
        {% for error in field.errors %}
            {{ error|escape }}
        {% endfor %}
    {% endif %}
</p>

<div style="text-align: center;">
	{% if connect_form %}
        <div>
            <form id="connect_form" action="{% url interface.connect id_interface front_or_back %}">
                <div style="float: left;">
                    {% csrf_token %}
                    {% for field in connect_form %}
                        {% if field.is_hidden %}
                            {{ field }}
                        {% else %}
                            <div>
                                {% if forloop.counter = 1 %}
                                    <div><b>Selecione uma interface:</b></div>
                                {% endif %}
                                {% if forloop.counter = 1 %}
                                    <div>Front:</div>
                                {% endif %}
                                {% if forloop.counter = 2 %}
                                    {% ifequal equipment.equipment_type 8 %}
                                        <div>Back:</div>
                                    {% endifequal %}
                                {% endif %}
                                {{ field }}
                                <p id="error">
                                    {% if field.errors %}
                                        {% for error in field.errors %}
                                            {{ error|escape }}
                                        {% endfor %}
                                    {% endif %}
                                </p>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </form>
            <img src="{{ MEDIA_URL }}/img/{% ifequal equipment.equipment_type 8 %}patch{% else %}serv{% endifequal %}.png"
                 style="height: {% ifequal equipment.equipment_type 8 %}28{% else %}74{% endifequal %}px; float: left; margin-top: {% ifequal equipment.equipment_type 8 %}40{% else %}0{% endifequal %}px; margin-left: 10px;" />
            <a style="float: left; margin-top: {% ifequal equipment.equipment_type 8 %}45{% else %}25{% endifequal %}px; margin-left: 10px;"
               href="{% url interface.list %}?search_equipment={{ connect_form.equip_name.value }}">
                {{ connect_form.equip_name.value }}
            </a>
            <div style="clear: left;"></div>
        </div>
    {% else %}
        <form id="search_form" action="{% url interface.connect id_interface front_or_back %}" class="modal-rows">
            <div class="input-group input-group-sm">
                <input name="search_equip"
                       id="search_input"
                       class="form-control"
                       data-form-field="search_equip"
                       placeholder="Busque pelo nome do Equip..."
                       required>
            </div>
            <div>
                <span class="input-group-addon">
                    <img id="loading-autocomplete" src="{{ MEDIA_URL }}/img/input-loading.gif" style="display: none;"/>
                </span>
            </div>
            <div>
                <button class="btn_search">
                    <i class="material-icons" style="color:#FFD17C;font-size:20px">search</i>
                </button>
            </div>
            <p id="error">
                {% for error in field.errors %}
                    {{ error|escape }}
                {% endfor %}
            </p>
        </form>
    {% endif %}
</div>