{% extends "menu.html" %}
{% block header %}
<style>
.ui-widget-content {
    border: 1px solid #f5f5f5;
    background: #f5f5f5  50% 50% repeat-x;
    color: #9d9d9d;
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    border: 1px solid #FFF2D5;
    background: #FFF2D5 50% 50% repeat-x;
    font-weight: bold; color: #9d9d9d;}
.ui-state-hover a, .ui-state-hover a:hover {
    color: #9d9d9d;
    text-decoration: none; }
</style>
<script type="text/javascript">
$(document).ready(function() {
	autocomplete("{% url equipment.autocomplete.ajax %}", true, "id_equip_name", false);
})
</script>
{% endblock %}
{% block content %}
<section class="mbr-section mbr-after-navbar" id="form1-5" style="background-color: rgb(255, 255, 255); padding-top: 120px; padding-bottom: 120px;">
    <div class="mbr-section mbr-section__container mbr-section__container--middle">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-xs-center">
                    <h3 class="mbr-section-title display-2">Interfaces do Equipamento</h3>

                </div>
            </div>
        </div>
    </div>
    <div class="mbr-section mbr-section-nopadding">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <form id="search_form" action="{% url interface.list %}">
                        {% csrf_token %}
                        <div class="input-group input-group-lg">
                            <input autocomplete="off" class="form-control bs-autocomplete" name="search_equipment" data-form-field="dcname"
                                   id="id_equip_name" placeholder="Nome do equipamento..." autofocus>
                            <div class="input-group-btn">
                                <button class="btn primary" style="background-color:#f5f5f5;border:#9d9d9d;">
                                    <i class="material-icons" style="color:#FFD17C;font-size:30px">search</i>
                                </button>
                            </div>
                            <img id="loading-autocomplete" src="{{ MEDIA_URL }}/img/input-loading.gif" style="display: none;" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

