{% extends "menu.html" %}

{% block content %}
<section class="mbr-section mbr-after-navbar" id="form1-5"
         style="background-color: rgb(255, 255, 255); padding-top: 120px; padding-bottom: 120px;">
    <div class="mbr-section mbr-section__container mbr-section__container--middle">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-xs-center">
                    <h3 class="mbr-section-title display-2">Nova Interface</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="mbr-section mbr-section-nopadding">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-lg-10 col-lg-offset-1">
                    <form action="{% url interface.add equip_name %}" method="post" id="interface_form">
                        {% csrf_token %}
                        <div class="row row-sm-offset">
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <label class="form-control-label"
                                           for="interface_name">
                                        Nome da Interface<span class="form-asterisk">*</span>
                                    </label>
                                    <input class="form-control"
                                           name="name"
                                           data-form-field="name"
                                           placeholder="Ex.: Eth10"
                                           id="interface_name">
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <label class="form-control-label"
                                           for="interface_description">
                                        Descrição
                                    </label>
                                    <input class="form-control"
                                           name="description"
                                           data-form-field="description"
                                           id="interface_description">
                                </div>
                            </div>
                        </div>
                        <div class="row row-sm-offset">
                            <div class="col-xs-12 col-md-6">
                                <p class="form-control-label">Interface Protegida</p>
                                <div class="form-group">
                                    <label for="interface_protected">
                                        <input class="radio-inline"
                                               checked
                                               type="radio"
                                               name="protected"
                                               data-form-field="protected"
                                               id="interface_protected">
                                        Sim
                                    </label>
                                    <label for="interface_not_protected">
                                        <input class="radio-inline"
                                               type="radio"
                                               name="not_protected"
                                               data-form-field="not_protected"
                                               id="interface_not_protected">
                                        Não
                                    </label>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <p class="form-control-label">Tipo da Interface</p>
                                <div class="form-group">
                                    <label for="interface_access">
                                        <input class="radio-inline"
                                               checked
                                               type="radio"
                                               name="access"
                                               data-form-field="access"
                                               id="interface_access">
                                        Access
                                    </label>
                                    <label for="interface_trunk">
                                        <input class="radio-inline"
                                               type="radio"
                                               name="trunk"
                                               data-form-field="trunk"
                                               id="interface_trunk">
                                        Trunk
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row row-sm-offset">
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <label class="form-control-label"
                                           for="interface_vlan_nativa">
                                        Numero da Vlan Nativa
                                    </label>
                                    <input class="form-control"
                                           name="vlan_nativa"
                                           data-form-field="vlan_nativa"
                                           placeholder="Ex.: 1"
                                           id="interface_vlan_nativa">
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <label class="form-control-label"
                                           for="interface_range_vlan">
                                        Range de Vlans
                                    </label>
                                    <input class="form-control"
                                           name="vlans"
                                           data-form-field="vlans"
                                           placeholder="Ex.: 2-100"
                                           id="interface_range_vlan">
                                </div>
                            </div>
                        </div>
                        <div class="row row-sm-offset">
                            <div class="col-xs-12 col-md-12">
                                <p class="form-control-label">Selecione os Ambientes Permitidos</p>
                                <div class="form-control" style="overflow:auto;height:150px;">
                                    {% for env in environments %}
                                        <div class="checkbox">
                                            <label style="visibility:visible;">
                                                <input type="checkbox" style="visibility:visible;">
                                                {{ env.name }} (Vlans: {{ env.min_num_vlan_1 }} - {{ env.max_num_vlan_1 }})
                                            </label>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <br><br><br><br>
                        <div class="text-xs-center">
                            <a class="btn btn-danger-outline btn-danger"
                               href="'{% url interface.list %}?search_equipment=' + equip_name">
                                Voltar
                            </a>
                            <button class="btn btn-success-outline btn-success" >
                                Salvar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

