{% extends "menu.html" %}
{% block content %}
<section class="mbr-section mbr-after-navbar" id="form1-5"
         style="background-color: rgb(255, 255, 255); padding-top: 120px; padding-bottom: 120px;">
    <div class="mbr-section mbr-section__container mbr-section__container--middle">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-xs-center">
                    <h3 class="mbr-section-title display-2">Nova Interface</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="mbr-section mbr-section-nopadding">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-lg-10 col-lg-offset-1">
                    <form action="{% url interface.add equip_id %}" method="post" id="interface_form">
                        {% csrf_token %}
                        <div class="row row-sm-offset">
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <label class="form-control-label"
                                           for="interface_name">
                                        Nome da Interface<span class="form-asterisk">*</span>
                                    </label>
                                    <input class="form-control"
                                           name="name"
                                           data-form-field="name"
                                           placeholder="Ex.: Eth10"
                                           required
                                           id="interface_name">
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <label class="form-control-label"
                                           for="interface_description">
                                        Descrição
                                    </label>
                                    <input class="form-control"
                                           name="description"
                                           data-form-field="description"
                                           id="interface_description">
                                </div>
                            </div>
                        </div>
                        <div class="row row-sm-offset">
                            <div class="col-xs-12 col-md-6 with-gap">
                                <p class="form-control-label">
                                    Interface Protegida<span class="form-asterisk">*</span>
                                </p>
                                <div class="radio-inline form-check">
                                    <input type="radio"
                                           class="form-check-input"
                                           name="protected"
                                           data-form-field="protected"
                                           id="interface_protected"
                                           value="1"
                                           required
                                           checked>
                                    <label class="form-check-label" for="interface_protected">
                                        Sim
                                    </label>
                                </div>
                                <div class="radio-inline form-check">
                                    <input type="radio"
                                           class="form-check-input"
                                           name="protected"
                                           data-form-field="protected"
                                           id="interface_not_protected"
                                           required
                                           value="0">
                                    <label class="form-check-label" for="interface_not_protected">
                                        Não
                                    </label>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <p class="form-control-label">
                                    Tipo da Interface<span class="form-asterisk">*</span>
                                </p>
                                {% for type in type_list %}
                                    <div class="radio-inline form-check">
                                        <input type="radio"
                                               class="form-check-input"
                                               name="type"
                                               data-form-field="{{ type.type }}"
                                               id="{{ type.type }}"
                                               required
                                               value="{{ type.id }}">
                                        <label class="form-check-label" for="{{ type.type }}">
                                            {{ type.type }}
                                        </label>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="row row-sm-offset">
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <label class="form-control-label"
                                           for="interface_vlan_nativa">
                                        Numero da Vlan Nativa<span class="form-asterisk">*</span>
                                    </label>
                                    <input class="form-control"
                                           name="vlan_nativa"
                                           data-form-field="vlan_nativa"
                                           placeholder="Ex.: 1"
                                           required
                                           id="interface_vlan_nativa">
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <label class="form-control-label"
                                           for="interface_range_vlan">
                                        Range de Vlans
                                    </label>
                                    <input class="form-control"
                                           name="vlans"
                                           data-form-field="vlans"
                                           placeholder="Ex.: 2-100"
                                           id="interface_range_vlan">
                                </div>
                            </div>
                        </div>
                        <div class="row row-sm-offset">
                            <div class="col-xs-12 col-md-12">
                                <p class="form-control-label">Selecione os Ambientes Permitidos</p>
                                <div class="form-control" style="overflow:auto;height:150px;">
                                    {% for env in environments %}
                                        <div class="checkbox">
                                            <label style="visibility:visible;">
                                                <input class="source"
                                                       type="checkbox"
                                                       style="visibility:visible;"
                                                       value="{{ env.environment.id }}"
                                                       name="environments">
                                                {{ env.environment.name }} (Vlans: {{ env.environment.min_num_vlan_1 }} - {{ env.environment.max_num_vlan_1 }})
                                            </label>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <br><br><br><br>
                        <div class="text-xs-center">
                            <a class="btn btn-danger-outline btn-danger"
                               href="'{% url interface.list %}?search_equipment=' + equip_name">
                                Voltar
                            </a>
                            <button class="btn btn-success-outline btn-success" >
                                Salvar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

