<div>
    <div class="modal-rows">
        <div class="input-group input-group-sm">
            <input name="search_equip"
                   class="form-control"
                   data-form-field="search_equip"
                   placeholder="Busque pelo nome do Equip..."
                   required
                   >
        </div>
        <div>
            <button  class="search-button">
                <i class="material-icons" style="color:#FFD17C;font-size:20px">search</i>
            </button>
        </div>
    </div>
</div>
<div>
    <div class="modal-rows">
        <div class="input-group input-group-sm">
            <input name="search_equip"
                   class="form-control"
                   data-form-field="search_equip"
                   placeholder="Busque pelo nome do Equip..."
                   required
                   >
        </div>
        <div>
            <button class="search-button">
                <i class="material-icons" style="color:#FFD17C;font-size:20px">search</i>
            </button>
        </div>
    </div>
</div>