{% extends "template.html" %}

{% load util %}

{% block title %}[Login]{% endblock %}

{% block header %}
<script type="text/javascript">
$(document).ready(function() {
	$("button").button({ icons: {primary: "ui-icon-locked"} });

	$("#new_pass").click(function(){
		$("#dialog-form").dialog("open");
	});

	$("#dialog-form").dialog({
		height: 260,
		width: 500,
		modal: true,
		autoOpen: {{modal}},
		draggable: false,
		resizable: false,
		buttons: {
			"Enviar": function() {
				$("#lost_pass_form").submit();
			},
			"Cancelar": function() {
				$(this).dialog("close");
			}
		}
	});
	
})

</script>
{% endblock %}

{% block content %}

<div id="login">
	<form action="login" method="post"> {% csrf_token %}
	
		{% for field in form %}
			<p>
				<label>{{ field.label_tag }}</label>
				{{ field }}
			</p>
			<p id="error">
				{% if field.errors %} 
					{% for error in field.errors %}
						{{ error|escape }}
					{% endfor %}
				{% endif %}
			</p>
		{% endfor %}
		
		<a id="new_pass" href="#" style="float: left;">Esqueci minha senha</a>
		<p style="text-align: right;"><button>Entrar</button></p>
		
	</form>
	
	<br/>
	
	<div id="dialog-form" title="Solicitar Nova Senha">
		{% include 'mail/lost-pass.html' %}
	</div>
	
</div>
{% endblock %}