{% load util %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Globo.com - CadVlan {% block title %}{% endblock %}</title>
		<link rel="shortcut icon" href="{{ MEDIA_URL }}/img/favicon.png" type="image/ico" />
		<link   type="text/css" rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/reset.css" />
		<link   type="text/css" rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/style.css" />
		<link   type="text/css" rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/globo/jquery-ui-1.8.17.custom.css" />
		<link   type="text/css" rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/dataTable.css" />
		<link   type="text/css" rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/jquery-picklist.css" />
		<script type="text/javascript" src="{{ MEDIA_URL }}/js/jquery.min.js"></script>
		<script type="text/javascript" src="{{ MEDIA_URL }}/js/jquery-ui.custom.min.js"></script>	
		<script type="text/javascript" src="{{ MEDIA_URL }}/js/jquery.dataTables.js"></script>
		<script type="text/javascript" src="{{ MEDIA_URL }}/js/hoverIntent.js"></script>
		<script type="text/javascript" src="{{ MEDIA_URL }}/js/jquery.dropdown.js"></script>
		<script type="text/javascript" src="{{ MEDIA_URL }}/js/jquery-picklist.js"></script>
		<script type="text/javascript" src="{{ MEDIA_URL }}/js/utils.js"></script>
		<script type="text/javascript" src="{{ MEDIA_URL }}/js/jquery.jeditable.js"></script>
		<script type="text/javascript">
			$(document).ready(function() {
				$(".error-messages").each(function() {
					$(this).delay(15000).animate({ opacity: 'toggle', height: 'toggle' }, "slow");
				});
				
				$(".loading").ajaxStart(function() {
					$(this).show();
				});
				
				$(".loading").ajaxStop(function() {
					$(this).hide();
				});
				
				$("#id_new_pass").val("");
				
				$("#modal").click(function(){
					$("#dialog-form-home").dialog("open");
				});
				
				$("#change_pass").click(function() {
					$.ajax({
						url: "{% url home.change.pass %}",
						success: function(data) {
							$("#change_pass_form").html(data);
							$("#dialog-form-home").dialog("open");
						}
					});
				});
				
				$("#dialog-form-home").dialog({
					height: 260,
					width: 500,
					modal: true,
					autoOpen: false,
					draggable: false,
					resizable: false,
					buttons: {
						"Alterar": function() {
							data_form = $("#new_pass_form").serialize();
							$.ajax({
								url: "{% url home.change.pass %}",
								data: data_form,
								type: "POST",
								success: function() {
									$("#dialog-form-home").dialog("close");
									location.reload();
								},
								error: function(data) {
									$("#change_pass_form").html(data.responseText);
									$(this).dialog("open");
								}
							});
						},
						"Cancelar": function() {
							$(this).dialog("close");
						}
					}
				});
				
		
				
			})
		</script>
		{% block header %}{% endblock %}
	</head>
{% autoescape on %}
	<body>
		<div id="header">
			<div id="logo"></div>
			<div id="top">
			{% if request|is_authenticated %}
				<div id="user">
					<div id="name"><img id="img" src="{{ MEDIA_URL }}/img/user_left.png" width="45" height="46" /><div id="text">{% user_name request %}</div><img src="{{ MEDIA_URL }}/img/user_right.png" width="19" height="46" /></div>
					<div class="btn"><div id="change_pass" class="text" style="width: 80px">Alterar Senha</div></div>
					<div class="btn"><div class="text" onclick="window.location='/logout'">Logout</div></div>
					
					{% has_perm ADMINISTRATION True None %}
					{% if has_perm %}
						<div class="btn"><div class="adm">Admin</div></div>
					{% endif %}
					
					{% block btns %}{% endblock %}
				</div>
			{% endif %}
			</div>
			<div id="menu">
				{% if request|is_authenticated %}
				<ul class="dropdown">
					
					{% has_perm_menu  None True %}
					{% if has_perm %}
					<li>
						<a href="#" class="list">Listar</a>
						<ul class="sub_menu">
							{% has_perm VLAN_MANAGEMENT None True %}
							{% if has_perm %}
							<li><a href="{% url vlan.search.list %}">Vlans</a></li>
							{% endif %}
							
							{% has_perm EQUIPMENT_MANAGEMENT None True %}
							{% if has_perm %}
							<li><a href="{% url equipment.search.list %}">Equipamentos</a></li>
							{% endif %}
							
							{% has_perm ENVIRONMENT_MANAGEMENT None True %}
							{% if has_perm %}
							<li><a href="{% url environment.list %}">Ambientes</a></li>
							{% endif %}
							
							{% has_perm EQUIPMENT_MANAGEMENT None True %}
							{% if has_perm %}
							<li><a href="{% url equip.interface.search.list %}">Interfaces</a></li>
							{% endif %}
														
							{% has_perm EQUIPMENT_MANAGEMENT None True %}
							{% if has_perm %}
							<li><a href="{% url equip.access.search.list %}">Acessos</a></li>
							{% endif %}
							
							{% has_perm SCRIPT_MANAGEMENT None True %}
							{% if has_perm %}
							<li><a href="{% url script.list %}">Roteiro</a></li>
							{% endif %}
							
							{% has_perm SCRIPT_MANAGEMENT None True %}
							{% if has_perm %}
							<li><a href="{% url script.type.list %}">Tipo de Roteiro</a></li>
							{% endif %}
							
							{% has_perm OPTION_VIP None True %}
							{% if has_perm %}
							<li><a href="{% url option-vip.list %}">Opções VIP</a></li>
							{% endif %}
							
							{% has_perm ENVIRONMENT_VIP None True %}
							{% if has_perm %}
							<li><a href="{% url environment-vip.list %}">Ambiente VIP</a></li>
							{% endif %}
							
						</ul>
					</li>
					{% endif %}
					
					{% has_perm_menu  True None %}
					{% if has_perm %}
					<li>
						<a href="#" class="cad">Cadastrar</a>
						<ul class="sub_menu">
							{% has_perm VLAN_MANAGEMENT True None %}
							{% if has_perm %}
							<li><a href="{% url vlan.form %}">Vlan</a></li>
							{% endif %}
							
							{% has_perm VLAN_MANAGEMENT True None %}
							{% if has_perm %}
							<li><a href="{% url network.form %}">Rede</a></li>
							{% endif %}
							
							{% has_perm EQUIPMENT_MANAGEMENT True None %}
							{% if has_perm %}
							<li><a href="{% url equipment.form %}">Equipamento</a></li>
							{% endif %}
							
							{% has_perm ENVIRONMENT_MANAGEMENT True None %}
							{% if has_perm %}
							<li><a href="{% url environment.form %}">Ambiente</a></li>
							{% endif %}
							
							<li class="separator"></li>
							
							{% has_perm EQUIPMENT_MANAGEMENT True None %}
							{% if has_perm %}
							<li><a href="{% url equip.access.form %}">Acessos</a></li>
							{% endif %}
							
							{% has_perm SCRIPT_MANAGEMENT True None %}
							{% if has_perm %}
							<li><a href="{% url script.form %}">Roteiro</a></li>
							{% endif %}
							
							{% has_perm SCRIPT_MANAGEMENT True None %}
							{% if has_perm %}
							<li><a href="{% url script.type.form %}">Tipo de Roteiro</a></li>
							{% endif %}
							
							{% has_perm BRAND_MANAGEMENT True None %}
							{% if has_perm %}
							<li><a href="{% url equipment.marca.form %}">Marca e/ou Modelo</a></li>
							{% endif %}
							
							{% has_perm OPTION_VIP True None %}
							{% if has_perm %}
							<li><a href="{% url option-vip.form %}">Opções VIP</a></li>
							{% endif %}
							
							{% has_perm ENVIRONMENT_VIP True None %}
							{% if has_perm %}
							<li><a href="{% url environment-vip.form %}">Ambiente VIP</a></li>
							{% endif %}
							
							{% has_perm ACCESS_TYPE_MANAGEMENT True None %}
							{% if has_perm %}
							<li><a href="{% url access-type.form %}">Tipo de Acesso</a></li>
							{% endif %}
							
							{% has_perm NETWORK_TYPE_MANAGEMENT True None %}
							{% if has_perm %}
							<li><a href="{% url network-type.form %}">Tipo de Rede</a></li>
							{% endif %}
							
							{% has_perm EQUIPMENT_MANAGEMENT True None %}
							{% if has_perm %}
							<li><a href="{% url equipment-type.form %}">Tipo de Equipamento</a></li>
							{% endif %}
							
							{% has_perm HEALTH_CHECK_EXPECT True None %}
							{% if has_perm %}
							<li><a href="{% url healthcheck-expect.form %}">Healthcheck Expect para Ambiente</a></li>
							{% endif %}
						</ul>
					</li>
					{% endif %}
					
					{% has_perm EQUIPMENT_MANAGEMENT True None %}
					{% if has_perm %}
					<li>
						<a href="#" class="rot">Roteiros</a>
						<ul class="sub_menu">
							<li><a href="{% url equip.script.search.list %}">Roteiros do Equipamento</a></li>
						</ul>
					</li>
					{% endif %}
					
					{% has_perm USER_ADMINISTRATION True None %}
					{% if has_perm %}
					<li>
						<a href="#" class="ldap">LDAP</a>
						<ul class="sub_menu">
							<li><a href="#">Usuários Internos</a></li>
							<li><a href="#">Usuários Externos</a></li>
							<li><a href="{% url ldap.group.list %}">Grupos</a></li>
							<li><a href="#">Sudoers</a></li>
							
						</ul>
					</li>
					{% endif %}
					
					{% has_perm ADMINISTRATION True None %}
					{% if has_perm %}
					<li>
						<a href="#" class="adm">Administração</a>
						<ul class="sub_menu">
							<li><a href="{% url group-equip.list %}">Grupos de equipamentos</a></li>
							<li><a href="{% url group-user.list %}">Grupos de Usuários</a></li>
							<li><a href="{% url user.list 0 0 %}">Usuários</a></li>
							<li><a href="{% url vip-request.list %}">Requisições de VIP</a></li>
						</ul>
					</li>
					{% endif %}
				</ul>
				{% endif %}
			</div>
			<div id="bar"></div>
		</div>

		<div id="messages">
		{% if messages %}
			<!-- <ul class="messages">  -->
				{% for message in messages %}
					<div class='ui-widget error-messages'>
						<p></p>
						<div id="messagesError" class="{% if message.tags == 'error'%}ui-state-error{% else %}ui-state-highlight{% endif %} ui-corner-all {{ message.tags }}">
							<span class="ui-icon"></span>
							{{ message }}
						</div>
						<p></p>
					</div>
				{% endfor %}
			<!--</ul>  -->
		{% endif %}
		</div>

		<div id="content">
		{% block content %}{% endblock %}
		</div>
		
		<div id="dialog-form-home" title="Alterar Senha">
			<div id="change_pass_form">
			</div>
		</div>
		
		<div class="loading">
			<br />
			<p style="text-align: center;"><img src="{{ MEDIA_URL }}/img/ajax-loading.gif" width="32" height="32" /></p>
			<p style="text-align: center; font-size: 14px;"><b>Aguarde</b></p>
		</div>
	</body>
{% endautoescape %}
</html>