<nav class="navbar navbar-dropdown navbar-fixed-top">
    <div class="container">
        <div class="mbr-table">
            <div class="mbr-table-cell">
                <div class="navbar-brand">
                    <a class="navbar-caption text-primary" href="/home">CadVlan</a>
                </div>
            </div>
            <div class="mbr-table-cell">
                <button class="navbar-toggler pull-xs-right hidden-md-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
                    <div class="hamburger-icon"></div>
                </button>
                <ul class="nav-dropdown collapse pull-xs-right nav navbar-nav navbar-toggleable-sm" id="exCollapsingNavbar">
                    <li class="nav-item">
                        <a class="nav-link link"
                           href="http://globonetworkapi-webui.readthedocs.io/en/latest/about.html">
                            About
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link link dropdown-toggle" href="#" aria-expanded="false" data-toggle="dropdown">Features</a>
                        <ol class="dropdown-menu">
                            <div class="dropdown">
                            <a class="dropdown-item" href="/equip-access/search-list">Acessos</a>
                            <a class="dropdown-item" href="/acl/template">ACL</a>
                            <a class="dropdown-item" href="/environment/list">Ambiente</a>
                            <a class="dropdown-item" href="/environment-vip/list">Ambientes VIP</a>
                            <a class="dropdown-item" href="/datacenter/">Data Center</a>
                            <a class="dropdown-item" href="/equipment/list">Equipamentos</a>
                            <a class="dropdown-item" href="/filter/list">Filtros</a>
                            <a class="dropdown-item" href="/interface/">Interfaces</a>
                            <a class="dropdown-item" href="/option-vip/list">Opções VIP</a>
                            <a class="dropdown-item" href="/pool/list/new">Pool</a>
                            <a class="dropdown-item" href="/rack/ajax-view">Racks</a>
                            <a class="dropdown-item" href="/script/list">Roteiros</a>
                            <a class="dropdown-item" href="/script/list">Roteiros do Equipamento</a>
                            <a class="dropdown-item" href="/script-type/list">Tipo de Roteiros</a>
                            <a class="dropdown-item" href="/vip-request/list">VIP</a>
                            <a class="dropdown-item" href="/vlan/list">Vlans</a>
                            </div>
                        </ol>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link link dropdown-toggle" href="#" aria-expanded="false" data-toggle="dropdown">Admin</a>
                        <ol class="dropdown-menu">
                            <div class="dropdown">
                            <a class="dropdown-item" href="/group-equip/list">Grupos de Equipamentos</a>
                            <a class="dropdown-item" href="/group-user/list">Grupos de Usuários</a>
                            <a class="dropdown-item" href="/user/list/0/0">Usuários</a>
                            <a class="dropdown-item" href="/system/variables/list">Variáveis do sistema</a>
                            </div>
                        </ol>
                    </li>
                    <!--li class="nav-item dropdown">
                        <a class="nav-link link dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">Conta</a>
                        <ol class="dropdown-menu">
                            <a class="dropdown-item" href="/home">Senha</a>
                            <a class="dropdown-item" href="/home">Logout</a>
                        </ol>
                    </--li-->
                </ul>
            </div>
        </div>
    </div>
</nav>
