{% extends "template.html" %}

{% load util %}

{% block title %}[Requisição VIP - Cadastro]{% endblock %}

{% block header %}
<style>
ul {
list-style-type: none;
}
</style>
<script type="text/javascript">
$(document).ready(function() {
	{% include "vip-request/include_vip_js" %}
	
	$('.editable').editableTable();
	
})
</script>
{% endblock %}

{% block content %}
<div id="page_tab">

	<div id="dialog-ip" title="Selecionar IP do Real Server">
		<div id="ip-view">
		</div>
	</div>
	
	<ul>
		<li><span class="ui-icon ui-icon-triangle-1-e page_tab_icon"></span><a href="#tabs-1">Cadastro de Requisição VIP </a></li>
	</ul>
	<div id="tabs-1">
		<form id="add_form" method="post" action="{% url vip-request.form %}">
			{% csrf_token %}
			<div id="fields" class="ui-widget-content">

			{% for field in form_inputs %}
				<div>
					<div><label for="{{ field.auto_id }}">{{ field.label_tag }}{% if field.field.required %}<span style="color: red;">*</span>{% endif %}</label></div>
					{{ field }}
					<p id="error">
					{% if field.errors %} 
						{% for error in field.errors %}
							{{ error|escape }}
						{% endfor %}
					{% endif %}
					</p>
				</div>
			{% endfor %}
			
			
			{% for field in form_environment %}
				<div>
					<div><label for="{{ field.auto_id }}">{{ field.label_tag }}{% if field.field.required %}<span style="color: red;">*</span>{% endif %}</label></div>
					{{ field }}
					<p id="error">
					{% if field.errors %} 
						{% for error in field.errors %}
							{{ error|escape }}
						{% endfor %}
					{% endif %}
					</p>
				</div>
			{% endfor %}
			
			<table>
				{% for field in form_options %}

					{% if field.name != "balancing"%}

						<tr>
							<td>
								<label for="{{ field.auto_id }}">{{ field.label_tag }}{% if field.field.required %}<span style="color: red;">*</span>{% endif %}</label>
							</td>
							<td  style="padding-left: 5px;" align="right">
								{{ field }}
							</td>
						</tr>
						<tr>
							<td></td>
							<td id="error" style="padding-left: 5px;">
								{% if field.errors %} 
									{% for error in field.errors %}
										{{ error|escape }}
									{% endfor %}
								{% endif %}
							</td>
						</tr>

					{% endif %}

				{% endfor %}
			</table>
			
			<br>
			
			<div>
				<div><label for="{{ form_healthcheck.healthcheck_type.auto_id }}">{{ form_healthcheck.healthcheck_type.label_tag }}{% if form_healthcheck.healthcheck_type.required %}<span style="color: red;">*</span>{% endif %}</label></div>
				{{ form_healthcheck.healthcheck_type }}
				<p id="error">
				{% if form_healthcheck.healthcheck_type.errors %} 
					{% for error in field.errors %}
						{{ error|escape }}
					{% endfor %}
				{% endif %}
				</p>
			</div>
			
			<table id="table_healthcheck" class="bordasimples" style="margin-top: -10px;width: 511px;">
				{% for field in form_healthcheck %}

					{% if field.name != "healthcheck_type"  and field.name != "excpect_new" %} 
						<tr>
							<td><label for="{{ field.auto_id }}">{{ field.label_tag }}{% if field.field.required %}<span style="color: red;">*</span>{% endif %}</label></td>
							<td style="padding-left: 5px;">{{ field }}</td>
						</tr>
						<tr>
							<td></td>
							<td style="padding-left: 5px;"><p id="error">{% if field.errors %}{% for error in field.errors %}{{ error|escape }}{% endfor %}{% endif %}</p></td>
						</tr>
					{% endif %}

					{% if field.name == "excpect_new" %}
						<tr id="add_new_healthcheck">
							<td></td>
							<td style="padding-left: 5px;">{{ field }}<input type="button" id="btn_new_excpect" value="Adicionar Novo" /></td>
						</tr>
					{% endif %}

				{% endfor %}
				<tr id="msg_new_healthcheck">
				</tr>
			</table>
			
			<br>
			
			<table  class="bordasimples">
				<tr>
					<td colspan="3" style="text-align:left;">Portas</td>
				</tr>
				<tr>
					<td colspan="3">
						<table id="table_ports" class="bordasimplesReal" style="margin-top: 10px;">
							<thead>
								<tr>
									<td>Porta Vip</td>
									<td>Porta Real</td>
									<td style="width: 20px;"></td>
								</tr>
							</thead>
							<tbody>

							{% for field in ports %}

								<tr class='remove_port'>
									<td>
										<label class='editable'>{% if field.ports_vip != "-" %}{{field.ports_vip}}{% endif %}</label>
										<input type='hidden' name='ports_vip' value='{{field.ports_vip}}'></td>
									<td>
										<label class='editable'>{% if field.ports_real != "-" %}{{field.ports_real}}{% endif %}</label>
										<input type='hidden' name='ports_real' value='{{field.ports_real}}'>
									</td>
									<td>
										<span class='ui-icon ui-icon-closethick' style="cursor: pointer;"></span>
									</td>
								</tr>

							{% endfor %}

							</tbody>
						</table>
					</td>
				</tr>
				<tr>
					<td colspan="3"><p id="error">{{ports_error}}</p></td>
				</tr>
				<tr>
					<td colspan="3">&nbsp</td>
				</tr>
				<tr>
					<td colspan="3" style="text-align:left;"><input type="button" id="btn_new_port" value="Adicionar Nova Porta" /></td>
				</tr>
			</table>
				
			<br>
			
			<div>
				<div><label for="{{ form_options.balancing.auto_id }}">{{ form_options.balancing.label_tag }}{% if form_options.balancing.required %}<span style="color: red;">*</span>{% endif %}</label>
					{{ form_options.balancing }}
				</div>
				<p id="error" style="padding-left: 150px;">
				{% if form_options.balancing.errors %} 
					{% for error in form_options.balancing.errors %}
						{{ error|escape }}
					{% endfor %}
				{% endif %}
				</p>
			</div>
			
			<table  class="bordasimples" >
				<tr>
					<td colspan="3">Reals</td>
				</tr>
				<tr>
					<td>{{form_real.equip_name.label_tag}}</td>
					<td style="padding-left: 5px;">{{form_real.equip_name}}</td>
					<td><input type="button" id="btn_new_real" value="Adicionar Novo Real" /></td>
				</tr>
				<tr id="error_real_server">
				</tr>
				<tr>
					<td colspan="3">&nbsp</td>
				</tr>
				<tr>
					<td colspan="3">
						<table id="table_real" class="bordasimplesReal">
							<thead>
								<tr>
									<td>Nome do Real</td>
									<td>IP do Real</td>
									<td>Prioridade</td>
									<td class="weighted">Peso do Real</td>
									<td style="width: 20px;"></td>
								</tr>
							</thead>
							<tbody>

							{% for field in reals %}

								<tr class='remove_port'>
									<td>
										<label>{% if field.equip != "-" %}{{field.equip}}{% endif %}</label>
										<input type='hidden' name='equip' value='{{field.equip}}'>
										<input type='hidden' name='id_equip' value='{{field.id_equip}}'>
									</td>
									<td>
										<label>{% if field.ip != "-" %}{{field.ip}}{% endif %}</label>
										<input type='hidden' name='ip' value='{{field.ip}}'>
										<input type='hidden' name='id_ip' value='{{field.id_ip}}'>
									</td>
									<td>
										<label class='editable'>{% if field.priority != "-" %}{{field.priority}}{% endif %}</label>
										<input type='hidden' name='priority' value='{{field.priority}}'>
									</td>
									<td class='weighted'>
										<label class='editable'>{% if field.weight != "-" %}{{field.weight}}{% endif %}</label>
										<input type='hidden' name='weight' value='{{field.weight}}'>
									</td>
										<span class='ui-icon ui-icon-closethick' style="cursor: pointer;"></span>
									</td>
								</tr>

							{% endfor %}


							</tbody>
						</table>
					</td>
				</tr>
				<tr>
					<td colspan="3">
						<p id="error">{{reals_error}}</p>
					</td>
				</tr>
				<tr>
					<td colspan="3">&nbsp</td>
				</tr>
				<tr>
					<td colspan="3">
					
						<table>
							<tr>
								<td>
									<label for="{{ form_real.maxcom.auto_id }}">{{ form_real.maxcom.label_tag }}{% if form_real.maxcom.field.required %}<span style="color: red;padding-right: 5px;">*</span>{% endif %}</label></td>
								<td>
									{{ form_real.maxcom }}
								</td>
							</tr>
							<tr>
							 	<td></td>
								<td style="padding-left: 5px;"><p id="error">{% if form_real.maxcom.errors %}{% for error in form_real.maxcom.errors %}{{ error|escape }}{% endfor %}{% endif %}</p></td>
							</tr>
						</table>
					
					</td>
				</tr>
			</table>
			
			<br>
			
			<table>
				<tr>
					<td colspan="3" style="text-align:left;">IP do VIP</td>
				</tr>
				{% if form_ip.ipv4_check.errors %}
					<tr>
						<td  id="error" style="text-align:left;">
							{% for error in form_ip.ipv4_check.errors %}
								{{ error|escape }}
							{% endfor %}
						</td>
					</tr>
				{% endif %}
				<tr>
					<td colspan="3">{{form_ip.ipv4_check}}{{form_ip.ipv4_check.label_tag}}</td>
				</tr>
				<tr id="ipv4">
					<td colspan="3">
						<table class="bordasimplesIP">
							<tr>
								<td  style="text-align:left;">{{form_ip.ipv4_type}}</td>
							</tr>
							<tr id="input_ipv4">
								<td  style="text-align:left;padding-left: 10px;">{{form_ip.ipv4_specific}}</td>
							</tr>
							<tr>
								<td  style="text-align:left;padding-left: 10px;">
									<p id="error">
									{% if form_ip.ipv4_specific.errors %} 
										{% for error in form_ip.ipv4_specific.errors %}
											{{ error|escape }}
										{% endfor %}
									{% endif %}
									</p>
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td colspan="3">&nbsp</td>
				</tr>
				<tr>
					<td colspan="3">{{form_ip.ipv6_check}}{{form_ip.ipv6_check.label_tag}}</td>
				</tr>
				<tr id="ipv6">
					<td colspan="3">
						<table class="bordasimplesIP">
							<tr>
								<td  style="text-align:left;">{{form_ip.ipv6_type}}</td>
							</tr>
							<tr id="input_ipv6">
								<td  style="text-align:left;padding-left: 10px;">{{form_ip.ipv6_specific}}</td>
							</tr>
							<tr>
								<td  style="text-align:left;padding-left: 10px;">
									<p id="error">
									{% if form_ip.ipv6_specific.errors %} 
										{% for error in form_ip.ipv6_specific.errors %}
											{{ error|escape }}
										{% endfor %}
									{% endif %}
									</p>
								</td>
							</tr>
						</table>
					</td>
				</tr>
				
			</table>
			
			</div>
			
			<div class="separator spacer"></div>
			
			<div class="buttons-l ui-widget-header">
				<button id="btn_sav" type="submit">Gravar</button>
				<button id="btn_can" type="button">Cancelar</button>
			</div>
		</form>
	</div>
</div>
{% endblock %}