{% extends "vip-request/tabs-template.html" %}
{% load util %}

{% block tab_select %}
	$("#page_tab_lists").tabs({selected:4});
{% endblock %}

{% block js %}
	
{% endblock %}

{% block title %}[Requisição VIP - Filtro L7]{% endblock %}

{% block tab-data %}

<script type="text/javascript">
$(document).ready(function() {
	
	$("#btn_validate").button({ icons: {primary: "ui-icon-notice"} });
	$("#btn_validate").button("disable");
	
	$("#btn_apply").button({ icons: {primary: "ui-icon-check"} });
	$("#btn_apply").button("disable");
	
	$("#btn_rollback").button({ icons: {primary: "ui-icon-transferthick-e-w"} });
	$("#btn_rollback").button("disable");
	
	{% has_perm VIP_VALIDATION True None %}
	{% if has_perm %}
		{% if valid != "1" %}
		$("#btn_validate").button("enable");
		$("#btn_validate").button({ icons: {primary: "ui-icon-notice"} }).click(function(){		
		$("#id_vip_val").parent().submit();
		});
		{% endif %}
	{% endif %}
	
	{% has_perm VIP_ALTER_SCRIPT True None %}
	{% if has_perm %}
		{% if valid == "1" and filter_l7 != applied_l7 %}
		$("#btn_apply").button("enable");
		$("#btn_apply").button({ icons: {primary: "ui-icon-check"} }).click(function(){
			if (confirm('Deseja realmente aplicar o novo filtro L7?')){ 
				$("#id_vip_apl").parent().submit();
			}
			else return false;
		});
		{% endif %}
	{% endif %}
	
	
	{% has_perm VIP_ALTER_SCRIPT True None %}
	{% if has_perm %}
		{% if rollback %}
		$("#btn_rollback").button("enable");
		$("#btn_rollback").button({ icons: {primary: "ui-icon-transferthick-e-w"} }).click(function(){
			if (confirm('Deseja realmente aplicar a última configuração válida?')){ 
				$("#id_vip_rbk").parent().submit();
			}
			else return false;
		});
		{% endif %}
	{% endif %}
	

	$("#btn_sav").button("disable");
	{% has_perm VIP_ALTER_SCRIPT True None %}
	{% if has_perm %}
	var filter_l7 = $("#id_filter_l7").val();
	$('#id_filter_l7').on('keyup change', function(){
		if ($(this).val() != filter_l7){
			$("#btn_sav").button("enable");
		}else{
			$("#btn_sav").button("disable");			
		}
	});
	{% endif %}
	
	// RULES
	
	if ($("#id_rules").val() != '')
		$("#id_filter_l7").attr('disabled', 'disabled');
	
	$("#id_rules").change(function(){

		if ($(this).val())
			$.ajax({
				data: { rule_id: $(this).val(),  token: $("#id_token").val() },
				url: "{% if external %}{% url vip-request.rule.ajax.external %}{% else %}{% url vip-request.rule.ajax %}{% endif %}",
				dataType: 'json',
				success: function(data, textStatus, xhr) {
					if (xhr.status == "278")
						window.location = xhr.getResponseHeader('Location');
						
					else if (xhr.status == "203")
						alert(data.msg);
					
					else {
						$("#id_filter_l7").val(data.rule);
					}
				},
				error: function (xhr, error, thrown) {
					location.reload();
				}	
			});
		else
			$("#id_filter_l7").val('');
	
		if ($(this).val() == '' || $(this).val() == null)
			$("#id_filter_l7").removeAttr('disabled');
		else
			$("#id_filter_l7").attr('disabled', 'disabled');
		
		{% has_perm VIP_ALTER_SCRIPT True None %}
		{% if has_perm %}
		$("#btn_sav").button("enable");
		{% endif %}
		
	});
	
	// RULES END

})
</script>

<div id="tabs-5">
	<form id="add_form" method="post" action="{% url vip-request.tab.l7filter vip.id %}">
		{% csrf_token %}
		
			<table>
				{% for field in form_rules %}
						<tr>
							<td>
								<label for="{{ field.auto_id }}">{{ field.label_tag }}{% if field.field.required %}<span style="color: red;">*</span>{% endif %}</label>
							</td>
							<td  style="padding-left: 5px;" align="right">
								{{ field }}
							</td>
						</tr>
						<tr>
							<td></td>
							<td id="error" style="padding-left: 5px;">
								{% if field.errors %} 
									{% for error in field.errors %}
										{{ error|escape }}
									{% endfor %}
								{% endif %}
							</td>
						</tr>
				{% endfor %}
			</table>
		
		<br>
		
		<div id="fields" class="ui-widget-content">
			<table>
				<tr>
				{% for field in form_real %}
					<td width="35%">{{ field.label_tag }}</td>
				{% endfor %}
				</tr>
				<tr>
				{% for field in form_real %}
					<td>{{ field }}</td>
				{% endfor %}
				</tr>
				<tr>
					<td colspan="3">{% if date %}Aplicado em {{ date }}{% endif %}&nbsp;</td>
				</tr>
			</table>
		</div>
		
		<!-- div class="separator spacer"></div> -->
		
		<div class="buttons-l ui-widget-header">
			<button id="btn_sav" type="submit">Gravar</button>
			<button id="btn_validate" type="button">Validar</button>
			<button id="btn_apply" type="button">Aplicar</button>
			<button id="btn_rollback" type="button">Aplicar Rollback</button>
			<button id="btn_can" type="button">Cancelar</button>
		</div>
		
	</form>
	<div style="display: none">
		<form action="{% url l7.valid %}" method="post" style="visibility: hidden;">
		{% csrf_token %}
			<input type="hidden" name="id_vip" id="id_vip_val" value="{{ idt }}">
		</form>
		<form action="{% url l7.apply %}" method="post" style="visibility: hidden;">
		{% csrf_token %}
			<input type="hidden" name="id_vip" id="id_vip_apl" value="{{ idt }}">
		</form>
		<form action="{% url l7.rollback %}" method="post" style="visibility: hidden;">
		{% csrf_token %}
			<input type="hidden" name="id_vip" id="id_vip_rbk" value="{{ idt }}">
		</form>
	</div>
</div>				
{% endblock %}