{% extends "vip-request/tabs-template.html" %}
{% load util %}

{% block tab_select %}
	$("#page_tab_lists").tabs({selected:1});
{% endblock %}

{% block js %}

	autocomplete("{% url equipment.autocomplete.ajax %}", true, "id_equip_name", false);
	
	$("#btn_new_real").button({ icons: {primary: "ui-icon-disk"} }).live("click", function(){
		
		if ( $('#id_equip_name').val() != '' ) {
			$.ajax({
				data: { environment_vip: $('#id_environment_vip').val(), equip_name: $('#id_equip_name').val(), balancing: $('#id_balancing').val(), equip_real: getInputsData('input[name=equip]', 'equip'), ips_real: getInputsData('input[name=ip]', 'ip') },
				url: "{% url vip-request.modal.real.server.ajax %}",
				dataType: 'json',
				success: function(data, textStatus, xhr) {
					if (xhr.status == "278")
						window.location = xhr.getResponseHeader('Location');
					
					if ( data.msg == "" ) {
						$("#ip-view").html(data.ips);
						$("#dialog-ip").dialog("open");
					} else {
						$("#error_real_server").delay(15000).animate({ opacity: 'toggle', height: 'toggle' }, "slow");
						$("#error_real_server").html(data.msg);
					}
				},
				error: function (xhr, error, thrown) {
					location.reload();
				}	
			});
		}
	});
	
	$("#btn_sav_rs").button({ icons: {primary: "ui-icon-disk"} }).live("click", function(){
		var data = $('#add_form').serialize()
		$.ajax({
			data: data,
			url: "{% url vip-request.tab.real.server vip.id %}",
			type: 'POST',
			success: function(data, textStatus, xhr) {
				
				if (xhr.status == "278")
					window.location = xhr.getResponseHeader('Location');
				
				if (data != "")
					$('#error').html(data);
				else
					location.reload();
			},
			error: function (xhr, error, thrown) {
				location.reload();
			}	
		});
	});
	
	$("#dialog-ip").dialog({
		height: 600,
		width: 1000,
		modal: true,
		autoOpen: false,
		draggable: false,
		resizable: true,
		buttons: {
			"Voltar": function() {
				$(this).dialog("close");
			}
		}
	});
	
	if ( $("#id_environment_vip").val() == '' ) {
		$("#id_equip_name").attr('disabled', 'disabled');
		$("#btn_new_real").attr('disabled', 'disabled');
	}
	
	$('#table_real tbody tr span').live("click", function(){  
		if (confirm('Deseja realmente excluir o(s) Real selecionado(s)?')){ 
		$(this).parents(".remove_port").remove();
		return false;
		}
	});
	
	if ( $("#id_balancing").val() != null &&  $("#id_balancing").val().toLowerCase() == "weighted".toLowerCase()){
		$('.weighted').show();
	}else{
		$('.weighted').hide();
	}
	
	$('.editable').editableTable();
	
{% endblock %}

{% block title %}[Requisição VIP - Real Servers]{% endblock %}

{% block tab-data %}
<div id="tabs-2">
	<form id="add_form" method="post" action="">
		{% csrf_token %}
		
		<input type="hidden" name="balancing" value="{{ balancing }}" id="id_balancing" />
		<input type="hidden" name="environment_vip" value="{{ environment_vip }}" id="id_environment_vip" />			
		
		<div class="ui-widget-content">
			<table style="padding: 15px 15px 15px 15px;" >
				<tr>
					<td colspan="3">Reals</td>
				</tr>
				<tr>
					<td>{{form_real.equip_name.label_tag}}</td>
					<td style="padding-left: 5px;">{{form_real.equip_name}}</td>
					<td><input type="button" id="btn_new_real" value="Adicionar Novo Real" /></td>
				</tr>
				<tr id="error_real_server">
				</tr>
				<tr>
					<td colspan="3">&nbsp</td>
				</tr>
				<tr>
					<td colspan="3">
						<table id="table_real" class="bordasimplesReal">
							<thead>
								<tr>
									<td>Nome do Real</td>
									<td>IP do Real</td>
									<td>Prioridade</td>
									<td class="weighted">Peso do Real</td>
									<td style="width: 20px;"></td>
								</tr>
							</thead>
							<tbody>
	
							{% for field in reals %}
	
								<tr class='remove_port'>
									<td>
										<label>{% if field.equip != "-" %}{{field.equip}}{% endif %}</label>
										<input type='hidden' name='equip' value='{{field.equip}}'>
										<input type='hidden' name='id_equip' value='{{field.id_equip}}'>
									</td>
									<td>
										<label>{% if field.ip != "-" %}{{field.ip}}{% endif %}</label>
										<input type='hidden' name='ip' value='{{field.ip}}'>
										<input type='hidden' name='id_ip' value='{{field.id_ip}}'>
									</td>
									<td>
										<label class='editable'>{% if field.priority != "-" %}{{field.priority}}{% endif %}</label>
										<input type='hidden' name='priority' value='{{field.priority}}'>
									</td>
									<td class='weighted'>
										<label class='editable'>{% if field.weight != "-" %}{{field.weight}}{% endif %}</label>
										<input type='hidden' name='weight' value='{{field.weight}}'>
									</td>
									<td>
										<span class='ui-icon ui-icon-closethick' style="cursor: pointer;"></span>
									</td>
								</tr>
	
							{% endfor %}
	
	
							</tbody>
						</table>
					</td>
				</tr>
				<tr>
					<td colspan="3">
						<p id="error">{{reals_error}}</p>
					</td>
				</tr>
			</table>
		</div>
		
		
		<div class="buttons-l ui-widget-header">
			<button id="btn_sav_rs" type="button">Gravar</button>
			<button id="btn_can" type="button">Cancelar</button>
		</div>
		
	</form>
	
</div>
{% endblock %}