<!--
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
{% load util %}

<div id="fields" class="ui-widget-content">

	{% if message %}
		<table>
			<tr>
				<td class="ui-widget error-messages-view">
					<div class="{% ifequal msg_type 'error' %} ui-state-error {% else %} ui-state-highlight success {% endifequal %} ui-corner-all">
						{{ message }}
					</div>
					<br/>
				</td>
			</tr>
		</table>
	{% endif %}

	<table id="dados_comuns">
		<tr>
			<td  style="width: 235px"><label >Validado</label></td>
			<td>
				<label style="width: 350px;color: blue;text-align: center;" >
					{% ifequal 'True' vip.validado %}
						SIM
					{% else %}
						NÃO
					{% endifequal %}
				</label>
			</td>
		</tr>
		<tr>
			<td ><label >Vip Criado</label></td>
			<td>
				<label style="width: 350px;color: blue;text-align: center;" >
					{% ifequal 'True' vip.vip_criado %}
						SIM
					{% else %}
						NÃO
					{% endifequal %}
				</label>
			</td>
		</tr>
		<tr>
			<td ><label >Expect String</label></td>
			<td>
				<label style="width: 350px;color: blue;text-align: center;" >
					{% ifequal None vip.expect_string %}
						NÃO CADASTRADO
					{% else %}
						{{vip.expect_string}}
					{% endifequal %}
				</label>
			</td>
		</tr>
		<tr>
			<td ><label>Match List</label></td>
			<td>
				<label style="width: 350px;color: blue;text-align: center;" >
					{% ifequal None vip.expect_string %}
						NÃO CADASTRADO
					{% else %}
						{{vip.match_list}}
					{% endifequal %}
				</label>
			</td>
		</tr>
		{% for ip in vip.ips %}
		<tr>
			{% ifequal forloop.counter 1 %}
				<td ><label for="ip">IP</label></td>
			{% else %}
				<td></td>
			{% endifequal %}
			<td><label style="width: 350px;color: blue;text-align: center;" >{{ip}}</label></td>
		</tr>
		{% endfor %}
		{% for equip in vip.equipamento %}
		<tr>
			{% ifequal forloop.counter 1 %}
				<td><label>Equipamento(s)</label></td>
			{% else %}
				<td></td>
			{% endifequal %}
			<td><label style="width: 350px;color: blue;text-align: center;" > {{equip}} </label> </td>
		</tr>
		{% endfor %}	
	</table>
	<br/>
	
<h2>Variáveis</h2>
	<table id="variaveis">
				<tr>
					<td style="width: 235px"><label for="finalidade">Finalidade</label></td>
					<td><label style="width: 350px;color: blue;text-align: center;" >{{vip.finalidade}}</label></td>
				</tr>
				<tr>
					<td><label for="cliente">Cliente</label></td>
					<td><label style="width: 350px;color: blue;text-align: center;" >{{vip.cliente}}</label></td>
				</tr>
				<tr>
					<td><label for="ambiente">Ambiente</label></td>
					<td><label style="width: 350px;color: blue;text-align: center;" >{{vip.ambiente}}</label></td>
				</tr>
				<tr>
					<td><label for="acl_vlan">Cache</label></td>
					<td><label style="width: 350px;color: blue;text-align: center;" >{{vip.cache}}</label></td>
				</tr>
				<tr>
					<td><label for="metodo_bal">Método Bal</label></td>
					<td><label style="width: 350px;color: blue;text-align: center;" >{{vip.metodo_bal}}</label></td>
				</tr>
				<tr>
					<td><label for="persistencia">Persistencia</label></td>
					<td><label style="width: 350px;color: blue;text-align: center;" >{{vip.persistencia}}</label></td>
				</tr>
				<tr>
					<td><label for="persistencia">Healthcheck Type</label></td>
					<td><label style="width: 350px;color: blue;text-align: center;" >{{vip.healthcheck_type}}</label></td>
				</tr>
				<tr>
					<td><label for="persistencia">Timeout</label></td>
					<td><label style="width: 350px;color: blue;text-align: center;" >{{vip.timeout}}</label></td>
				</tr>
				<tr>
					<td><label for="persistencia">Área Negócio</label></td>
					<td><label style="width: 350px;color: blue;text-align: center;" >{{vip.areanegocio}}</label></td>
				</tr>
				<tr>
					<td><label for="persistencia">Nome Serviço</label></td>
					<td><label style="width: 350px;color: blue;text-align: center;" >{{vip.nome_servico}}</label></td>
				</tr>
				<tr>
					<td><label for="persistencia">Host</label></td>
					<td><label style="width: 350px;color: blue;text-align: center;" >{{vip.host}}</label></td>
				</tr>
				<tr>
					<td><label for="persistencia">Healthcheck</label></td>
					<td><label style="width: 350px;color: blue;text-align: center;" >{{vip.healthcheck}}</label></td>
				</tr>
				<tr>
					<td><label for="persistencia">Max_conn</label></td>
					<td><label style="width: 350px;color: blue;text-align: center;" >{{vip.maxcon}}</label></td>
				</tr>
				
					
					{% for p in vip.portas_servicos.porta %}
					
					<tr>
						
						<td><label for="persistencia">Porta(s) Serviço - {{forloop.counter}}</label></td>
						<td><label style="width: 150px;color: blue;text-align: center;" >{{p}} </label></td>
						
					</tr>
					
					{% endfor %}

				{% for real in vip.reals.real %}
				
					<tr>
						<td><label for="persistencia">Porta(s) Serviço/Real(s) Name/Real(s) IP </label></td>
						<td><label style="width: 350px;color: blue;text-align: center;" >{{real.port_vip}}:{{real.port_real}}<label style="color: red;">/</label> {{real.real_name}} <label style="color: red;">/</label>  {{real.real_ip}}</label></td>
					</tr>
				
				{% endfor %}
			</table>	
</div>
		
<script type="text/javascript">
$(document).ready(function() {
	
	$(".error-messages-view").each(function() {
		$(this).delay(15000).animate({ opacity: 'toggle', height: 'toggle' }, "slow");
	});

	$("#dialog-vip").dialog({
		height: 600,
		width: 1000,
		modal: true,
		autoOpen: false,
		draggable: false,
		resizable: true,
		beforeClose: function(event, ui) {
			{% if changed %}
				window.location.reload();
			{% endif %}
			return true;
		},
		buttons: {
			
			{% has_perm VIP_VALIDATION True None %}
			{% if has_perm %}
			
				{% ifequal 'False' vip.validado %}
				"Validar": function() {
					if (confirm('Deseja realmente validar a Requisição Vip ?')){ 
						
						$.ajax({
							url: "{% url vip.ajax.create.validate.remove vip.id 1 %}",
							dataType: 'text',
							success: function(data) {
								$("#vip-view").html(data);
							}
						});
						
					}
				},
				{% endifequal %}
			
			{% endif %}
			
			{% has_perm VIP_CREATE_SCRIPT True None %}
			{% if has_perm %}
				
				{% ifequal 'False' vip.vip_criado %}
				"Criar VIP": function() {
					if (confirm('Deseja realmente criar a Requisição Vip ?')){ 
						
						$.ajax({
							url: "{% url vip.ajax.create.validate.remove vip.id 2 %}",
							dataType: 'text',
							success: function(data) {
								$("#vip-view").html(data);
							}
						});
						
					}
				},
				{% endifequal %}
				
			{% endif %}
			
			{% has_perm VIP_REMOVE_SCRIPT True None %}
			{% if has_perm %}
			
				{% ifequal 'True' vip.vip_criado %}
				"Remover VIP": function() {
					if (confirm('Os VIPs selecionados serão removidos dos seus respectivos equipamentos. Os serviços desses VIPs serão interrompidos. Tem certeza que deseja continuar ?')){ 
						
						$.ajax({
							url: "{% url vip.ajax.create.validate.remove vip.id 3 %}",
							dataType: 'text',
							success: function(data) {
								$("#vip-view").html(data);
							}
						});
						
					}
				},
				{% endifequal %}
			
			{% endif %}
			
			"Voltar": function() {
					$(this).dialog("close");
			}
		}
	
	});
	
})
</script>

