<!--
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
{% extends "template.html" %}

{% load util %}

{% block title %}[Rack - Cadastro]{% endblock %}

{% block header %}
<style>
#fields ul li {
        list-style: none;
        display: inline-block;
}
#mac_address_sw1 label {
        vertical-align: middle;
}
</style>

<script type="text/javascript">
$(document).ready(function() {

        $("#page_tab").tabs();

        $("textarea").maxlength();

        $("#btn_sav").button({ icons: {primary: "ui-icon-disk"} });

        $("#btn_can").button({ icons: {primary: "ui-icon-cancel"} }).click(function(){
                location.href = "{% url ajax.view.rack %}";
        });

        $("#btn_equip1, #btn_equip2, #btn_equip3").button({ icons: {primary: "ui-icon-plus"}, text: false });

        $("#btn_equip1, #btn_equip2, #btn_equip3").mouseover(function() {
                $("#btn_equip1, #btn_equip2, #btn_equip3").attr("title","Cadastrar equipamento");
        });

        $("#id_mac_address_sw1, #id_mac_address_sw2, #id_mac_address_ilo").keyup(function() {
                var valor = $(this).val().replace(/[^0-9A-Fa-f:]+/g,'');
                $(this).val(valor);
        });

        $("#id_rack_name").keyup(function() {
                var valor = $(this).val().replace(/[^0-9A-Z:]+/g,'');
                $(this).val(valor);
        });

        $("#id_rack_number").keyup(function() {
                var valor = $(this).val().replace(/[^0-9:]+/g,'');
                $(this).val(valor);
        });

        $("#id_mac_address_sw1, #id_mac_address_sw2, #id_mac_address_ilo").mouseover(function() {
                $(this).attr("title","Formato: FF:FF:FF:FF:FF:FF");
        });

        $("#id_nome_sw1, #id_nome_sw2, #id_nome_ilo").mouseover(function() {
                $(this).attr("title","Informe o nome do equipamento, se este estiver cadastrado.");
        });

        $("#id_rack_name").mouseover(function() {
                $(this).attr("title","Nome do Rack: <Coluna><Linha>, Formato: AA00.");
        });

        $("#id_rack_number").mouseover(function() {
                $(this).attr("title","Numero do Rack: 0-119. O numero sugerido no campo eh o proximo id disponivel.");
        });

})

</script>
{% endblock %}


{% block content %}
<div id="page_tab">
<ul>
<li><span class="ui-icon ui-icon-triangle-1-e page_tab_icon"></span><a href="#tabs-1">Cadastro de Rack</a></li>
</ul>
        <div id="tabs-1">
                <form id="add_form" method="post" action="{% url rack.form %}">
                        {% csrf_token %}
                        <div id="fields" class="ui-widget-content">
                        {% for field in form %}
                                <div>
                                {% ifequal field.name 'mac_address_sw1' %}
                                <table  class="bordarack">
                                        <tr>
                                               <td colspan="3" style="text-align:left;">LEAF 1</td>
                                        </tr>
                                        <tr>
                                               <td><label for="{{ field.auto_id }}">
                                               {{ field.label_tag }} {% if field.field.required %}<span style="color: red;">*</span>{% endif %}
                                               </label></td>
                                               <td><label for="{{ field.auto_id }}">
                                               {{ form.nome_sw1.label_tag }} {% if form.nome_sw1.field.required %}<span style="color: red;">*</span>{% endif %}
                                               </label></td>
                                        </tr>
                                        <tr>
                                               <td>{{ field }}
                                               <p id="error">
                                               {% if field.errors %}
                                                      {% for error in field.errors %}
                                                             {{ error|escape }}
                                                      {% endfor %}
                                               {% endif %}
                                               </p></td>
                                               <td>{{ form.nome_sw1 }}  <a href="{% url equipment.form %}" target="blank"><button type="button" id="btn_equip1">Cadastrar Equipamento</button></a>
                                               <p id="error">
                                               {% if form.nome_sw1.errors %}
                                                      {% for error in form.nome_sw1.errors %}
                                                             {{ error|escape }}
                                                      {% endfor %}
                                               {% endif %}
                                               </p></td>
                                        </tr>
                                </table>
                                <div class="separator spacer"></div>
                                {% endifequal %}

                                {% ifequal field.name 'mac_address_sw2' %}
                                <table  class="bordarack">
                                        <tr>
                                               <td colspan="3" style="text-align:left;">LEAF 2</td>
                                        </tr>
                                        <tr>
                                               <td><label for="{{ field.auto_id }}">
                                               {{ field.label_tag }} {% if field.field.required %}<span style="color: red;">*</span>{% endif %}
                                               </label></td>
                                               <td><label for="{{ field.auto_id }}">
                                               {{ form.nome_sw2.label_tag }} {% if form.nome_sw2.field.required %}<span style="color: red;">*</span>{% endif %}
                                               </label></td>
                                        </tr>
                                        <tr>
                                               <td>{{ field }}
                                               <p id="error">
                                               {% if field.errors %}
                                                      {% for error in field.errors %}
                                                             {{ error|escape }}
                                                      {% endfor %}
                                               {% endif %}
                                               </p></td>
                                               <td>{{ form.nome_sw2 }}  <a href="{% url equipment.form %}" target="blank"><button type="button" id="btn_equip2">Cadastrar Equipamento</button></a>
                                               <p id="error">
                                               {% if form.nome_sw2.errors %}
                                                      {% for error in form.nome_sw2.errors %}
                                                             {{ error|escape }}
                                                      {% endfor %}
                                               {% endif %}
                                               </p></td>
                                        </tr>
                                </table>
                                <div class="separator spacer"></div>
                                {% endifequal %}

                                {% ifequal field.name 'mac_address_ilo' %}
                                <table  class="bordarack">
                                        <tr>
                                               <td colspan="3" style="text-align:left;">GERENCIA</td>
                                        </tr>
                                        <tr>
                                               <td><label for="{{ field.auto_id }}">
                                               {{ field.label_tag }} {% if field.field.required %}<span style="color: red;">*</span>{% endif %}
                                               </label></td>
                                               <td><label for="{{ field.auto_id }}">
                                               {{ form.nome_ilo.label_tag }} {% if form.nome_ilo.field.required %}<span style="color: red;">*</span>{% endif %}
                                               </label></td>
                                        </tr>
                                        <tr>
                                               <td>{{ field }}
                                               <p id="error">
                                               {% if field.errors %}
                                                      {% for error in field.errors %}
                                                             {{ error|escape }}
                                                      {% endfor %}
                                               {% endif %}
                                               </p></td>
                                               <td>{{ form.nome_ilo }}  <a href="{% url equipment.form %}" target="blank"><button type="button" id="btn_equip3">Cadastrar Equipamento</button></a>
                                               <p id="error">
                                               {% if form.nome_ilo.errors %}
                                                      {% for error in form.nome_ilo.errors %}
                                                             {{ error|escape }}
                                                      {% endfor %}
                                               {% endif %}
                                               </p></td>
                                        </tr>
                                </table>
                                <div class="separator spacer"></div>
                                {% endifequal %}

                                {% ifequal field.name 'rack_number' %}
                                <table  class="bordarack">
                                        <tr>
                                               <td colspan="3" style="text-align:left;">RACK</td>
                                        </tr>
                                        <tr>
                                               <td><label for="{{ field.auto_id }}">
                                               {{ field.label_tag }} {% if field.field.required %}<span style="color: red;">*</span>{% endif %}
                                               </label></td>
                                               <td><label for="{{ field.auto_id }}">
                                               {{ form.rack_name.label_tag }} {% if form.rack_name.field.required %}<span style="color: red;">*</span>{% endif %}
                                               </label></td>
                                        </tr>
                                        <tr>
                                               <td>{{ field }}
                                               <p id="error">
                                               {% if field.errors %}
                                                      {% for error in field.errors %}
                                                             {{ error|escape }}
                                                      {% endfor %}
                                               {% endif %}
                                               </p></td>
                                               <td>{{ form.rack_name }}
                                               <p id="error">
                                               {% if form.rack_name.errors %}
                                                      {% for error in form.rack_name.errors %}
                                                             {{ error|escape }}
                                                      {% endfor %}
                                               {% endif %}
                                               </td>
                                        </tr>
                                </table>
                                <div class="separator spacer"></div>
                                {% endifequal %}

                                </div>
                        {% endfor %}
                        </div>

                        <div class="separator spacer"></div>
                        <div class="buttons-l ui-widget-header">
                                <button id="btn_sav" type="submit">Gravar</button>
                                <button id="btn_can" type="button">Cancelar</button>
                        </div>
                </form>
        </div>
</div>
{% endblock %}


