<!--
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
{% extends "template.html" %}

{% load util %}

{% block title %}[Racks - Listagem]{% endblock %}

{% block header %}
<style>
#fields ul li {
        list-style: none;
        display: inline-block;
}
</style>

<script type="text/javascript">

$(document).ready(function() {

        oTable = $("#rack_list").dataTable({
                "aaSorting": [],
                "bJQueryUI": true,
                "sPaginationType": "full_numbers",
                "iDisplayLength": {% max_results %},
                "aoColumnDefs": [{ "bSortable": false, "aTargets": [0,2,3,4,5,6,7,8] }]
        });

        $("#page_tab").tabs();

        $("textarea").maxlength();

        $("#btn_ref").button({ icons: {primary: "ui-icon-refresh"} }).click(function(){
                location.reload();
        });

        $("#btn_new").button({ icons: {primary: "ui-icon-document"} }).click(function(){
                location.href = "{% url rack.form %}";
        });

        $(".btn_edit").button({ icons: {primary: "ui-icon-pencil"}, text: false });
        $(".btn_edit", oTable.fnGetHiddenNodes()).button({ icons: {primary: "ui-icon-pencil"}, text: false });

        {% has_perm EQUIPMENT_MANAGEMENT True None %}
        {% if has_perm %}
        $("#btn_del").button({ icons: {primary: "ui-icon-trash"} }).click(function(){
                if (confirm('Deseja realmente excluir o(s) Rack(s) selecionado(s)?')){ 
                        var data = getSelectionData(oTable);
                        $("#id_ids").val(data).parent().submit();
                }
        });
        {% endif %}

        {% has_perm EQUIPMENT_MANAGEMENT True None %}
        {% if has_perm %}
        $("#btn_conf").button({ icons: {primary: "ui-icon-arrowthickstop-1-s"} }).click(function(){
                if (confirm('Criar vlans e ambientes do Rack e gerar o arquivo de configuracao dos equipamentos?')){ 
                        var data = getSelectionData(oTable);
                        $("#id_ids_config").val(data).parent().submit();
                }
        });
        {% endif %}

        //{% has_perm EQUIPMENT_MANAGEMENT True None %}
        //{% if has_perm %}
//        $("#btn_aplicar").button({ icons: {primary: "ui-icon-notice"} }).click(function(){
  //              if (confirm('Criar Vlans e Ambientes do(s) Rack(s) selecionado(s)?')){ 
    //                    var data = getSelectionData(oTable);
      //                  $("#id_ids_config").val(data).parent().submit();
        //        }
//        });
  //      {% endif %}


        $("#checkAll").click( function() {
                if ($(this).attr('checked')) {
                        $("[name='selection']").attr("checked", true);
                } else {
                        $("[name='selection']").attr("checked", false);
                }
        });

        $(".fg-button").live("click", function(){
                $("name['selection']").attr("checked", false);
                $(":checkbox", oTable.fnGetHiddenNodes()).attr("checked", false);
                $("#checkAll").attr("checked", false);
        });

        $("#tool").buttonset();

        $(".yes").button({ icons: {primary: "ui-icon-check"}, text: false });
        $(".no").button({ icons: {primary: "ui-icon-close"}, text: false });
})
</script>
{% endblock %}


{% block content %}
<div id="page_tab">
	<div id="dialog-rack" title="Racks Cadastrados">
                <div id="rack-view"></div>
        </div>
        <ul>
                <li><span class="ui-icon ui-icon-triangle-1-e page_tab_icon"></span><a href="#tabs-1">Racks Cadastrados</a></li>
        </ul>
        <div id="tabs-1">
                <div class="buttons">
                        <div style=" color:#EE0000; float:left; margin-top: 6px; margin-left: 4px;">
                                <img border="0" src="/media/img/quadrado.gif"/> Arquivo de Configuracao do equipamento nao foi gerado.<br/>
                        </div>
                        <button id="btn_ref" title="Atualizar dados da listagem">Atualizar</button>
                        {% has_perm EQUIPMENT_MANAGEMENT True True %}
                        {% if has_perm %}
                            <button id="btn_new">Novo Registro</button>
                        {% endif %}
                        {% has_perm EQUIPMENT_MANAGEMENT True True %}
                        {% if has_perm %}
                            <button id="btn_conf">Gerar Configuracao</button>
                        {% endif %}
                        <!--{% has_perm EQUIPMENT_MANAGEMENT True True %}
                        {% if has_perm %}
                            <button id="btn_aplicar">Criar Vlan/Amb</button>
                        {% endif %}-->
                        <span id="tool">
                        {% has_perm EQUIPMENT_MANAGEMENT True None %}
                        {% if has_perm %}
                            <button id="btn_del" >Excluir</button>
                        {% endif %}
                        </span>
                </div>
                {% has_perm EQUIPMENT_MANAGEMENT True None %}
                {% if has_perm %}
                <form id="delete_form" method="post" action="{% url rack.delete %}" style="visibility: hidden;">
                        {% csrf_token %}
                        {% for field in delete_form %}
                                {{ field }}
                        {% endfor %}
                </form>
                {% endif %}
                {% has_perm EQUIPMENT_MANAGEMENT True None %}
                {% if has_perm %}
                <form id="config_form" method="post" action="{% url rack.config %}" style="visibility: hidden;">
                        {% csrf_token %}
                        {% for field in config_form %}
                                {{ field }}
                        {% endfor %}
                </form>
                {% endif %}
                <table id="rack_list">
                        <col width="3%" />
                        <col width="6%" />
                        <col width="6%" />
                        <col width="12%" />
                        <col width="12%" />
                        <col width="12%" />
                        <col width="12" />
                        <col width="12%" />
                        <col width="12%" />
                        <col width="10%" />
                        <!--col width="8%" /-->
                        <col width="3%" />
                        <thead>
                                <tr>
                                        <th><input id="checkAll" type="checkbox" /></th>
                                        <th>Rack</th>
                                        <th>Nome</th>
                                        <th>Switch 1</th>
                                        <th>MAC 1</th>
                                        <th>Switch 2</th>
                                        <th>MAC 2</th>
                                        <th>Sw Gerencia</th>
                                        <th>MAC Sw Gerencia</th>
                                        <th>Config Criada</th>
                                        <!--th>Vlan/Amb</th-->
                                        <th></th>
                                </tr>
                        </thead>
                        <tbody>
                                {% for var in rack %}
                                <tr>
                                        <td class="text_center"><input type="checkbox" name="selection" value="{{ var.id }}" /></td>
                                        <td class='{% if var.config == "False" %} text_red {% endif %}'>{{ var.numero }}</td>
                                        <td class='{% if var.config == "False" %} text_red {% endif %}'>{{ var.nome }}</td>
                                        <td class='{% if var.config == "False" %} text_red {% endif %}'>{{ var.id_sw1 }}</td>
                                        <td class='{% if var.config == "False" %} text_red {% endif %}'>{{ var.mac_sw1 }}</td>
                                        <td class='{% if var.config == "False" %} text_red {% endif %}'>{{ var.id_sw2 }}</td>
                                        <td class='{% if var.config == "False" %} text_red {% endif %}'>{{ var.mac_sw2 }}</td>
                                        <td class='{% if var.config == "False" %} text_red {% endif %}'>{{ var.id_ilo }}</td>
                                        <td class='{% if var.config == "False" %} text_red {% endif %}'>{{ var.mac_ilo }}</td>
                                        <td class='text_center'>{% ifequal var.config 'True' %} <span class='ui-icon ui-icon-check text_center' title='SIM'></span> {% else %} <span class='ui-icon ui-icon-close text_center' title='NAO'></span> {% endifequal %}</td>
                                        <!--td class='text_center'>{% ifequal var.create_vlan_amb 'True' %} <span class='ui-icon ui-icon-check text_center' title='SIM'></span> {% else %} <span class='ui-icon ui-icon-close text_center' title='NAO'></span> {% endifequal %}</td>
                                        -->
                                        <td><a href="{% url rack.edit var.id %}" style="width: 20px; height: 20px;" class="btn_edit">Editar</a></td>
                                </tr>
                                {% endfor %}                            
                        </tbody>
                </table>
        </div>
</div>
{% endblock %}


