{% extends "template.html" %}

{% load util %}

{% block title %}[Acesso aos Equipamentos - Listagem]{% endblock %}

{% block header %}

<script type="text/javascript">
$(document).ready(function() {
	
	oTable = $("#equip_access_list").dataTable({
		"aaSorting": [],
		"bJQueryUI": true,
		"sPaginationType": "full_numbers",
		"iDisplayLength": {% max_results %},
		"aoColumnDefs": [{ "bSortable": false, "aTargets": [ 0, 5 ] }]
	});
	
	$("#checkAll").click( function() {
		if ($(this).attr('checked')) {
			$(":checkbox").attr("checked", true);
		} else {
			$(":checkbox").attr("checked", false);
		}
	});
	
	$(".fg-button").live("click", function(){
		$(":checkbox").attr("checked", false);
		$(":checkbox", oTable.fnGetHiddenNodes()).attr("checked", false);
		$("#checkAll").attr("checked", false);
	});
	
	$("#page_tab").tabs();
	
	$("#accordion").accordion({ autoHeight: false });
	
	$("#btn_search").button({ icons: {primary: "ui-icon-search"} });
	
	$("#tool").buttonset();
	
	$("#btn_new").button({ icons: {primary: "ui-icon-document"} }).click(function(){
		location.href = "{% url equip.access.form %}";
	});
	
	{% has_perm EQUIPMENT_MANAGEMENT True None %}
	{% if has_perm %}
	$("#btn_del").button({ icons: {primary: "ui-icon-trash"} }).click(function(){
		if (confirm('Deseja realmente excluir o(s) Acesso(s) de Equipamento selecionado(s)?')){ 
			var data = getSelectionData(oTable);
			$("#id_ids").val(data).parent().submit();
		}
	});
	{% endif %}
	
	$("#btn_ref").button({ icons: {primary: "ui-icon-refresh"} }).click(function(){
		location.reload();
	});
	
	$(".btn_edit").button({ icons: {primary: "ui-icon-pencil"}, text: false });
	$(".btn_edit", oTable.fnGetHiddenNodes()).button({ icons: {primary: "ui-icon-pencil"}, text: false });
	
	autocompleteEquip("{% url equipment.list.ajax %}");
	
})
</script>
{% endblock %}

{% block content %}
<div id="page_tab">
	<ul>
		<li><span class="ui-icon ui-icon-triangle-1-e page_tab_icon"></span><a href="#tabs-1">Listagem de Acesso aos Equipamentos</a></li>
	</ul>
	<div id="tabs-1">
		<div id="accordion">
			<h3><a href="#">Equipamento</a></h3>
			<div>
				<form id="search_form" method="get" action="{% url equip.access.search.list %}">
				{% csrf_token %}
				{% for field in form %}
					{{ field }}
				{% endfor %}
					<img id="loading-autocomplete" src="{{ MEDIA_URL }}/img/input-loading.gif" style="display: none;" />
					<button id="btn_search" type="submit">Pesquisar</button>
					{% for field in form %}
					{% if field.errors %}
					<p id="error">
						{% for error in field.errors %}
							{{ error|escape }}
						{% endfor %}
					</p>
					{% endif %}
					{% endfor %}
				</form>
			</div>
		</div>
		<div class="buttons">
			<button id="btn_ref" title="Atualizar dados da listagem">Atualizar</button>
			<span id="tool">
			<button id="btn_new">Novo Registro</button>
			{% has_perm EQUIPMENT_MANAGEMENT True None %}
			{% if has_perm %}
			<button id="btn_del" >Excluir</button>
			{% endif %}
			</span>
		</div>
		{% has_perm EQUIPMENT_MANAGEMENT True None %}
		{% if has_perm %}
		<form id="delete_form" method="post" action="{% url equip.access.delete %}" style="visibility: hidden;">
			{% csrf_token %}
			{% for field in delete_form %}
				{{ field }}
			{% endfor %}
		</form>
		{% endif %}
		<table id="equip_access_list">
			<thead>
				<tr>
					<th><input id="checkAll" type="checkbox" /></th>
					<th class="ids">ID</th>
					<th>Protocolo</th>
					<th>Host</th>
					<th>User</th>
					<th></th>					
				</tr>
			</thead>
			<tbody>
				{% for acesso in equip_access_list %}
				<tr>
					<td class="text_center"><input type="checkbox" name="selection" value="{{acesso.id}}" /></td>
					<td class="text_center">{{ acesso.id }}</td>
					<td class="text_center">{{ acesso.tipo_acesso }}</td>
					<td>{{ acesso.fqdn }}</td>
					<td>{{ acesso.user }}</td>
					<td class="text_center"><a href="{% url equip.access.edit acesso.id %}" style="width: 20px; height: 20px;" class="btn_edit">Editar</a></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}