<!--
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
{% extends "template.html" %}

{% load util %}

{% block title %}[Rede - Edição]{% endblock %}

{% block header %}
<style>
#fields ul li {
	list-style: none;
	display: inline-block;
}
#network_ipv4 label {
	vertical-align: middle;
}
#network_ipv6 label {
	vertical-align: middle;
}
</style>
<script type="text/javascript" src="{{ MEDIA_URL }}/js/ipAddr.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}/js/ipAddr_l8n.js"></script>
<script type="text/javascript">
$(document).ready(function() {
	
	$("#page_tab").tabs();
	
	$("#btn_sav").button({ icons: {primary: "ui-icon-disk"} });
	
	$("#btn_can").button({ icons: {primary: "ui-icon-cancel"} }).click(function(){
		location.href = "{% url vlan.list.by.id id_vlan sf_number sf_name sf_environment sf_nettype sf_subnet sf_ipversion sf_network sf_iexact sf_acl %}";
	});
	
	$("#id_vlan_name").attr("readonly","readonly");
	$("#id_ip_version_1").attr("disabled","disabled");
	$("#id_ip_version_0").attr("readonly","readonly");
	
	var obj_btn_new_dhcp = $("#btn_new_dhcp");
	obj_btn_new_dhcp.button({icons: {primary: "ui-icon-disk"}});
	$("#id_equip_name, #btn_new_dhcp").prop('enabled', 'disabled');

	obj_btn_new_dhcp.live("click", function(){
	    var val_equip_name = $.trim($('#id_equip_name').val());
	    if ( val_equip_name != '' ) {
	        $.ajax({
	            data: { id_environment: '5', equip_name: val_equip_name, token: $("#id_token").val() },
	            url: "{% url network.modal.ips.ajax %}",
	            success: function(data, textStatus, xhr) {
	                if(data.message && data.status == "error"){
	                    addMessage(data);
	                }else{
	                    $('#content-ip').html(data);
	                    $("#dialog_ip").dialog("open");
	                    $('#messages').animate({ opacity: 'toggle', height: 'toggle' }, "hide");
	                }
	            },
	            error: function(data, textStatus, xhr) {
	                response = JSON.parse(data.responseText);
	                addMessage(response);
	            }
	        });
	    }else{
	        addMessage({message: 'Por favor, informe o nome do equipamento.', status: 'error'});
	    }
	});

    $("#dialog_ip").dialog({
        height: 600,
        width: 1000,
        modal: true,
        autoOpen: false,
        draggable: false,
        resizable: true,
        buttons: {
            "Voltar": function() {
                $(this).dialog("close");
            }
        }
    });

	$('#table_dhcp tbody tr span').die("click");
	$('#table_dhcp tbody tr span').live("click", function(e){
		if (confirm('Deseja realmente excluir o(s) Real selecionado(s)?')){
		$(this).parents(".remove_port").remove();
		return false;
		}
	});
	
});
</script>
{% endblock %}

{% block content %}
<div id="page_tab">
	<ul>
		<li><span class="ui-icon ui-icon-triangle-1-e page_tab_icon"></span><a href="#tabs-1">Edição de Rede</a></li>
	</ul>

    <div id="dialog_ip">
        <div id="content-ip"></div>
    </div>

	<div id="tabs-1">
	
		<form id="search_form" method="post" action="{% url network.edit.by.id.rede.ipv4 id_net id_vlan sf_number sf_name sf_environment sf_nettype sf_subnet sf_ipversion sf_network sf_iexact sf_acl %}">
			{% csrf_token %}
			<div id="fields" class="ui-widget-content">
			{% for field in form %}
					
				
					<div>
						<div><label for="{{ field.auto_id }}">{{ field.label_tag }}{% if field.field.required %}<span style="color: red;">*</span>{% endif %}</label></div>
						{{ field }}
						
						{% if forloop.counter == 2  %}
						<br/>
						<div id="network_ipv4" style="margin-top: -10px; margin-bottom: 15px">
						<input type="text" id="oct1" name="oct1" maxlength="4" style="width:24px;" class="ipv4" value="{{oct1}}" readonly="readonly" /><label> . </label>
						<input type="text" name="oct2" maxlength="4" style="width:24px;" class="ipv4"  readonly="readonly" value="{{oct2}}"/><label> . </label>
						<input type="text" name="oct3" maxlength="4" style="width:24px;" class="ipv4"  readonly="readonly" value="{{oct3}}" /><label> . </label>
						<input type="text" name="oct4" maxlength="4" style="width:24px;" class="ipv4"  readonly="readonly" value="{{oct4}}"/><label> / </label>
						<input type="text" name="oct5" maxlength="2" style="width:18px;" class="ipv4" readonly="readonly" value="{{block_net}}"/><label></label>
						<p id="error">
						{% if form.networkv4.errors %}
							{% for error in form.networkv4.errors %}
								{{ error|escape }}
							{% endfor %}
						{% endif %}
						</p>
						<label>Broadcast</label>
						<br/>
						<input type="text" id="brdcst" maxlength="3" style="width: 98px; background-color: #FAFAFA; border: none; text-align: center;" readonly="readonly" value="{{broadcast}}"/>
					</div>
				
					{% endif %}
						
						{% if forloop.counter == 1  %}
						<img id="loading-autocomplete" src="{{ MEDIA_URL }}/img/input-loading.gif" style="display: none;" />
						{% endif %}
						<p id="error">
						{% if field.errors %} 
							{% for error in field.errors %}
								{{ error|escape }}
							{% endfor %}
						{% endif %}
						</p>
					</div>
			{% endfor %}
			</div>

                <div>
                    <table  class="bordasimples" >
                        <tr>
                            <td>Buscar novo</td>
                            <td style="margin-left: 5px;">
                                <input id="id_equip_name" type="text" name="equip_name" maxlength="100" style="width:250px" />
                            </td>
                            <td>
                                <input type="button" id="btn_new_dhcp" value="Adicionar DHCP Relay" />
                            </td>
                        </tr>
                        <tr id="error_real_server">
                        </tr>
                        <tr>
                            <td colspan="3">&nbsp</td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <table id="table_dhcp" class="bordasimplesReal">
                                    <thead>
                                        <tr>
                                            <td>Nome do DHCP Server</td>
                                            <td>IP do DHCP Server </td>
                                            <td style="width: 20px;"></td>
                                        </tr>
                                    </thead>
                                    <tbody>

                                    {% for field in dhcp_relays %}
                                        <tr class='remove_port'>
                                            <td>
                                                <label>{% if field.nome_equipamento != "-" %}{{field.nome_equipamento}}{% endif %}</label>
                                                <input type='hidden' name='equip' value='{{field.nome_equipamento}}' />
                                                <input type='hidden' name='id_equip' value='{{field.id_equip}}' />
                                            </td>
                                            <td>
                                                <label>{% if field.ip != "-" %}{{field.ip}}{% endif %}</label>
                                                <input type='hidden' name='ip' value='{{field.ip}}'>
                                                <input type='hidden' name='id_ip' value='{{field.id_ip}}'>
                                            </td>
                                            <td>
                                                <span class='ui-icon ui-icon-closethick' style="cursor: pointer;"></span>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <p id="error">{{reals_error}}</p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">&nbsp</td>
                        </tr>
                    </table>
                </div>

			<div class="separator spacer"></div>
			
			<div class="buttons-l ui-widget-header">
				<button id="btn_sav" type="submit">Gravar</button>
				<button id="btn_can" type="button">Cancelar</button>
			</div>
		</form>
		
	</div>
</div>
{% endblock %}
