{% extends "template.html" %}

{% load util %}

{% block title %}[Equipamentos do Grupos de Equipamentos - Listagem]{% endblock %}

{% block header %}
<script type="text/javascript">
$(document).ready(function() {
	
	new_right = false;

	oTable = $("#egrops_list").dataTable({
		"aaSorting": [],
		"bJQueryUI": true,
		"sPaginationType": "full_numbers",
		"iDisplayLength": {% max_results %},
		"aoColumnDefs": [{ "bSortable": false, "aTargets": [ 0 ] }]
	});
	
	oTableAux = $("#ugrops_list").dataTable({
		"aaSorting": [],
		"bJQueryUI": true,
		"sPaginationType": "full_numbers",
		"iDisplayLength": {% max_results %},
		"aoColumnDefs": [{ "bSortable": false, "aTargets": [ 0 ] }],
		"aoColumns": [ null, null, { "sType": "check" }, { "sType": "check" }, { "sType": "check" }, { "sType": "check" }, null  ]
		
	});
	
	$("#checkAll_equip").click( function() {
		if ($(this).attr('checked')) {
			$("#egrops_list :checkbox").attr("checked", true);
		} else {
			$("#egrops_list :checkbox").attr("checked", false);
		}
	});
	
	$("#checkAll_user").click( function() {
		if ($(this).attr('checked')) {
			$("#ugrops_list :checkbox").attr("checked", true);
		} else {
			$("#ugrops_list :checkbox").attr("checked", false);
		}
	})
	
	$(".fg-button").live("click", function(){
		$(":checkbox").attr("checked", false);
		$(":checkbox", oTable.fnGetHiddenNodes()).attr("checked", false);
		$("#checkAll").attr("checked", false);
	});
	
	$("#page_tab").tabs();
	
	$("#page_tab_form_right").tabs();
	
	$("#page_tab_equip").tabs({ selected: {{tab}} });
	
	$("#page_tab_equip2").tabs({ selected: {{tab}} });
	
	
	{% ifequal open_form 'True' %}
	
	
		$('html, body').animate({
		    scrollTop: $("#page_tab_form_right").show(1000).offset().top
		}, 2000);
		
		
	{% else %}
	
		
		$("#page_tab_form_right").hide();
		
		
	{% endifequal %}


	
	$("#tool").buttonset();
	$("#tool_user").buttonset();
	
	$("#btn_new").button({ icons: {primary: "ui-icon-document"} }).click(function(){
		window.open('{% url equip-group.form egroup.id %}','blank');
	});
	
	$("#btn_new_u").button({ icons: {primary: "ui-icon-document"} }).click(function(){
		window.open('{% url equip-user-group.form egroup.id %}','blank');
	});
		
	{% has_perm ADMINISTRATION True None %}
	{% if has_perm %}
	$("#btn_del").button({ icons: {primary: "ui-icon-trash"} }).click(function(){
		if (confirm('Deseja realmente desassociar o(s) equipamentos do grupos de equipamentos selecionado(s)?')){ 
			var data = getSelectionData(oTable);
			$("#id_ids").val(data).parent().submit();
		}
	});
	{% endif %}
	
	{% has_perm ADMINISTRATION True None %}
	$("#btn_del_u").button({ icons: {primary: "ui-icon-trash"} }).click(function(){
		if (confirm('Deseja realmente desassociar o(s) equipamentos do grupos de usuários selecionado(s)?')){ 
			var data = getSelectionData(oTableAux);
			$("#id_ids_aux").val(data).parent().submit();
		}
	});
	{% if has_perm %}

	{% endif %}
	
	$("#btn_ref").button({ icons: {primary: "ui-icon-refresh"} }).click(function(){
		location.href = "{% url equip-group.list egroup.id 0 %}";
	});
	
	$(".voltar").button({ icons: {primary: "ui-icon-arrowthick-1-w"} }).click(function(){
		location.href = "{% url group-equip.list %}";
	});
	
	$("#btn_ref_u").button({ icons: {primary: "ui-icon-refresh"} }).click(function(){
		location.href = "{% url equip-group.list egroup.id 1 %}";
	});
	
	$(".btn_edit").button({ icons: {primary: "ui-icon-pencil"}, text: false }).click (function() {
		new_right = false;
	});
	$(".btn_edit", oTable.fnGetHiddenNodes()).button({ icons: {primary: "ui-icon-pencil"}, text: false });
	
	$("#btn_new_right").button({ icons: {primary: "ui-icon-document"} }).click(function(){
		new_right = true;
		$("#id_ugroup").removeAttr("disabled");
		
		$("#id_ugroup").val(0);
		$("#id_delete").attr("checked",false);
		$("#id_update").attr("checked",false);
		$("#id_write").attr("checked",false);
		$("#id_read").attr("checked",false);
		
		
		$('html, body').animate({
		    scrollTop: $("#page_tab_form_right").show(1000).offset().top
		}, 2000);
		$("#form_perm .perm").html('');
	});
	
	$("#btn_sav_right").button({ icons: {primary: "ui-icon-disk"} }).click(function(){
		
		if (new_right) {
			$("#form_perm").attr("action","{{url_form}}");
		}
		else{
			$("form_perm").attr("action","{{url_edit}}");
			$("#id_ugroup").removeAttr("disabled");
		}
		
		$("#form_perm").submit();
		
	});
	
	$("#btn_can_right").button({ icons: {primary: "ui-icon-cancel"} }).click(function(){
		
		$("#page_tab_form_right").hide(2000);
		
	});
	
	if (("{{edit}}") == "True"){
		$("#id_ugroup").attr("disabled","disabled");
	}
	
	
})
</script>
{% endblock %}

{% block content %}
<div id="page_tab">
	<ul>
		<li><span class="ui-icon ui-icon-triangle-1-e page_tab_icon"></span><a href="#tabs-1">Detalhes do Grupo de Equipamentos</a></li>
	</ul>
	<div id="tabs-1">
		{% csrf_token %}

		<div id="fields" class="ui-widget-content">
			<table border="5">
				<tr>
					<td style="width: 120px"><label for="nome_ambiente">Nome da Grupo</label></td>
					<td><label style="width: 350px;color: blue;text-align: center;" >{{egroup.nome}}</label></td>
				</tr>
			</table>
		</div>
		
		<div class="separator spacer"></div>
		
		<div id="equip">
		
			<div id="page_tab_equip">
				<ul>
					<li><span class="ui-icon ui-icon-triangle-1-e page_tab_icon"></span><a href="#tabs-1">Equipamentos</a></li>
					<li><span class="ui-icon ui-icon-triangle-1-e page_tab_icon"></span><a href="#tabs-2">Grupo de Usuários</a></li>
				</ul>
				<div id="tabs-1">
					<div class="buttons" >
						<button title="voltar" class="voltar">Voltar</button>
						<button id="btn_ref" title="Atualizar dados da listagem">Atualizar</button>
						<span id="tool">
						<button id="btn_new">Novo Registro</button>
						{% has_perm ADMINISTRATION True None %}
						{% if has_perm %}
						<button id="btn_del">Excluir</button>
						{% endif %}
						</span>
					</div>
					{% has_perm ADMINISTRATION True None %}
					{% if has_perm %}
					<form id="delete_form" method="post" action="{% url equip-group.delete egroup.id  %}" style="visibility: hidden;">
						{% csrf_token %}
						{% for field in form %}
							{{ field }}
						{% endfor %}
					</form>
					{% endif %}
					<table id="egrops_list">
						<thead>
							<tr>
								<th><input id="checkAll_equip" type="checkbox" /></th>
								<th>Nome</th>
								<th>Tipo de equipamento</th>
								<th>Modelo</th>
								<th>Marca</th>
							</tr>
						</thead>
						<tbody>
							{% for equip in equipments %}
							<tr>
								<td class="text_center"><input type="checkbox" name="selection" value="{{ equip.id }}" /></td>
								<td class="text_center">{{ equip.nome }}</td>
								<td class="text_center">{{ equip.type.tipo_equipamento }}</td>
								<td class="text_center">{{ equip.model.nome }}</td>
								<td class="text_center">{{ equip.mark.nome }}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			
			
				
				<!-- ----------------------------------------------------- -->
				
			<div id="tabs-2">
		
		
				<div class="buttons">
						<button title="voltar" class="voltar">Voltar</button>
						<button id="btn_ref_u" title="Atualizar dados da listagem">Atualizar</button>
						<span id="tool_user">
						<button id="btn_new_right">Novo Registro</button>
						{% has_perm ADMINISTRATION True None %}
						{% if has_perm %}
						<button id="btn_del_u">Excluir</button>
						{% endif %}
						</span>
					</div>
					{% has_perm ADMINISTRATION True None %}
					{% if has_perm %}
					<form id="delete_form_u" method="post" action="{% url equip-user-group.delete egroup.id %}" style="visibility: hidden;">
						{% csrf_token %}
						{% for field in form_ugroup %}
							{{ field }}
						{% endfor %}
					</form>
					{% endif %}
					<table id="ugrops_list">
						<thead>
							<tr>
								<th><input id="checkAll_user" type="checkbox" /></th>
								<th>Nome Grupo Usuário</th>
								<th>Alterar Configuração</th>
								<th>Escrita</th>
								<th>Leitura</th>
								<th>Exclusão</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
						
							{% for ugroup in ugroups %}
							<tr>
								<td class="text_center"><input type="checkbox" name="selection" value="{{ ugroup.id }}" /></td>
								<td class="text_center"> {{ ugroup.nome_grupo_usuario }}</td>
								<td class="text_center">  {% ifequal  ugroup.alterar_config "1" %} <span class="ui-icon ui-icon-check text_center" title="SIM"></span> {% else %} <span class="ui-icon ui-icon-close text_center" title="NÃO"></span> {% endifequal %} </td>
								<td class="text_center">  {% ifequal ugroup.escrita "1" %} <span class="ui-icon ui-icon-check text_center" title="SIM"></span> {% else %} <span class="ui-icon ui-icon-close text_center" title="NÃO"></span> {% endifequal %} </td>
								<td class="text_center">  {% ifequal ugroup.leitura "1" %} <span class="ui-icon ui-icon-check text_center" title="SIM"></span> {% else %} <span class="ui-icon ui-icon-close text_center" title="NÃO"></span> {% endifequal %} </td>
								<td class="text_center">  {% ifequal ugroup.exclusao "1" %} <span class="ui-icon ui-icon-check text_center" title="SIM"></span> {% else %} <span class="ui-icon ui-icon-close text_center" title="NÃO"></span> {% endifequal %} </td>
								<td class="text_center"><a href="{% url equip-user-group.edit egroup.id ugroup.id %}" style="width: 20px; height: 20px;" class="btn_edit">Editar</a></td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
					
					{% has_perm ADMINISTRATION True None %}
					{% if has_perm %}					
						<div id="page_tab_form_right">
							<ul>
								<li><span class="ui-icon ui-icon-triangle-1-e page_tab_icon"></span><a href="#tabs-3">Cadastro de Permissão Administrativa</a></li>
							</ul>
							<div id="tabs-3">
								<form id="form_perm" method="post" >
									{% csrf_token %}
									<div id="fields" class="ui-widget-content">
									{% for field in ugroup_form %}
										<div>
											<div><label for="{{ field.auto_id }}">{{ field.label_tag }}{% if field.field.required %}<span style="color: red;">*</span>{% endif %}</label>
											 {% ifequal field.field.label 'Função' %} </div>{{ field }} {% else %} {{ field }}</div> {% endifequal %}
											<p id="error" class="perm">
											{% if field.errors %} 
												{% for error in field.errors %}
													{{ error|escape }}
												{% endfor %}
											{% endif %}
											</p>
										</div>
									{% endfor %}
									</div>
									
									<div class="separator spacer"></div>
									
									<div class="buttons-l ui-widget-header">
										<button id="btn_sav_right" type="submit">Gravar</button>
										<button id="btn_can_right" type="button">Cancelar</button>
									</div>
								</form>
							</div>
						</div>					
					{% endif %}
					
					
					
				</div>
			</div>
			</div>
		</div>
		
	</div>
				
{% endblock %}