<!--
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
{% extends "vip-request/tabs-template.html" %}
{% load util %}

{% block tab_select %}
    $("#page_tab_lists").tabs({selected:0});
{% endblock %}

{% block js %}
    oTable = $("#poolDatatable").dataTable({
        "aaSorting": [[ 1, "asc" ]],
        "bAutoWidth": false,
        "bJQueryUI": true,
        "bFilter": false,
        "sPaginationType": "full_numbers",
        "iDisplayLength": {% max_results %},
        "aoColumnDefs": [
            { "bSortable": false, "aTargets": [4, 5] }
        ]
    });

    $("#btn_can").button({ icons: {primary: "ui-icon-arrowthick-1-w"} }).click(function(){
        location.href = "{% url vip-request.list %}";
    });

    $(".btn_edit").button({ icons: {primary: "ui-icon-pencil"}, text: false });
    $(".btn_edit", oTable.fnGetHiddenNodes()).button({ icons: {primary: "ui-icon-pencil"}, text: false });
    $(".btn_manager").button({ icons: {primary: "ui-icon-wrench"}, text: false });

    $("#checkAll").click( function() {
        if ($(this).attr('checked')) {
            $(":checkbox").attr("checked", true);
        } else {
            $(":checkbox").attr("checked", false);
        }
    });



{% endblock %}

{% block title %}[Requisição VIP - Pools]{% endblock %}

{% block tab-data %}
<div id="tabs-1">
        <table id="poolDatatable">
            <col width="30%" />
            <col width="10%" />
            <col width="15%" />
            <col width="30%" />
            <col width="5%" />
            <col width="3%" />
            <thead>
                <tr>
                    <th>Identificador</th>
                    <th>Porta Padrão</th>
                    <th>Heathcheck</th>
                    <th>Ambiente</th>
                    <th>Criado</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for port in vip.ports %}
                {% for pool in port.pools %}
                    <tr>
                        <td class='text_center'><label style="width: 350px;color: black;text-align: center;" >{{pool.server_pool.identifier}}</label></td>
                        <td class='text_center'><label style="width: 350px;color: black;text-align: center;" >{{pool.server_pool.default_port}}</label></td>
                        <td class='text_center'><label style="width: 350px;color: black;text-align: center;" >{{pool.server_pool.healthcheck.healthcheck_type}}</label></td>
                        <td class='text_center'><label style="width: 350px;color: black;text-align: center;" >{{pool.server_pool.environment}}</label></td>
                        <td class='text_center'>{% ifequal pool.server_pool.pool_created 1 %} <span class='ui-icon ui-icon-check text_center' title='SIM'></span> {% else %} <span class='ui-icon ui-icon-close text_center' title='NAO'></span> {% endifequal %}</td>
                        <td class='text_center'>{% if pool.server_pool.pool_created %} <a href='{% url pool.edit.form pool.server_pool.id %}' style='width: 20px; height: 20px;' class='btn_manager' title='Gerênciar'></a>{% else %}<a href='{% url pool.edit.form pool.server_pool.id %}' style='width: 20px; height: 20px;' class='btn_edit' title='Editar'></a>{% endif %}</td>
                    </tr>
                {% endfor %}
            {% endfor %}
            </tbody>
        </table>
    <div class="buttons-l ui-widget-header">
        <button id="btn_can" type="button">Cancelar</button>
    </div>
</div>
{% endblock %}