<!--
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
{% extends "vip-request/tabs-template.html" %}

{% load util %}

{% block title %}[Requisição VIP - Cadastro de Ports]{% endblock %}

{% block tab_select %}
  $("#page_tab_lists").tabs({selected:1});
{% endblock %}

{% block js %}
  {% include "vip-request/include_vip_js.js" %}
  {% include "vip-request/vip_pool.js" %}

  autocomplete("{% url equipment.autocomplete.ajax %}", true, "id_equip_name", false);

{%endblock js %}



{% block tab-data %}
<div id="tabs-3">
  <form id="add_form" method="post" action="{{action}}">
    {% csrf_token %}
    <div style="margin-top:20px">
      {% for field in form_basic %}
      <div>
        <div>
          <label for="{{ field.auto_id }}">{{ field.label_tag }}{% if field.field.required %}<span style="color: red;">*</span>{% endif %}</label>
        </div>
        {{ field }}
        {% if field.errors %}
        <p id="error">
          {% for error in field.errors %}
            {{ error|escape }}
          {% endfor %}
        </p>
        {% endif %}
      </div>
      {% endfor %}
    </div>
    <div style="margin-top:20px;">
      {% for field in form_option %}
      <div>
        <div>
          <label for="{{ field.auto_id }}">{{ field.label_tag }}{% if field.field.required %}<span style="color: red;">*</span>{% endif %}</label>
        </div>
        {{ field }}
        {% if field.errors %}
        <p id="error">
          {% for error in field.errors %}
            {{ error|escape }}
          {% endfor %}
        </p>
        {% endif %}
      </div>
      {% endfor %}
    </div>
    <div style="margin-top:20px;">
      {% for field in form_port_option %}
        <div style="float: left; margin-right:1%">
          <div>
            <label for="{{ field.auto_id }}">{{ field.label_tag }}{% if field.field.required %}<span style="color: red;">*</span>{% endif %}</label>
          </div>
          {{ field }}
          {% if field.errors %}
          <p id="error">
            {% for error in field.errors %}
              {{ error|escape }}
            {% endfor %}
          </p>
          {% endif %}
        </div>
      {% endfor %}
      <div style="float: left; margin-top:18px;">
        <button id="btn_add_pool" type="button">Selecionar Pool</button>
        <button id="btn_copy" type="button">Copiar Pool</button>
        <button id="btn_new_pool" type="button">Novo Pool</button>
      </div>
    </div>


    {% if pools_error %}
      <div style="margin-top:20px">
        <div><p id="error">{{pools_error}}</p></div>
      </div>
    {% endif %}

    <div style="margin-top:20px;">
      <div id="divMembers" style="padding-top: 10px; clear: left;">
        {% if pools_add %}
          {% for port in pools_add %}
            {% include "pool/items.html" with port=port %}
          {% endfor %}
        {% endif %}
        <!-- Will add pool members -->
      </div>
    </div>
    <div class="buttons-l ui-widget-header">
      <button id="btn_sav" type="submit">Gravar</button>
      <button id="btn_can" type="button">Cancelar</button>
    </div>
  </form>
</div>
{% endblock %}
