<!--
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
{% load util %}

<div id="fields" class="ui-widget-content">

	{% if message %}
		<table id="message">
			<tr>
				<td class="ui-widget error-messages-view">
					<div class="{% ifequal msg_type 'error' %} ui-state-error {% else %} ui-state-highlight success {% endifequal %} ui-corner-all">
						{{ message }}
					</div>
					<br/>
				</td>
			</tr>
		</table>
	{% endif %}
	<table id="dados_comuns">
		<tr>
			<td style="width: 235px"><label for="criado">Vip Criado</label></td>
			<td>
				<label style="width: 350px;color: blue;text-align: center;" >
					{% ifequal 'True' vip.created %}
						Sim
					{% else %}
						Não
					{% endifequal %}
				</label>
			</td>
		</tr>
		<tr>
			<td><label for="negocio">Área Negócio</label></td>
			<td><label style="width: 350px;color: blue;text-align: center;" >{{vip.service}}</label></td>
		</tr>
		<tr>
			<td><label for="servico">Nome Serviço</label></td>
			<td><label style="width: 350px;color: blue;text-align: center;" >{{vip.name}}</label></td>
		</tr>
		<tr>
			<td><label for="host">Host</label></td>
			<td><label style="width: 350px;color: blue;text-align: center;" >{{vip.business}}</label></td>
		</tr>
		<tr>
			<td><label for="ambientevip">Ambiente VIP</label></td>
			<td><label style="width: 350px;color: blue;text-align: center;" >{{vip.environmentvip.finalidade_txt}} - {{vip.environmentvip.cliente_txt}} - {{vip.environmentvip.ambiente_p44_txt}}</label></td>
		</tr>
	</table>
	<br/>
	<table id="vip_principal">
		<tr>
			<td style="width: 235px"><label for="vip_id">Id VIP</label></td>
			<td><label style="width: 350px;color: blue;text-align: center;" >{{vip.id}}</label></td>
		</tr>
		{% for name in vip.default_names %}
		<tr>
			{% ifequal forloop.counter 1 %}
				<td><label>Nome(s) do VIP</label></td>
			{% else %}
				<td></td>
			{% endifequal %}
			<td><label style="width: 350px;color: blue;text-align: center;" >{% if name %}{{name}}{% else %} - {% endif %}</label> </td>
		</tr>
		{% endfor %}
		<tr>
			<td ><label for="ipv4">IPv4</label></td>
			{% if vip.ipv4 %}
				<td><label style="width: 350px;color: blue;text-align: center;" >{{vip.ipv4.ip_formated}}</label></td>
			{% else %}
				<td><label style="width: 350px;color: blue;text-align: center;" > - </label></td>
			{% endif %}
		</tr>
		<tr>
			<td ><label for="ipv6">IPv6</label></td>
			{% if vip.ipv6 %}
				<td><label style="width: 350px;color: blue;text-align: center;" >{{vip.ipv6.ip_formated}}</label></td>
			{% else %}
				<td><label style="width: 350px;color: blue;text-align: center;" > - </label></td>
			{% endif %}
		</tr>
		{% for equip in vip.equipments %}
		<tr>
			{% ifequal forloop.counter 1 %}
				<td><label>Equipamento(s)</label></td>
			{% else %}
				<td></td>
			{% endifequal %}
			<td><label style="width: 350px;color: blue;text-align: center;" > {{equip.name}} </label> </td>
		</tr>
		{% endfor %}
		<tr>
			<td><label for="cache">Cache</label></td>
			{% if vip.options.cache_group %}
				<td><label style="width: 350px;color: blue;text-align: center;" >{{vip.options.cache_group.nome_opcao_txt}}</label></td>
			{% else %}
				<td><label style="width: 350px;color: blue;text-align: center;" > - </label></td>
			{% endif %}
		</tr>
		<tr>
			<td><label for="trafficreturn">Traffic Return</label></td>
			{% if vip.options.traffic_return %}
				<td><label style="width: 350px;color: blue;text-align: center;" >{{vip.options.traffic_return.nome_opcao_txt}}</label></td>
			{% else %}
				<td><label style="width: 350px;color: blue;text-align: center;" > - </label></td>
			{% endif %}
		</tr>
		<tr>
			<td><label for="persistencia">Persistencia</label></td>
			{% if vip.options.persistence %}
				<td><label style="width: 350px;color: blue;text-align: center;" >{{vip.options.persistence.nome_opcao_txt}}</label></td>
			{% else %}
				<td><label style="width: 350px;color: blue;text-align: center;" > - </label></td>
			{% endif %}
		</tr>
		<tr>
			<td><label for="timeout">Timeout</label></td>
			{% if vip.options.timeout %}
				<td><label style="width: 350px;color: blue;text-align: center;" >{{vip.options.timeout.nome_opcao_txt}} min</label></td>
			{% else %}
				<td><label style="width: 350px;color: blue;text-align: center;" > - </label></td>
			{% endif %}
		</tr>
	</table>
	<br/>

	{% for port in vip.ports %}
		<table  class="vip_v3" >
			<tr>
				<td style="width: 235px"><label for="porta">Porta VIP</label></td>
				<td><label style="width: 350px;color: blue;text-align: center;" >{{port.port}}</label></td>
			</tr>
			<tr>
				<td><label for="l4_protocol">Protocolo L4</label></td>
				<td><label style="width: 350px;color: blue;text-align: center;" >{{port.options.l4_protocol.nome_opcao_txt}}</label></td>
			</tr>
			<tr>
				<td><label for="l7_protocol">Protocolo L7</label></td>
				<td><label style="width: 350px;color: blue;text-align: center;" >{{port.options.l7_protocol.nome_opcao_txt}}</label></td>
			</tr>
			<tr><td colspan="2"><br></td></tr>
			{% for pool in port.pools %}
				<tr>
					<td><label for="pool_identifier">Identificador do Pool</label></td>
					<td><label style="width: 350px;color: blue;text-align: center;" >{{pool.server_pool.identifier}}</label></td>
				</tr>
				<tr>
					<td><label for="servicedownaction">Action on ServiceDown</label></td>
					<td><label style="width: 350px;color: blue;text-align: center;" >{{pool.server_pool.servicedownaction.name}}</label></td>
				</tr>
				<tr>
					<td><label for="metodo_bal">Balanceamento</label></td>
					<td><label style="width: 350px;color: blue;text-align: center;" >{{pool.server_pool.lb_method}}</label></td>
				</tr>
				<tr>
					<td><label for="hc_type">Healthcheck </label></td>
					<td><label style="width: 350px;color: blue;text-align: center;" >{{pool.server_pool.healthcheck.healthcheck_type}}</label></td>
				</tr>
				{% ifequal "HTTP" pool.server_pool.healthcheck.healthcheck_type %}
					<tr>
						<td><label for="hc_send">Healthcheck Request</label></td>
						<td><label style="width: 500px;color: blue;text-align: center;" >{{pool.server_pool.healthcheck.healthcheck_request}}</label></td>
					</tr>
					<tr>
						<td><label for="hc_recv">Healthcheck Expect</label></td>
						<td><label style="width: 350px;color: blue;text-align: center;" >{{pool.server_pool.healthcheck.healthcheck_expect}}</label></td>
					</tr>
				{% endifequal %}
				{% ifnotequal "default_vip" pool.l7_rule.nome_opcao_txt %}
					<tr>
						<td><label>Tipo Regra L7</label></td>
						<td><label style="width: 500px;color: blue;text-align: center;" >{{pool.l7_rule.nome_opcao_txt}}</label></td>
					</tr>

					{% ifnotequal "default_glob" pool.l7_rule.nome_opcao_txt %}
					<tr>
						<td><label>Regra L7</label></td>
						<td><label style="width: 500px;color: blue;text-align: center;" >{{pool.l7_value}}</label></td>
					</tr>
					<tr>
						<td><label>Ordem Regra L7</label></td>
						<td><label style="width: 500px;color: blue;text-align: center;" >{{pool.order}}</label></td>
					</tr>
					{% endifnotequal %}
				{% endifnotequal %}
				<tr>
					<td colspan="3">
						<table id="table_real" class="bordasimplesReal">
							<thead>
								<tr>
									<td>Real</td>
									<td>IP</td>
									<td>Prioridade</td>
									<td class="weighted">Peso</td>
									<td>Porta</td>
									<td>Maxconn</td>
								</tr>
							</thead>
							<tbody>
								{% for real in pool.server_pool.server_pool_members %}
									<tr>
										<td><label style="width: 350px;color: blue;text-align: center;" >{{real.identifier}}</label></td>
										<td><label style="width: 350px;color: blue;text-align: center;" >{% if real.ip %}{{real.ip.ip_formated}}{% else %}{% if real.ipv6 %}{{real.ipv6.ip_formated}}{% endif %}{% endif %}</label></td>
										<td><label style="width: 350px;color: blue;text-align: center;" >{{real.priority}}</label></td>
										<td><label style="width: 350px;color: blue;text-align: center;" >{{real.weight}}</label></td>
										<td><label style="width: 350px;color: blue;text-align: center;" >{{real.port_real}}</label></td>
										<td><label style="width: 350px;color: blue;text-align: center;" >{{real.limit}}</label></td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</td>
				</tr>
			{% endfor %}
			<tr>
				<td colspan="3">
					<p id="error">{{reals_error}}</p>
				</td>
			</tr>
			<tr>
				<td colspan="3">&nbsp</td>
			</tr>
		</table>
		<br/>
	{% endfor %}

<script type="text/javascript">
$(document).ready(function() {
	
	$(".error-messages-view").each(function() {
		$(this).delay(15000).animate({ opacity: 'toggle', height: 'toggle' }, "slow");
	});

	$("#dialog-vip").dialog({
		height: 600,
		width: 1000,
		modal: true,
		autoOpen: false,
		draggable: false,
		resizable: true,
		beforeClose: function(event, ui) {
			{% if changed %}
				window.location.reload();
			{% endif %}
			return true;
		},
		buttons: {
			
			{% has_perm VIP_VALIDATION True None %}
			{% if has_perm %}
			
				{% ifequal 'False' vip.validado %}
				"Validar": function() {
					if (confirm('Deseja realmente validar a Requisição Vip ?')){ 
						
						$.ajax({
							url: "{% url vip.ajax.create.validate.remove vip.id 1 %}",
							dataType: 'text',
							success: function(data) {
								$("#vip-view").html(data);
							}
						});
						
					}
				},
				{% endifequal %}
			
			{% endif %}
			
			{% has_perm VIP_CREATE_SCRIPT True None %}
			{% if has_perm %}
				
				{% ifequal 'False' vip.vip_criado %}
				"Criar VIP": function() {
					if (confirm('Deseja realmente criar a Requisição Vip ?')){ 
						
						$.ajax({
							url: "{% url vip.ajax.create.validate.remove vip.id 2 %}",
							dataType: 'text',
							success: function(data) {
								$("#vip-view").html(data);
							}
						});
						
					}
				},
				{% endifequal %}
				
			{% endif %}
			
			{% has_perm VIP_REMOVE_SCRIPT True None %}
			{% if has_perm %}
			
				{% ifequal 'True' vip.vip_criado %}
				"Remover VIP": function() {
					if (confirm('Os VIPs selecionados serão removidos dos seus respectivos equipamentos. Os serviços desses VIPs serão interrompidos. Tem certeza que deseja continuar ?')){ 
						
						$.ajax({
							url: "{% url vip.ajax.create.validate.remove vip.id 3 %}",
							dataType: 'text',
							success: function(data) {
								$("#vip-view").html(data);
							}
						});
						
					}
				},
				{% endifequal %}
			
			{% endif %}
			
			"Voltar": function() {
					$(this).dialog("close");
			}
		}
	
	});
	
})
</script>

