<!--
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->


{% for ip6 in ips6 %}


				
				<tr>
					<td style="max-width: 200px;width: 200px;" >{{ip6.description}}</td>
					<td style="max-width: 260px;width: 260px;text-align: center;" >{{ip6.block1}}:{{ip6.block2}}:{{ip6.block3}}:{{ip6.block4}}:{{ip6.block5}}:{{ip6.block5}}:{{ip6.block6}}:{{ip6.block7}}:{{ip6.block8}}</td>
					<td style="max-width: 200px;width: 200px;">
					<a href="{% url network.insert.ip6.of.equip ip6.id_rede equip_id %}" target="_blank"><button type="button" id="btn_add6" class="btn_add6">Adicionar</button></a>
					<a href="{% url network.delete.ip6.of.equip ip6.id equip_id %}"><button type="button" class="btn_del6" onclick="return confirm('Deseja deletar o IP?');" id="btn_del6">Remover</button></a>
					</td>
					
					
				</tr>
				
	
			
{% endfor %}

