{% extends "template.html" %}

{% load util %}

{% block title %}[Equipamento - ALTERAÇÃO]{% endblock %}

{% block header %}
<script type="text/javascript">

$(document).ready(function() {
		
	$("#page_tab").tabs();
	
	$("#btn_sav").button({ icons: {primary: "ui-icon-disk"} });
	
	$(".btn_add4").button({ icons: {primary: "ui-icon-plus"}, text: false });
	
	$(".btn_del4").button({ icons: {primary: "ui-icon-close"}, text: false });
	
	$(".btn_add6").button({ icons: {primary: "ui-icon-plus"}, text: false });
	
	$(".btn_del6").button({ icons: {primary: "ui-icon-close"}, text: false });
	
	$("#btn_can").button({ icons: {primary: "ui-icon-cancel"} }).click(function(){
		location.href = "{% url equipment.search.list %}";
	});
		
	$('#id_marca').change(function(){
	    $('#id_modelo').load('/equipment/modelo/'+$('#id_marca').val());
	});
	
	$("#id_grupo").pickList();
	$("#id_ambiente").pickList({
		afterAdd: function(param){add_checkboxs_routeador(param.target);},
		afterAddAll: function(param){add_checkboxs_routeador(param.target);},
		afterRemove: function(param){rmv_checkboxs_routeador(param.target);},
		afterRemoveAll: function(param){rmv_checkboxs_routeador(param.target);}
	});
	
	$("#id_ambiente").next().find('.pickList_targetListLabel').append('<div style="float:right;">Roteador<div>');
	add_checkboxs_routeador($("#id_ambiente"), {{roteadores|jsonify}});
	
	$(".pickList_addAll").button({ icons: {primary: "ui-icon-arrowthickstop-1-s"}, text: false });
	$(".pickList_add").button({ icons: {primary: "ui-icon-arrowthick-1-s"}, text: false });
	$(".pickList_remove").button({ icons: {primary: "ui-icon-arrowthick-1-n"}, text: false });
	$(".pickList_removeAll").button({ icons: {primary: "ui-icon-arrowthickstop-1-n"}, text: false });
	
	$("#id_nome").keyup(function() {
        var valor = $(this).val().replace(/[^0-9A-Z_-]+/g,'');
        $(this).val(valor);
 	}); 
	
	$("#id_nome").mouseover(function() {
    	 $("#id_nome").attr("title","Somente letras maiúsculas, números, '-' e '_' são permitidos.");
    });
	
	$("#btn_marca").button({ icons: {primary: "ui-icon-plus"}, text: false });
	$("#btn_att_marca").button({ icons: {primary: "ui-icon-refresh"}, text: false }).click(function(){
		
		marca = $("#id_marca").val();
		modelo = $("#id_modelo").val();
		
		$('#id_modelo').load('/equipment/modelo/'+marca , function() {
			$("#id_modelo").val(modelo);
		
		});
		
		$("#id_marca").load('/equipment/marca/', function() {
			$("#id_marca").val(marca);
		
		});
		
		
	});
	
	$("#btn_marca").mouseover(function() {
   	 $("#btn_marca").attr("title","Adcionar marca e/ou modelo");
   });
	
	$("#btn_att_marca").mouseover(function() {
	   	 $("#btn_att_marca").attr("title","Atualizar combos marca/modelo");
	   });
	
	
})

function add_checkboxs_routeador(target, arr_checked){
	$(target).next().find('ul.pickList_targetList li').each(function(){
		var obj = $(this);
		var exist_check = obj.find('.chk_roteador').length
		
		if(!exist_check){
			var value   = obj.attr('picklist:value');
			var checked = ($.inArray(value, arr_checked) != -1) ? 'checked="checked"' : '';
			obj.append('<div class="chk_roteador" style="float:right;"><input '+checked+' value="'+value+'" type="checkbox" name="roteadores" onclick="event.stopPropagation()" /><div>');
		}
	});
}

function rmv_checkboxs_routeador(target){
	$(target).next().find('ul.pickList_sourceList li div.chk_roteador').remove();
}
</script>
{% endblock %}

{% block content %}
<div id="page_tab">
	<ul>
		<li><span class="ui-icon ui-icon-triangle-1-e page_tab_icon"></span><a href="#tabs-1">Edição de Equipamento</a></li>
	</ul>
	<div id="tabs-1">
	
		<form id="add_form" method="post" action="{% url equipment.edit.by.id equip_id %}">
			{% csrf_token %}
			<div id="fields" class="ui-widget-content">
			{% for field in form %}
				<div>
					<div><label for="{{ field.auto_id }}">{{ field.label_tag }}{% if field.field.required %}<span style="color: red;">*</span>{% endif %}</label></div>
					
					{{ field }}
					
					
					{% ifequal forloop.counter 3 %}
					
						<a href="{% url equipment.marca.form %}" target="blank"><button type="button" id="btn_marca">Adcionar marca/modelo</button></a>
						<button type="button" id="btn_att_marca">Atualizar combos marca/modelo</button>
					
					{% endifequal %}
					
					<p id="error">
					{% if field.errors %} 
						{% for error in field.errors %}
							{{ error|escape }}
						{% endfor %}
					{% endif %}
					</p>
					
				</div>
			{% endfor %}	
			
			
			<div id="ips_dos_equipamentos" style="overflow: auto; max-height: 400px;max-width: 500px" >
			
			<label>Ip dos Equipamentos</label>
			
			<table style="border: thick;">
			
			<tr>
			
				<th style="max-width: 200px;width: 200px;font-style: italic;">
					Descrição do IP
				</th>
				<th style="max-width: 200px;width: 200px;font-style:italic;">
					IP
				</th>
				
			
			</tr>
			
			{% if ip4 != 'None' %}
			
				{% include "equipment/equip-ip4.html" %}
			
			{% endif %}
			
			{% if ip6 != 'None' %}
			
				{% include "equipment/equip-ip6.html" %}
			
			{% endif %}
			
			</table>
			
			</div>
			
			
			</div>	

			<div class="separator spacer"></div>
			
			<div class="buttons-l ui-widget-header">
				<button id="btn_sav" type="submit">Gravar</button>
				<button id="btn_can" type="button">Cancelar</button>
			</div>
		</form>
	</div>
</div>

{% endblock %}
