{% extends "template.html" %}

{% load util %}

{% block title %}[Rede - Cadastro]{% endblock %}

{% block header %}
<style>
#fields ul li {
	list-style: none;
	display: inline-block;
}
#network_ipv4 label {
	vertical-align: middle;
}
#network_ipv6 label {
	vertical-align: middle;
}
</style>
<script type="text/javascript" src="{{ MEDIA_URL }}/js/ipAddr.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}/js/ipAddr_l8n.js"></script>
<script type="text/javascript">
$(document).ready(function() {
	
	$("#page_tab").tabs();
	
	$("#btn_sav").button({ icons: {primary: "ui-icon-disk"} });
	
	$("#btn_can").button({ icons: {primary: "ui-icon-cancel"} }).click(function(){
		value = $("#id_vlan_name_id").val();
		if (value != "") {
			location.href = "/vlan/get/" + value;
		} else {
			location.href = "{% url vlan.search.list %}";
		}
	});
	
	$("#btn_update").button({ icons: {primary: "ui-icon-arrowrefresh-1-w"}, text: false }).click(function() {
		var value = "";
		$(".ipv4").each(function() {
			value = value + $(this).val() + $.trim($(this).next().text());
		});
		
		ip = new ipAddr(value);
		
		$("#brdcst").val(ip.Broadcast());
	});
	
	$(".ipv4").change(function() {
		$("#btn_update").click();
	});
	
	$("#id_ip_version_0").click(function() {
		$("#network_ipv4").show().next().hide();
		$("#network_ipv6 input").each(function() {
			$(this).val("");
		});
	});
	
	$("#id_ip_version_1").click(function() {
		$("#network_ipv4").hide().next().show();
		$("#network_ipv4 input").each(function() {
			$(this).val("");
		});
	});
	
	if ($("#search_form input[name='ip_version']:checked").val() == 0) {
		$("#id_ip_version_0").click();
		net = $("#id_networkv4").val();
		splt = net.split(".");
		if (splt.length == 4) {
			aux = splt[3].split("/");
			if (aux.length == 2) {
				$("#oct1").val(splt[0]).next().next().val(splt[1]).next().next().val(splt[2]).next().next().val(aux[0]).next().next().val(aux[1]);
			}
		}
	} else {
		$("#id_ip_version_1").click();
		net = $("#id_networkv6").val();
		splt = net.split(":");
		if (splt.length == 8) {
			aux = splt[7].split("/");
			if (aux.length == 2) {
				$("#oct1_v6").val(splt[0]).next().next().val(splt[1]).next().next().val(splt[2]).next().next().val(splt[3]).next().next().val(splt[4]).next().next().val(splt[5]).next().next().val(splt[6]).next().next().val(aux[0]).next().next().val(aux[1]);
			}
		}
	}
	
	autocomplete("{% url vlan.autocomplete.ajax %}", false, "id_vlan_name", true);
	
	
// 	$("#search_form").submit(function() {
// 		var value = "";
// 		if ($("#search_form input[name='ip_version']:checked").val() == 0) {
// 			$(".ipv4").each(function() {
// 				value = value + $(this).val() + $.trim($(this).next().text());
// 			});
// 			$("#id_networkv4").val(value);
// 			$("#id_networkv6").val("");
// 		} else {s
// 			$("#network_ipv6 input").each(function() {
// 				if ($(this).val() == ""){
// 					if ($(this).is("#mask")){
// 						value = value + "000" + $.trim($(this).next().text());
// 					}
// 					else value = value + "0000" + $.trim($(this).next().text());
// 				}
// 				else{
// 					value = value + $(this).val() + $.trim($(this).next().text());
// 				}
// 			});
// 			$("#id_networkv6").val(value);
// 			$("#id_networkv4").val("");
// 		}
// 	});
	
	$("#btn_sav").click(function(){
		
		preparesForm();
		
		netipv4 = $('input[name=networkv4]');
		netipv6 = $('input[name=networkv6]');
		id_vlan = $('#id_vlan_name_id').val();
		
		if( id_vlan != '' && netipv4.val() != "" || netipv6.val() != ""){
			$.ajax({
				//async: false,
				data: { netipv4: netipv4.val(), netipv6: netipv6.val(), is_number : 0, id_vlan : id_vlan },
				url: "{% url ajax.vlan.confirm %}",
				dataType: 'text',
				success: function(data) {
					if (data != ""){
						if(confirm(data)){
							$("#search_form").submit();			
						}else{
							return false;
						}
					}
					else{
						$("#search_form").submit();
					}
				}
			});
			return false;
		}else{
			$("#search_form").submit();
		}
		
	});
	
	function preparesForm(){
		var value = "";
		if ($("#search_form input[name='ip_version']:checked").val() == 0) {
			$(".ipv4").each(function() {
				value = value + $(this).val() + $.trim($(this).next().text());
			});
			$("#id_networkv4").val(value);
			$("#id_networkv6").val("");
		} else {
			$("#network_ipv6 input").each(function() {
				if ($(this).val() == ""){
					if ($(this).is("#mask")){
						value = value + "000" + $.trim($(this).next().text());
					}
					else value = value + "0000" + $.trim($(this).next().text());
				}
				else{
					value = value + $(this).val() + $.trim($(this).next().text());
				}
			});
			$("#id_networkv6").val(value);
			$("#id_networkv4").val("");
		}
	}
	
});
</script>
{% endblock %}

{% block content %}
<div id="page_tab">
	<ul>
		<li><span class="ui-icon ui-icon-triangle-1-e page_tab_icon"></span><a href="#tabs-1">Cadastro de Rede</a></li>
	</ul>
	<div id="tabs-1">
	
		<form id="search_form" method="post" action="{% url network.form %}">
			{% csrf_token %}
			<div id="fields" class="ui-widget-content">
			{% for field in form %}
				{% if field.is_hidden %}
					{{ field }}
					{% ifequal field.name "networkv6" %}
					<div id="network_ipv4" style="margin-top: -10px; margin-bottom: 15px">
						<input type="text" id="oct1" name="oct1" maxlength="4" style="width:24px;" class="ipv4" onkeyup="changeInput(this, true)" /><label> . </label>
						<input type="text" name="oct2" maxlength="4" style="width:24px;" class="ipv4" onkeyup="changeInput(this, true)" /><label> . </label>
						<input type="text" name="oct3" maxlength="4" style="width:24px;" class="ipv4" onkeyup="changeInput(this, true)" /><label> . </label>
						<input type="text" name="oct4" maxlength="4" style="width:24px;" class="ipv4" onkeyup="changeInput(this, true)" /><label> / </label>
						<input type="text" name="oct5" maxlength="2" style="width:18px;" class="ipv4" onkeyup="changeInput(this, true)" /><label></label>
						<p id="error">
						{% if form.networkv4.errors %}
							{% for error in form.networkv4.errors %}
								{{ error|escape }}
							{% endfor %}
						{% endif %}
						</p>
						<label>Broadcast</label>
						<br/>
						<input type="text" id="brdcst" maxlength="3" style="width: 98px; background-color: #FAFAFA; border: none; text-align: center;" readonly="readonly" />
						<button id="btn_update" type="button">Atualizar Broadcast</button>
					</div>
					<div id="network_ipv6" style="margin-top: -10px; margin-bottom: 15px">
						<input type="text" id="oct1_v6" name="oct1" maxlength="5" style="width:30px;" onkeyup="changeInput(this, true)" /><label> : </label>
						<input type="text" name="oct2" maxlength="5" style="width:30px;" onkeyup="changeInput(this, true)" /><label> : </label>
						<input type="text" name="oct3" maxlength="5" style="width:30px;" onkeyup="changeInput(this, true)" /><label> : </label>
						<input type="text" name="oct4" maxlength="5" style="width:30px;" onkeyup="changeInput(this, true)" /><label> : </label>
						<input type="text" name="oct5" maxlength="5" style="width:30px;" onkeyup="changeInput(this, true)" /><label> : </label>
						<input type="text" name="oct6" maxlength="5" style="width:30px;" onkeyup="changeInput(this, true)" /><label> : </label>
						<input type="text" name="oct7" maxlength="5" style="width:30px;" onkeyup="changeInput(this, true)" /><label> : </label>
						<input type="text" name="oct8" maxlength="5" style="width:30px;" onkeyup="changeInput(this, true)" /><label> / </label>
						<input type="text" name="oct9" maxlength="3" style="width:24px;" onkeyup="changeInput(this, true)" id="mask" /><label></label>
						<p id="error">
						{% if form.networkv6.errors %} 
							{% for error in form.networkv6.errors %}
								{{ error|escape }}
							{% endfor %}
						{% endif %}
						</p>
					</div>
					{% endifequal %}
				{% else %}
					<div>
						<div><label for="{{ field.auto_id }}">{{ field.label_tag }}{% if field.field.required %}<span style="color: red;">*</span>{% endif %}</label></div>
						{{ field }}
						{% if forloop.counter == 1  %}
						<img id="loading-autocomplete" src="{{ MEDIA_URL }}/img/input-loading.gif" style="display: none;" />
						{% endif %}
						<p id="error">
						{% if field.errors %} 
							{% for error in field.errors %}
								{{ error|escape }}
							{% endfor %}
						{% endif %}
						</p>
					</div>
				{% endif %}
			{% endfor %}
			</div>
			
			<div class="separator spacer"></div>
			
			<div class="buttons-l ui-widget-header">
				<button id="btn_sav" type="submit">Gravar</button>
				<button id="btn_can" type="button">Cancelar</button>
			</div>
		</form>
		
	</div>
</div>
{% endblock %}