html body {
}

div.header {
    height: 100px;
    margin: 70px 10%;
}

section {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 0px 10%;
    grid-column-gap: 10px;
}

.form-edit {
    border-bottom: 2px solid #f8f8f8;
    display: flex;
    flex-direction: column;
    align-content: center;
    vertical-align: top;
}

.rows {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    vertical-align: top;
    min-width: 30%;
}

div.text-fields {
    height: 70px;
    min-width: 30%;
    max-width: 95%;
    margin: 5px;
}

div.connection-edit {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

div.div-box{
    border: 1px solid #0D84A5; 
    align-items: center;
    text-align: center;
    border-radius: 3px;
    width: 200px;
    background: #0D84A5;
}

div.vertical-line {
    width: 1.5px;
    height: 120px;
    background: #0D84A5;
}

div.vertical-none-line {
    width: 1.5px;
    height: 120px;
    background: #FFF;    
}

i.remove-link {
    color: #e58f6f;
    text-align: center;
    font-family: sans-serif;
    font-size: 15px;
}

i.remove-link:hover {
    color: #FFF;
    text-align: center;
    font-family: sans-serif;
    font-size: 15px;
}

.remove-label {
    cursor: pointer;
    font-size: 0.875rem;
    margin-bottom: 0.357em;
    padding: 0; 
    color: #FFF;
}
