html body {
}

div.header {
    height: 100px;
    margin: 70px 10%;
}

section {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 10px 10%;
    grid-column-gap: 10px;
}

.form-edit {
    border-bottom: 2px solid #f8f8f8;
    display: flex;
    flex-direction: column;
    align-content: center;
    vertical-align: top;
}

.rows {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    vertical-align: top;
    min-width: 30%;
    max-width: 
}

div.text-fields {
    height: 70px;
    min-width: 30%;
    max-width: 95%;
    margin: 5px;
}

.connection-edit {
    border-radius: 10px;
}

div#envs {
    height: 50px;
}
