<!--
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
{% extends "template.html" %}

{% load util %}

{% block title %}[IP6 - Associação]{% endblock %}

{% block header %}
<script type="text/javascript">
$(document).ready(function() {
	
	$("#page_tab").tabs();
	
	$("#btn_sav").button({ icons: {primary: "ui-icon-disk"} });
	
	$("#btn_can").button({ icons: {primary: "ui-icon-cancel"} }).click(function(){
		location.href = "{% url network.ip6.list.by.id id_net id_vlan sf_number sf_name sf_environment sf_nettype sf_subnet sf_ipversion sf_network sf_iexact sf_acl %}";
	});
	
	autocomplete("{% url equipment.autocomplete.ajax %}", false, "id_equip_name", false);
	
	$("textarea").maxlength();
	
})
</script>
{% endblock %}

{% block content %}
<div id="page_tab">
	<ul>
		<li><span class="ui-icon ui-icon-triangle-1-e page_tab_icon"></span><a href="#tabs-1">Associação de IP6</a></li>
	</ul>
	<div id="tabs-1">
	
		<form id="add_form" method="post" action="{% url network.assoc.ip6 id_net id_ip id_vlan sf_number sf_name sf_environment sf_nettype sf_subnet sf_ipversion sf_network sf_iexact sf_acl %}">
			{% csrf_token %}
			<div id="fields" class="ui-widget-content">
			<label for="equipamentos">Equipamento(s)</label><br/>
			<label id="equipamentos">{{equipamentos}}</label><br/><br/>
			
			{% for field in form %}
				<div>
					<div><label for="{{ field.auto_id }}">{{ field.label_tag }}{% if field.field.required %}<span style="color: red;">*</span>{% endif %}</label></div>
					
					{{ field }}
					
					{% if forloop.counter == 1  %}
					<img id="loading-autocomplete" src="{{ MEDIA_URL }}/img/input-loading.gif" style="display: none;" />
					{% endif %}
					
					<p id="error">
					{% if field.errors %} 
						{% for error in field.errors %}
							{{ error|escape }}
						{% endfor %}
					{% endif %}
					</p>
					
				</div>
			{% endfor %}
					<label for="block1">IP</label><span style="color: red;">*</span><br/>
					<input type="text" readonly="True" style="width: 28px" maxlength="4" id="block1" name="block1" value="{{block1}}"/>.<input type="text" readonly="True" maxlength="4" name="block2" style="width: 28px" id="block2" value="{{block2}}"/>.<input type="text" readonly="True" maxlength="4" name="block3" style="width: 28px" id="block3" value="{{block3}}"/>.<input readonly="True" type="text" name="block4" maxlength="4" style="width: 28px" id="block4" value="{{block4}}"/>
					<input type="text" readonly="True" style="width: 28px" maxlength="4" id="block5" name="block5" value="{{block5}}"/>.<input type="text" readonly="True" maxlength="4" name="block6" style="width: 28px" id="block6" value="{{block6}}"/>.<input type="text" readonly="True" maxlength="4" name="block7" style="width: 28px" id="block7" value="{{block7}}"/>.<input readonly="True" type="text" name="block8" maxlength="4" style="width: 28px" id="block8" value="{{block8}}"/>
			</div>
			
			<div class="separator spacer"></div>
			
			<div class="buttons-l ui-widget-header">
				<button id="btn_sav" type="submit">Gravar</button>
				<button id="btn_can" type="button">Cancelar</button>
			</div>
		</form>
	</div>
</div>
{% endblock %}
