{% extends "template.html" %}

{% load util %}

{% block title %}[Ambiente - Cadastro]{% endblock %}

{% block header %}
<script type="text/javascript">
$(document).ready(function() {

	$("#id_max_num_vlan_1, #id_min_num_vlan_1, #id_max_num_vlan_2, #id_min_num_vlan_2").keyup(function() {
		var valor = $(this).val().replace(/[^0-9A-Z_-]+/g,'');
		$(this).val(valor);
	});
	
	$('#form_environment').submit(function(){
		id_min_num_vlan_1 = $('#id_min_num_vlan_1').val();
		id_max_num_vlan_1 = $('#id_max_num_vlan_1').val();
		id_min_num_vlan_2 = $('#id_min_num_vlan_2').val();
		id_max_num_vlan_2 = $('#id_max_num_vlan_2').val();

		if((id_min_num_vlan_1 == '' && id_max_num_vlan_1 == '') && (id_min_num_vlan_2 != '' && id_max_num_vlan_2 != '')){
			if(confirm('Os valores do campo "Min/Max VLAN 1" será preenchido com os valores de "Min/Max VLAN 2", deseja continuar ?')){
				return true;
			}else{
				return false;	
			}
		}

		if((id_min_num_vlan_2 == '' && id_max_num_vlan_2 == '') && (id_min_num_vlan_1 != '' && id_max_num_vlan_1 != '')){
			if(confirm('Os valores do campo "Min/Max VLAN 2" será preenchido com os valores de "Min/Max VLAN 1", deseja continuar ?')){
				return true;
			}else{
				return false;	
			}
		}

		return true;
	});
	
	$("#page_tab").tabs();
	
	$("#btn_sav").button({ icons: {primary: "ui-icon-disk"} });
	
	$("#btn_can").button({ icons: {primary: "ui-icon-cancel"} }).click(function(){
		location.href = "{% url environment.list %}";
	});
	
	$("#accordion").accordion({ autoHeight: false });

	$("#btn_sav_dc").button({ icons: {primary: "ui-icon-plus"}, text: false });
	$("#btn_sav_al").button({ icons: {primary: "ui-icon-plus"}, text: false });
	$("#btn_sav_l3").button({ icons: {primary: "ui-icon-plus"}, text: false });

	autocomplete("{% url acl_path.autocomplete %}", true, "id_acl_path", false);

});


</script>
{% endblock %}

{% block content %}
<div id="page_tab">
	<ul>
		<li><span class="ui-icon ui-icon-triangle-1-e page_tab_icon"></span><a href="#tabs-1">Cadastro de Ambiente</a></li>
	</ul>
	<div id="tabs-1">
		<div id="accordion">
			<h3><a href="#">Composição de Ambientes</a></h3>
			<div>
				<form id="form_divisao_dc" action="{% url environment.insert.divisao.dc %}" method="post" style="float: left; margin-right: 10px">
					{% csrf_token %}
					{% for field in divisaodc_form %}
					<div>
						<div><label for="{{ field.auto_id }}">{{ field.label_tag }}{% if field.field.required %}<span style="color: red;">*</span>{% endif %}</label></div>
						{{ field }}
						{% if forloop.last %}<button id="btn_sav_dc" type="submit" style="margin-left: -2px;">Inserir Divisão DC</button>{% endif %}
						<p id="error">
						{% if field.errors %} 
							{% for error in field.errors %}
								{{ error|escape }}
							{% endfor %}
						{% endif %}
						</p>
					</div>
					{% endfor %}
				</form>
				<form id="form_ambiente_logico" action="{% url environment.insert.ambiente.logico %}" method="post" style="float: left; margin-right: 10px">
					{% csrf_token %}
					{% for field in ambientelogico_form %}
					<div>
						<div><label for="{{ field.auto_id }}">{{ field.label_tag }}{% if field.field.required %}<span style="color: red;">*</span>{% endif %}</label></div>
						{{ field }}
						{% if forloop.last %}<button id="btn_sav_al" type="submit" style="margin-left: -2px;">Inserir Amb. Lógico</button>{% endif %}
						<p id="error">
						{% if field.errors %} 
							{% for error in field.errors %}
								{{ error|escape }}
							{% endfor %}
						{% endif %}
						</p>
					</div>
					{% endfor %}
				</form>
				<form id="form_grupo_l3" action="{% url environment.insert.grupo.l3 %}" method="post" style="float: left;">
					{% csrf_token %}
					{% for field in grupol3_form %}
					<div>
						<div><label for="{{ field.auto_id }}">{{ field.label_tag }}{% if field.field.required %}<span style="color: red;">*</span>{% endif %}</label></div>
						{{ field }}
						{% if forloop.last %}<button id="btn_sav_l3" type="submit" style="margin-left: -2px;">Inserir Grupo L3</button>{% endif %}
						<p id="error">
						{% if field.errors %} 
							{% for error in field.errors %}
								{{ error|escape }}
							{% endfor %}
						{% endif %}
						</p>
					</div>
					{% endfor %}
				</form>
				<div style="clear: left;"></div>
			</div>
		</div>
		<form id="form_environment" action="{{ action }}" method="post">
			{% csrf_token %}
			<div id="fields" class="ui-widget-content">
				{% for field in ambiente %}
					{%if field.name != "max_num_vlan_1" and field.name != "min_num_vlan_1" and field.name != "max_num_vlan_2" and field.name != "min_num_vlan_2"%}
						<div>
							<div><label for="{{ field.auto_id }}">{{ field.label_tag }}{% if field.field.required %}<span style="color: red;">*</span>{% endif %}</label></div>
							{{ field }}
							<p id="error">
							{% if field.errors %}
								{% for error in field.errors %}
									{{ error|escape }}
								{% endfor %}
							{% endif %}
							</p>
						</div>
						
					{% endif %}
				{% endfor %}
				
				<div>
					<div><label for="{{ ambiente.min_num_vlan_1.auto_id }}">Min/Max VLAN 1</label></div>
					{{ ambiente.min_num_vlan_1 }}
					{{ ambiente.max_num_vlan_1 }}
					<p id="error">
						{% if ambiente.min_num_vlan_1.errors %}
							{% for error in ambiente.min_num_vlan_1.errors %}
								{{ error|escape }}
							{% endfor %}
						{% endif %}
						{% if ambiente.max_num_vlan_1.errors %}
							{% for error in ambiente.max_num_vlan_1.errors %}
								{{ error|escape }}
							{% endfor %}
						{% endif %}
					</p>
				</div>
				
				<div>
					<div><label for="{{ ambiente.min_num_vlan_2.auto_id }}">Min/Max VLAN 2</label></div>
					{{ ambiente.min_num_vlan_2 }}
					{{ ambiente.max_num_vlan_2 }}
					<p id="error">
						{% if ambiente.max_num_vlan_2.errors %}
							{% for error in ambiente.max_num_vlan_2.errors %}
								{{ error|escape }}
							{% endfor %}
						{% endif %}
						{% if ambiente.min_num_vlan_2.errors %}
							{% for error in ambiente.min_num_vlan_2.errors %}
								{{ error|escape }}
							{% endfor %}
						{% endif %}
					</p>
				</div>
			</div>
			{% if id_environment %}
			<div id="accordion" style="width:500px;">
				<h3><a href="#"><b>Prefixos de Ambiente</b></a></h3>
				<div id="row-configurations" class="ui-widget-content">	
					<div style="margin-left: 4px;">
						<a href="{% url environment.configuration.add id_environment %}" target="_blank">
							<button type="button" 
							class="btn_add4 ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only ui-state-focus" 
							role="button" 
							aria-disabled="false" 
							title="Adicionar Configuração">
								<span class="ui-button-icon-primary ui-icon ui-icon-plus">
									</span><span class="ui-button-text">
										Adicionar Configuração
									</span>
							</button>
						</a>
					</div>
				</div>
				<!-- configurations -->
				<div id="row-list-configurations" class="ui-widget-content" style="max-height:200px; overflow-y:auto;">
					<table style="padding: 6px; text-align: center;">
						<tbody>
							<tr>			
								<th style="max-width: 200px;width: 200px;">
									<b>Rede</b>
								</th>
								<th style="max-width: 200px;width: 200px;">
									<b>Prefixo</b>
								</th>
								<th style="max-width: 200px;width: 400px;">
									<b>Tipo de rede</b>
								</th>
								<th style="max-width: 20px;width: 20px;">
	
								</th>			
							</tr>
								{% for configuration in configurations_prefix %}
								<tr>
									<td>{{ configuration.subnet }}</td>
									<td>{{ configuration.new_prefix }}</td>
									<td>{% if configuration.network_type %}{{ configuration.network_type }}{% endif %}</td>
									<td>
										<a href="{% url environment.configuration.remove id_environment configuration.id %}">
											<button onclick="return confirm('Deseja deletar a configuração de prefixo ?');" type="button" class="btn_del4 ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only" id="btn_del" role="button" aria-disabled="false" title="Remover">
												<span class="ui-button-icon-primary ui-icon ui-icon-close"></span>
												<span class="ui-button-text">Remover</span>
											</button>
										</a>
									</td>
								</tr>
								{% endfor %}
						</tbody>
					</table>
				</div>
				<!-- /configurations -->
			</div>
			{% endif %}

						
			<div class="separator spacer"></div>
			
			<div class="buttons-l ui-widget-header">
				<button id="btn_sav" type="submit">Gravar</button>
				<button id="btn_can" type="button">Cancelar</button>
			</div>
		</form>
		
	</div>
</div>
{% endblock %}