{% extends "template.html" %}

{% load util %}

{% block title %}[Ambiente - Listagem]{% endblock %}

{% block header %}
<script type="text/javascript">
$(document).ready(function() {
	
	oTable = $("#environment_list").dataTable({
		"aaSorting": [],
		"bJQueryUI": true,
		"sPaginationType": "full_numbers",
		"iDisplayLength": {% max_results %},
		"aoColumnDefs": [{ "bSortable": false, "aTargets": [ 0, 5 ] }]
	});
	
	$("#checkAll").click( function() {
		if ($(this).attr('checked')) {
			$(":checkbox").attr("checked", true);
		} else {
			$(":checkbox").attr("checked", false);
		}
	});
	
	$(".fg-button").live("click", function(){
		$(":checkbox").attr("checked", false);
		$(":checkbox", oTable.fnGetHiddenNodes()).attr("checked", false);
		$("#checkAll").attr("checked", false);
	});
	
	$("#page_tab").tabs();
	
	$("#tool").buttonset();
	
	$("#btn_new").button({ icons: {primary: "ui-icon-document"} }).click(function(){
		location.href = "{% url environment.form %}";
	});
	
	{% has_perm ENVIRONMENT_MANAGEMENT True None %}
	{% if has_perm %}
	$("#btn_del").button({ icons: {primary: "ui-icon-trash"} }).click(function(){
		if (confirm('Deseja realmente excluir o(s) Ambiente(s) selecionado(s)?')){ 
			var data = getSelectionData(oTable);
			$("#id_ids").val(data).parent().submit();
		}
	});
	{% endif %}
	
	$("#btn_ref").button({ icons: {primary: "ui-icon-refresh"} }).click(function(){
		location.reload();
	});
	
	$(".btn_edit").button({ icons: {primary: "ui-icon-pencil"}, text: false });
	$(".btn_edit", oTable.fnGetHiddenNodes()).button({ icons: {primary: "ui-icon-pencil"}, text: false });
	
})
</script>
{% endblock %}

{% block content %}
<div id="page_tab">
	<ul>
		<li><span class="ui-icon ui-icon-triangle-1-e page_tab_icon"></span><a href="#tabs-1">Listagem de Ambientes</a></li>
	</ul>
	<div id="tabs-1">
		<div class="buttons">
			<button id="btn_ref" title="Atualizar dados da listagem">Atualizar</button>
			<span id="tool">
			<button id="btn_new">Novo Registro</button>
			{% has_perm ENVIRONMENT_MANAGEMENT True None %}
			{% if has_perm %}
			<button id="btn_del">Excluir</button>
			{% endif %}
			</span>
		</div>
		{% has_perm ENVIRONMENT_MANAGEMENT True None %}
		{% if has_perm %}
		<form id="delete_form" method="post" action="" style="visibility: hidden;">
			{% csrf_token %}
			{% for field in form %}
				{{ field }}
			{% endfor %}
		</form>
		{% endif %}
		<table id="environment_list">
			<thead>
				<tr>
					<th><input id="checkAll" type="checkbox" /></th>
					<th>Divisão DC</th>					
					<th>Ambiente Lógico</th>
					<th>Grupo Layer3</th>
					<th>Wiki</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for ambiente in environment %}
				<tr>
					<td class="text_center"><input type="checkbox" name="selection" value="{{ ambiente.id }}" /></td>
					<td>{{ ambiente.nome_divisao }}</td>
					<td>{{ ambiente.nome_ambiente_logico }}</td>
					<td>{{ ambiente.nome_grupo_l3 }}</td>
					<td>{% ifequal ambiente.link None %}-{% else %}<a href="{{ ambiente.link }}" target="_blank">wiki</a>{% endifequal %}</td>
					<td class="text_center"><a href="{% url environment.edit ambiente.id %}" style="width: 20px; height: 20px;" class="btn_edit">Editar</a></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}