html body {
    display: grid;
    grid-template-columns: 1fr;
    margin: 10%;
    background-color: #f2fcff;
}

section.container-cadvlan {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 100%;

}

div.form-group-cadvlan {
    border-left: 2px solid #0D84A5;
    margin: 20px;
}

div.form-row-cadvlan {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    margin: 10px;
}

div.form-group {
    margin: 10px;
}

.form-control {
    background-color : #FFFFFF; 
}

input:required {
    border-left-color: #c87392;
    border-left-width: 1px;
}
